<!-- App Header -->
<div class="appHeader no-border transparent position-absolute">
  <div class="left">
    <a
      class="headerButton goBack"
      data-bs-target="#carouselExampleFade"
      data-bs-slide="prev"
      (click)="prev()"
    >
      <ion-icon name="chevron-back-outline"></ion-icon>
    </a>
  </div>
  <div class="pageTitle"></div>
  <div class="right"></div>
</div>
<!-- * App Header -->

<!-- App Capsule -->
<div id="appCapsule" class="section-width mx-auto">
  <div
    id="carouselExampleFade"
    class="carousel slide carousel-fade"
    data-interval="false"
    data-bs-ride="true"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="3"
        aria-label="Slide 4"
      ></button>
    </div>
    <div class="carousel-inner mx-auto">
      <div class="carousel-item active">
        <div class="img mx-auto">
          <img
            src="{{environment.baseUrlDashboard}}assets/images/logos/favicon_trasparent.png"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="section mt-2 text-center">
          <h1>{{ "onboard.tab1.title" | translate }}</h1>
          <p [innerHTML]="'onboard.tab1.text' | translate"></p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="img mx-auto">
          <img
            src="{{environment.baseUrlDashboard}}assets/images/sample/why.png"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="section mt-2 text-center">
          <h1>{{ "onboard.tab2.title" | translate }}</h1>
          <p [innerHTML]="'onboard.tab2.text' | translate"></p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="img mx-auto">
          <img
            src="{{environment.baseUrlDashboard}}assets/images/sample/add-wallet.png"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="section mt-2 text-center">
          <h1>{{ "onboard.tab3.title" | translate }}</h1>
          <p [innerHTML]="'onboard.tab3.text' | translate"></p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="img mx-auto">
          <img
            src="{{environment.baseUrlDashboard}}assets/images/sample/checked.png.png"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="section mt-2 text-center">
          <h1>{{ "onboard.tab4.title" | translate }}</h1>
          <p [innerHTML]="'onboard.tab4.text' | translate"></p>
        </div>
      </div>
    </div>
  </div>

  <div class="form-button-group transparent section-width mx-auto">
    <button
      *ngIf="counter != 4"
      class="btn btn-primary btn-block btn-lg"
      type="button"
      data-bs-target="#carouselExampleFade"
      data-bs-slide="next"
      (click)="next()"
    >
      {{ "onboard.next" | translate }}
    </button>
    <button
      *ngIf="counter === 4"
      class="btn btn-primary btn-block btn-lg"
      type="button"
      routerLink=""
    >
      {{ "onboard.try" | translate }}
    </button>
  </div>
</div>
<!-- * App Capsule -->
