<div class="wallet-card">
  <!-- Balance -->
  <div class="balance">
    <div class="left">
      <div style="display: flex; align-items: center; gap: 10px">
        <a
          class="clickable"
          (click)="hiddenShowAmount()"
          style="
            display: flex;
            align-items: center;
            gap: 8px;
            text-decoration: none;
            color: inherit;
          "
        >
          <span
            class="title"
            style="
              line-height: 0.5;
              display: flex;
              align-items: center;
              margin-top: 8px;
            "
            >{{ "dashboard_page.dashboard_card.title" | translate }}</span
          >
          <ion-icon
            *ngIf="!hidden"
            name="eye-outline"
            style="
              height: 20px;
              width: 20px;
              color: aliceblue;
              display: flex;
              align-items: center;
            "
          ></ion-icon>
          <ion-icon
            *ngIf="hidden"
            name="eye-off-outline"
            style="
              height: 20px;
              width: 20px;
              color: aliceblue;
              display: flex;
              align-items: center;
            "
          ></ion-icon>
        </a>
        <a
          class="clickable"
          (click)="cleanCacheAndRefresh()"
          style="display: flex; align-items: center"
        >
          <ion-icon
            name="refresh-circle-outline"
            style="height: 20px; width: 20px; color: aliceblue"
          ></ion-icon>
        </a>
      </div>

      <h1 id="reportStatement" class="total load-text">
        {{ value }} {{ hidden ? amount : (dashboard?.balance | number) }}
      </h1>
    </div>
    <div class="right">
      <a href="#" routerLink="stats/insert" class="button">
        <ion-icon name="add-outline"></ion-icon>
      </a>
    </div>
  </div>
  <!-- * Balance -->
  <!-- Wallet Footer -->
  <div class="wallet-footer">
    <div class="item">
      <a
        href="#"
        data-bs-toggle="modal"
        attr.data-bs-target="#{{ modalConstant.ADDWALLET }}"
      >
        <div class="icon-wrapper bg-danger zoomx2">
          <ion-icon name="duplicate-outline"></ion-icon>
        </div>
        <strong>{{
          "dashboard_page.dashboard_card.icons.title1" | translate
        }}</strong>
      </a>
    </div>
    <div class="item hidden_desktop">
      <a
        href="#"
        data-bs-toggle="modal"
        attr.data-bs-target="#{{ modalConstant.CATEGORY }}"
      >
        <div class="icon-wrapper zoomx2">
          <ion-icon name="albums-outline"></ion-icon>
        </div>
        <strong>{{
          "dashboard_page.dashboard_card.icons.title2" | translate
        }}</strong>
      </a>
    </div>
    <div class="item hidden_mobile">
      <a routerLink="/crypto/dashboard">
        <div class="icon-wrapper bg-primary zoomx2">
          <img
            src="{{
              environment.baseUrlVersion
            }}assets/images/crypto/Bitcoin-icon.png"
            alt=""
            srcset=""
          />
        </div>
        <strong>{{ "crypto_dashboard_page.title" | translate }}</strong>
      </a>
    </div>
    <div class="item">
      <a href="#" routerLink="wallet">
        <div class="icon-wrapper bg-success zoomx2">
          <ion-icon name="card-outline"></ion-icon>
        </div>
        <strong>{{ "shared_text.wallets" | translate }}</strong>
      </a>
    </div>
    <div class="item">
      <a
        href="#"
        routerLink="stats"
        data-bs-toggle="modal"
        data-bs-target="#dateStatementActionSheet"
      >
        <div class="icon-wrapper bg-warning zoomx2">
          <ion-icon name="bar-chart"></ion-icon>
        </div>
        <strong>{{ "shared_text.resume" | translate }}</strong>
      </a>
    </div>
  </div>
  <!-- * Wallet Footer -->
</div>
