<div class="wallet-card">
  <!-- Balance -->
  <div class="balance">
    <div class="left">
      <a class="clickable" (click)="hiddenShowAmount()">
        <span class="title"
          >{{ "dashboard_page.dashboard_card.title" | translate }}
          <ion-icon
            *ngIf="!hidden"
            name="eye-outline"
            style="
              height: 20px;
              width: 20px;
              align-self: center;
              position: absolute;
              top: 28px;
              color: aliceblue;
            "
            class="ps-1"
          ></ion-icon>
          <ion-icon
            *ngIf="hidden"
            name="eye-off-outline"
            style="
              height: 20px;
              width: 20px;
              align-self: center;
              position: absolute;
              top: 28px;
              color: aliceblue;
            "
            class="ps-1"
          ></ion-icon> </span
      ></a>

      <h1 id="reportStatement" class="total load-text">
        {{ value }} {{ hidden ? amount : (dashboard?.balance | number) }}
      </h1>
    </div>
    <div class="right">
      <a href="#" routerLink="stats/insert" class="button">
        <ion-icon name="add-outline"></ion-icon>
      </a>
    </div>
  </div>
  <!-- * Balance -->
  <!-- Wallet Footer -->
  <div class="wallet-footer">
    <div class="item">
      <a
        href="#"
        data-bs-toggle="modal"
        attr.data-bs-target="#{{ modalConstant.ADDWALLET }}"
      >
        <div class="icon-wrapper bg-danger zoomx2">
          <ion-icon name="duplicate-outline"></ion-icon>
        </div>
        <strong>{{
          "dashboard_page.dashboard_card.icons.title1" | translate
        }}</strong>
      </a>
    </div>
    <div class="item hidden_desktop">
      <a
        href="#"
        data-bs-toggle="modal"
        attr.data-bs-target="#{{ modalConstant.CATEGORY }}"
      >
        <div class="icon-wrapper zoomx2">
          <ion-icon name="albums-outline"></ion-icon>
        </div>
        <strong>{{
          "dashboard_page.dashboard_card.icons.title2" | translate
        }}</strong>
      </a>
    </div>
    <div class="item hidden_mobile">
      <a routerLink="/crypto/dashboard">
        <div class="icon-wrapper bg-primary zoomx2">
          <img
            src="{{
              environment.baseUrlVersion
            }}assets/images/crypto/Bitcoin-icon.png"
            alt=""
            srcset=""
          />
        </div>
        <strong>{{ "crypto_dashboard_page.title" | translate }}</strong>
      </a>
    </div>
    <div class="item">
      <a href="#" routerLink="wallet">
        <div class="icon-wrapper bg-success zoomx2">
          <ion-icon name="card-outline"></ion-icon>
        </div>
        <strong>{{ "shared_text.wallets" | translate }}</strong>
      </a>
    </div>
    <div class="item">
      <a
        href="#"
        routerLink="stats"
        data-bs-toggle="modal"
        data-bs-target="#dateStatementActionSheet"
      >
        <div class="icon-wrapper bg-warning zoomx2">
          <ion-icon name="bar-chart"></ion-icon>
        </div>
        <strong>{{ "shared_text.resume" | translate }}</strong>
      </a>
    </div>
  </div>
  <!-- * Wallet Footer -->
</div>
