.modal-dialog {
  margin: 10px;
  border-radius: 20px;
}
.modal-content {
  border-radius: 20px !important;
}

.dropdown-header {
  margin-top: 0px;
}

.logo {
  color: aliceblue;
}

.imaged {
  width: 32px !important;
  height: 32px !important;
  object-position: center center !important;
  object-fit: cover !important;
}
