.modal-dialog {
  margin: 10px;
  border-radius: 20px;
}
.modal-content {
  border-radius: 20px !important;
}

.dropdown-header {
  margin-top: 0px;
}

.logo {
  color: aliceblue;
}

.imaged {
  width: 32px !important;
  height: 32px !important;
  object-position: center center !important;
  object-fit: cover !important;
}

// Shadow Effect

#shadow:before {
  position: absolute;
  left: 0;
  right: 0;
  top: 60px;
  content: "";
  display: block;
  height: 150px;
  background: #080957;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
  );
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
