.extraHeader {
  margin-top: 20px;
}

@media screen and (max-width: 780px) {
  .extraHeader {
    margin-top: 0px;
  }
  .input-wrapper {
    max-width: 90% !important;
    margin-left: 7% !important;
  }
  app-title-desktop {
    display: none;
  }
  .row {
    margin-right: 0px;
  }
  .addWallet {
    margin-top: 30px !important;
  }
}

.addWallet {
  /*position: absolute;
  float: right !important;
  top: 165px;*/
  margin-top: 65px;
  padding-right: 20px;
}
