<section class="section-width mx-auto">
  <app-header-mobile
    *ngIf="screenService?.screenWidth! <= 780"
    title="{{ 'stats.title' | translate }}"
    backBtn="{{ 'stats.mobile_back' | translate }}"
  >
  </app-header-mobile>

  <!-- Extra Header -->
  <div class="extraHeader pe-0 ps-0">
    <ul class="nav nav-tabs lined" role="tablist">
      <li class="nav-item">
        <a
          class="nav-link active"
          data-bs-toggle="tab"
          href="#tab_stats"
          role="tab"
        >
          {{ "stats.tab_stats" | translate }}
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          data-bs-toggle="tab"
          href="#tab_category"
          role="tab"
        >
          {{ "stats.tab_category" | translate }}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#tab_history" role="tab">
          {{ "stats.tab_history" | translate }}
        </a>
      </li>
    </ul>
  </div>
  <!-- * Extra Header -->

  <!-- App Capsule -->
  <div id="appCapsule" class="extra-header-active full-height">
    <div class="row">
      <app-title-desktop
        class="col-md-6"
        [title]="'stats.title' | translate"
        [back]="'stats.back' | translate"
      ></app-title-desktop>
      <div class="addWallet col-md-6">
        <div class="form-group boxed">
          <div class="input-wrapper" style="max-width: 150px; margin-left: 80%">
            <select
              class="form-control custom-select"
              id="select4b"
              (change)="onChange($event)"
            >
              <option
                *ngFor="let year of years.slice().reverse()"
                value="{{ year }}"
              >
                {{ year }}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <app-content-box
      *ngIf="!wallets || !wallets.length"
      [header]="'stats.nodata.header' | translate"
      [body]="'stats.nodata.body' | translate"
      [footer]="'stats.nodata.footer' | translate"
    ></app-content-box>

    <div *ngIf="resumeData.statsWalletDays" class="transactions row">
      <div class="col-md-6 mt-2">
        <!-- item -->
        <a routerLink="/transaction" class="item">
          <div class="detail">
            <div class="col-auto" style="padding-right: 20px">
              <div
                class="icon icon-shape bg-danger text-white rounded-circle shadow"
              >
                <i class="fas fa-chart-bar"></i>
              </div>
            </div>
            <div>
              <strong>{{ "stats.total" | translate }}</strong>
              <p class="sincetot">
                {{ "stats.since" | translate }}
                {{ resumeData.performanceLastDate | date : "dd MMM y" }}
              </p>
            </div>
          </div>
          <div class="right">
            <div class="price" id="totale">
              {{ dashboardService.coinSymbol }} {{ resumeData.balance }}
            </div>
            <div class="price performancetot">
              <span
                class="{{
                  resumeData.lastStatsPerformance > 0
                    ? 'text-success'
                    : 'text-danger'
                }} mr-2"
                ><i
                  class="fa {{
                    resumeData.lastStatsPerformance > 0
                      ? 'fa-arrow-up'
                      : 'fa-arrow-down'
                  }}"
                ></i>
                {{ resumeData.lastStatsPerformance }}%</span
              >
            </div>
          </div>
        </a>
        <!-- * item -->
      </div>
      <div class="col-md-6 mt-2">
        <!-- item -->
        <a routerLink="/transaction" class="item">
          <div class="detail">
            <div class="col-auto" style="padding-right: 20px">
              <div
                class="icon icon-shape bg-warning text-white rounded-circle shadow"
              >
                <i class="fas fa-poll"></i>
              </div>
            </div>
            <div>
              <strong>{{ "stats.performance" | translate }}</strong>
              <p class="sincetot">
                {{ "stats.since" | translate }}
                {{ resumeData.performanceSince | date : "dd MMM y" }}
              </p>
            </div>
          </div>
          <div class="right">
            <div
              class="price {{
                resumeData.performanceValue > 0 ? 'text-success' : 'text-danger'
              }}"
              id="pil"
            >
              {{ dashboardService.coinSymbol }}
              {{ resumeData.performanceValue }}
            </div>
            <div class="price performancetot">
              <span
                class="{{
                  resumeData.performace > 0 ? 'text-success' : 'text-danger'
                }} mr-2"
                ><i
                  class="fa {{
                    resumeData.performace > 0 ? 'fa-arrow-up' : 'fa-arrow-down'
                  }}"
                ></i>
                {{ resumeData.performace }}%</span
              >
            </div>
          </div>
        </a>
        <!-- * item -->
      </div>
    </div>
    <div class="section tab-content mt-0 mb-2">
      <!-- waiting tab -->
      <div class="tab-pane fade show active" id="tab_stats" role="tabpanel">
        <div class="row">
          <app-data
            *ngIf="wallets && wallets.length"
            [dashboard]="resumeData"
            [coinSymbol]="dashboardService.coinSymbol!"
          ></app-data>
        </div>
      </div>
      <!-- * waiting tab -->

      <!-- deleted tab -->
      <div class="tab-pane fade" id="tab_category" role="tabpanel">
        <div class="row">
          <app-category
            *ngIf="wallets && wallets.length"
            [dashboard]="resumeData"
          ></app-category>
        </div>
      </div>
      <!-- * deleted tab -->

      <!-- history tab -->
      <div class="tab-pane fade" id="tab_history" role="tabpanel">
        <div class="row">
          <app-history
            *ngIf="wallets && wallets.length"
            [resume]="resume"
          ></app-history>
        </div>
      </div>
      <!-- * history tab -->
    </div>
  </div>
  <!-- * App Capsule -->
</section>
