.imaged {
  width: 32px !important;
  height: 32px !important;
  object-position: center center !important;
  object-fit: cover !important;
}

.headerButton {
  max-width: 200px;
}

.dropdown-header {
  margin-top: 0px;
}

.menu {
  margin-top: 15px;
}
