<!-- App Header -->
<div class="appHeader no-border transparent position-absolute">
  <div class="left">
    <a (click)="goBack()" class="headerButton goBack">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </a>
  </div>
  <div class="pageTitle"></div>
  <div class="right">
    <a routerLink="/auth/register" class="headerButton">{{
      "auth.login.register" | translate
    }}</a>
  </div>
</div>
<!-- * App Header -->

<!-- App Capsule -->
<div id="appCapsule" class="section-width mx-auto">
  <div class="section mt-2 text-center">
    <h1>{{ "auth.login.title" | translate }}</h1>
    <h4>{{ "auth.login.subtitle" | translate }}</h4>
  </div>
  <div class="section mb-5 p-2">
    <form #f="ngForm" type="submit">
      <div class="card">
        <div class="card-body pb-1">
          <div class="form-group basic">
            <div class="input-wrapper">
              <label class="label" for="username">{{
                "auth.login.user" | translate
              }}</label>
              <input
                name="username"
                #username1="ngModel"
                [(ngModel)]="username"
                required
                type="text"
                class="form-control"
                id="username"
                placeholder="{{ 'auth.login.userPlaceholder' | translate }}"
              />
              <i class="clear-input">
                <ion-icon name="close-circle"></ion-icon>
              </i>
            </div>
          </div>

          <div class="form-group basic">
            <div class="input-wrapper">
              <label class="label" for="password1">{{
                "auth.login.password" | translate
              }}</label>
              <input
                name="password"
                #password1="ngModel"
                [(ngModel)]="password"
                required
                type="password"
                class="form-control"
                id="password1"
                autocomplete="off"
                placeholder="{{ 'auth.login.passPlaceholder' | translate }}"
              />
              <i class="clear-input">
                <ion-icon name="close-circle"></ion-icon>
              </i>
            </div>
          </div>
        </div>
      </div>
      <div class="form-links mt-2">
        <!--<div>
          <a routerLink="/auth/register">{{
            "auth.login.register" | translate
          }}</a>
        </div>-->
        <div>
          <a
            class="text-muted"
            data-bs-toggle="modal"
            attr.data-bs-target="#{{ modalConstant.INFOAPP }}"
            >{{ "modal.infoApp.title" | translate }}</a
          >
        </div>
        <div *ngIf="environment.forgotPassword">
          <a routerLink="/auth/forgot" class="text-muted">{{
            "auth.login.forgot" | translate
          }}</a>
        </div>
      </div>
      <div class="form-button-group transparent section-width mx-auto">
        <button
          [disabled]="f.invalid"
          type="submit"
          class="btn btn-primary btn-block btn-lg"
          (click)="login()"
        >
          {{ "auth.login.login" | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
<!-- * App Capsule -->
<app-info-app [modalId]="modalConstant.INFOAPP"></app-info-app>
