<div *ngIf="resumeData.assets" class="transactions row">
  <div class="col-md-6 mt-2">
    <!-- item -->
    <a routerLink="/crypto/asset" class="item">
      <div class="detail">
        <div class="col-auto" style="padding-right: 20px">
          <div
            class="icon icon-shape bg-danger text-white rounded-circle shadow"
          >
            <i class="fas fa-chart-bar"></i>
          </div>
        </div>
        <div>
          <strong>{{ "stats.total" | translate }}</strong>
          <p class="sincetot">
            {{ "stats.since" | translate }}
            {{ resumeData.lastUpdate | date : "dd MMM y" }}
          </p>
        </div>
      </div>
      <div class="right float-end">
        <div class="price" id="totale">
          {{ resumeData.currency }} {{ hidden ? amount : resumeData.balance }}
        </div>
        <div class="price performancetot float-end">
          <span
            class="{{
              resumeData.performance.performance == 0
                ? 'text-warning'
                : resumeData.performance.performance > 0
                ? 'text-success'
                : 'text-danger'
            }} mr-2"
            ><i
              class="fa {{
                resumeData.performance.performance > 0
                  ? 'fa-arrow-up'
                  : 'fa-arrow-down'
              }}"
            ></i>
            {{ resumeData.performance.performance }}%</span
          >
        </div>
      </div>
    </a>
    <!-- * item -->
  </div>
  <div class="col-md-6 mt-2">
    <!-- item -->
    <a routerLink="/crypto/asset" class="item">
      <div class="detail">
        <div class="col-auto" style="padding-right: 20px">
          <div
            class="icon icon-shape bg-warning text-white rounded-circle shadow"
          >
            <i class="fas fa-poll"></i>
          </div>
        </div>
        <div>
          <strong>{{ "stats.performance" | translate }}</strong>
          <p class="sincetot">
            {{ "stats.since" | translate }}
            {{ resumeData.holdingLong.lastUpdate | date : "dd MMM y" }}
          </p>
        </div>
      </div>
      <div class="right float-end">
        <div
          class="price {{
            resumeData.holdingLong.balance == 0
              ? 'text-warning'
              : resumeData.holdingLong.balance > 0
              ? 'text-success'
              : 'text-danger'
          }}"
          id="pil"
        >
          {{ resumeData.currency }}
          {{ hidden ? amount : resumeData.holdingLong.balance }}
        </div>
        <div class="price float-end performancetot">
          <span
            class="{{
              resumeData.holdingLong.performance == 0
                ? 'text-warning'
                : resumeData.holdingLong.performance > 0
                ? 'text-success'
                : 'text-danger'
            }} mr-2"
            ><i
              class="fa {{
                resumeData.holdingLong.performance > 0
                  ? 'fa-arrow-up'
                  : 'fa-arrow-down'
              }}"
            ></i>
            {{ resumeData.holdingLong.performance }}%</span
          >
        </div>
      </div>
    </a>
    <!-- * item -->
  </div>

  <div class="mt-2 sec1">
    <div class="section-title">{{ "crypto.resume.assetList" | translate }}</div>
    <div class="transactions row">
      <div
        class="col-xl-3 col-sm-6 mobile-size"
        *ngFor="let asset of resumeDataFilterOnDate.assets"
      >
        <div class="card border_round card-stats mb-4 mb-xl-0">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0">
                  {{ asset.name }} ({{ asset.symbol }})
                </h5>
                <span class="h2 font-weight-bold mb-0" id="tot1"
                  ><small>{{ resumeData.currency }}</small>
                  {{
                    isPast &&
                    asset.history &&
                    asset.history[asset.history.length - 1].balance
                      ? hidden
                        ? amount
                        : asset.history[asset.history.length - 1].balance
                      : hidden
                      ? amount
                      : asset.value
                  }}</span
                >
                <br />
                <span style="margin-left: 1px"
                  ><small
                    >{{ hidden ? amount : asset.balance }}
                    {{ asset.symbol }}</small
                  ></span
                >
              </div>
              <div class="col-auto">
                <img
                  src="{{ asset?.icon }}"
                  alt="img"
                  class="image-block imaged w48 round-img"
                />
              </div>
            </div>
            <p class="mt-3 mb-0 text-muted text-sm">
              <span class="performancesingle0 float-end"
                ><span
                  *ngIf="!asset.deletedDate"
                  class="{{
                    asset.history != undefined
                      ? asset.history![asset.history!.length - 1].percentage ==
                        0
                        ? 'text-warning'
                        : asset.history![asset.history!.length - 1].percentage >
                          0
                        ? 'text-success'
                        : 'text-danger'
                      : 'text-warning'
                  }} mr-2"
                  ><i
                    class="fa {{
                      asset.history != undefined &&
                      asset.history![asset.history!.length - 1].percentage > 0
                        ? 'fa-arrow-up'
                        : 'fa-arrow-down'
                    }}"
                  ></i
                  >{{
                    asset.history != undefined
                      ? asset.history![asset.history!.length - 1].percentage >=
                        1000
                        ? "+"
                        : ""
                      : ""
                  }}
                  {{
                    asset.history != undefined
                      ? asset.history![asset.history!.length - 1].percentage
                      : 0
                  }}%</span
                >
                <span
                  *ngIf="asset.deletedDate"
                  class="badge badge-danger"
                  style="width: 70px"
                  >{{ "stats.data.deleted" | translate }}</span
                ></span
              >
              <span class="text-nowrap sincetot"
                >{{ "stats.since" | translate }}
                {{
                  asset.history != undefined
                    ? asset.history![asset.history!.length - 1].date
                    : ("" | date : "dd MMM y")
                }}</span
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section col-xl-12">
    <div class="section-title">
      {{ "crypto.resume.graphAsset" | translate }}
    </div>
    <div class="card inner-round border_round">
      <apx-chart
        *ngIf="chartOptions"
        [series]="chartOptions.series!"
        [chart]="chartOptions.chart!"
        [title]="chartOptions.title!"
        [colors]="chartOptions.colors!"
        [legend]="chartOptions.legend!"
        [stroke]="chartOptions.stroke!"
        [labels]="chartOptions.labels!"
        type="area"
        class="border_round"
      ></apx-chart>
    </div>
  </div>
  <!-- App Capsule -->
  <div class="section mt-2 mb-4 col-xl-12">
    <div class="section-title">
      {{ "crypto.resume.tableAsset" | translate }}
    </div>
    <div *ngIf="resumeData.assets" class="card">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">
                {{ "stats.data.table_date" | translate }}
              </th>
              <th
                scope="col"
                class="text-center"
                *ngFor="let asset of resumeData.assets"
              >
                <img src="{{ asset.icon }}" class="table-logo" alt="" />
                {{ asset.name }}
              </th>
              <th scope="col" class="text-end">
                {{ "stats.data.table_balance" | translate }}
              </th>
              <th scope="col" class="text-end">
                {{ "stats.data.table_trend" | translate }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let balances of tableBalance.slice().reverse();
                let i = index
              "
            >
              <th scope="row">
                {{ balances[balances.length - 2].date | date : "d MMM y" }}
              </th>
              <td
                class="{{
                  balances.index != y
                    ? balance.percentage === 0
                      ? 'text-warning'
                      : balance.percentage > 0
                      ? 'text-success'
                      : 'text-danger'
                    : ''
                }} {{
                  balances.index - 1 === y || balances.index === y
                    ? 'text-end'
                    : 'text-center'
                }}
      {{
                  balances.index === y
                    ? balance.balance === 0
                      ? 'text-warning'
                      : balance.balance > 0
                      ? 'text-success'
                      : 'text-danger'
                    : ''
                }}"
                *ngFor="let balance of balances; let y = index"
              >
                {{ resumeData.currency }}
                {{ hidden ? amount : balance.balance }}
                <span *ngIf="balances.index != y"
                  >({{
                    balance.percentage >= 1000 ? "+1000" : balance.percentage
                  }}%)</span
                >
              </td>
            </tr>
          </tbody>
        </table>
        <div
          *ngIf="tableBalance.length == 0"
          class="mx-auto text-center alert alert-danger mb-1"
          role="alert"
        >
          {{ "crypto.resume.warning" | translate }}
        </div>
      </div>
    </div>
  </div>
</div>
