@media screen and (max-width: 780px) {
  .transactions {
    margin-left: -10px !important;
    margin-right: -10px !important;
  }
  .mobile-size {
    margin-bottom: -15px;
  }
  .inner-round {
    min-height: 200px;
  }
}
.icon-shape {
  display: inline-flex;
  padding: 12px;
  text-align: center;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.icon {
  width: 3rem;
  height: 3rem;
}

.round-img {
  border-radius: 50%;
}

.transactions {
  margin: 0px;
}
.item {
  border-radius: 20px;
}

.table-logo {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}

.inner-round {
  min-height: 350px;
}
