<section class="section-width mx-auto">
  <app-header-mobile
    *ngIf="screenService?.screenWidth! <= 780"
    [title]="'transaction.title' | translate"
    [backBtn]="'transaction.mobile_back' | translate"
  >
  </app-header-mobile>

  <!-- App Capsule -->
  <div id="appCapsule" class="mx_">
    <app-title-desktop
      [title]="'transaction.title' | translate"
      [back]="'transaction.back' | translate"
    ></app-title-desktop>

    <!-- Transactions -->
    <div class="section mt-2 mb-2">
      <div class="hidden_desktop mt-4">
        <p class="text-start fs-2 title-page">
          {{ "transaction.title" | translate }}
        </p>
        <p class="card-subtitle text-start mb-1 fs-6">
          <small>{{ "transaction.subTitle" | translate }}</small>
        </p>
      </div>
      <div class="section-title mt-2">
        {{ dashboard?.performanceLastDate | date : "dd MMM y" }}
      </div>
      <div class="transactions">
        <app-content-box
          *ngIf="!dashboard?.wallets || !dashboard?.wallets?.length"
          [header]="'dashboard.transaction.nodata.header' | translate"
          [body]="'dashboard.transaction.nodata.body' | translate"
          [footer]="'dashboard.transaction.nodata.footer' | translate"
        ></app-content-box>
        <div *ngFor="let wallet of dashboard?.wallets; let i = index">
          <app-transaction-card
            [class]="
              wallet.differenceLastStats === 0
                ? 'text-warning'
                : wallet.differenceLastStats > 0
                ? 'text-success'
                : 'text-danger'
            "
            [differenceLastStats]="
              wallet.differenceLastStats + ' ' + userService.coinSymbol
            "
            [wallet]="wallet"
          >
          </app-transaction-card>
        </div>
      </div>
    </div>
    <!-- * Transactions -->
    <div align="center">
      <img
        src="{{environment.baseUrlDashboard}}assets/images/logos/logo_transparent_gray_land.png"
        alt=""
        srcset=""
        style="width: 150px"
        class="pb-1 pt-1"
      />
    </div>
  </div>
  <!-- * App Capsule -->
</section>
