<div id="{{ wrapperID }}" class="wrapper selectCryptoAsset">
  <div
    class="{{ isOperation ? 'select-btn-op float-end' : 'select-btn' }}"
    (click)="openCloseSelect()"
  >
    <span *ngIf="!isOperation"
      ><img
        src="{{ assetSelected?.icon }}"
        alt="avatar"
        class="imaged d-inline w30 rounded me-1"
      />
      {{ assetSelected?.name }} - {{ assetSelected?.symbol }}</span
    >
    <span *ngIf="isOperation" style="color: aliceblue"
      ><img
        src="{{ assetSelected?.icon }}"
        alt="avatar"
        class="imaged d-inline w30s rounded me-1"
      />
      {{ assetSelected?.symbol }}</span
    >
    <ion-icon name="chevron-down-outline"></ion-icon>
  </div>
  <div
    class="content"
    attr.style="{{ isOperation ? 'position: absolute; z-index: 1' : '' }}"
  >
    <div class="search">
      <ion-icon name="search-outline"></ion-icon>
      <input
        [(ngModel)]="search"
        #name="ngModel"
        spellcheck="false"
        type="text"
        (keyup)="onKeySearch($event)"
        placeholder="Search"
      />
    </div>
    <ul class="options">
      <li
        (click)="selectAssetInput(asset.name!)"
        *ngFor="let asset of filterCryptoPrices; let index"
      >
        <img
          src="{{ asset.icon }}"
          alt="avatar"
          class="imaged d-inline w30 rounded me-1"
        />
        {{ asset.name }} - {{ asset.symbol }}
      </li>
    </ul>
  </div>
</div>
<!--<div *ngIf="!isAssetSelected" class="row">
                  <div class="col-md-5">
                    <div class="form-group basic">
                      <div class="input-wrapper">
                        <input
                          name="name"
                          class="form-control"
                          rows="5"
                          [(ngModel)]="search"
                          #name="ngModel"
                          type="text"
                          class="form-control"
                          id="text11"
                          (keyup)="onKeySearch($event)"
                          placeholder="🔍 {{
                            'modal_component.asset.searchAsset'
                              | translate
                          }}"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-7">
                    <div class="select" tabindex="1">
                      <div *ngFor="let asset of filterCryptoPrices">
                        <input
                          class="selectopt"
                          name="test"
                          type="radio"
                          required
                          id="{{ asset.identifier }}"
                          checked
                          (click)="selectAssetInput(asset.name!)"
                        />
                        <label for="{{ asset.identifier }}" class="option"
                          ><img
                            src="{{ asset.icon }}"
                            alt="avatar"
                            class="imaged d-inline w30 rounded me-1"
                          />
                          {{ asset.name }} - {{ asset.symbol }}</label
                        >
                      </div>
                    </div>
                  </div>-->
