<section class="section-width mx-auto">
  <app-header-mobile
    *ngIf="isMobile()"
    [title]="'transactions_page.details.title' | translate"
    [backBtn]="'shared_text.mobile_back' | translate"
  >
  </app-header-mobile>
  <!-- App Capsule -->
  <div id="appCapsule" class="full-height color-grey">
    <app-title-desktop
      [title]="'transactions_page.details.title' | translate"
    ></app-title-desktop>

    <div class="section mt-2 mb-2">
      <div class="listed-detail mt-3">
        <div class="icon-wrapper">
          <!--<div class="iconbox">
                        <ion-icon name="arrow-forward-outline"></ion-icon>

                    </div>-->
          <img
            src="{{ wallet?.img }}"
            alt="img"
            class="image-block imaged w48"
          />
        </div>
        <h3 class="text-center mt-2">{{ wallet?.name }}</h3>
      </div>

      <ul class="listview flush transparent simple-listview no-space mt-3">
        <li>
          <strong>{{ "transactions_page.details.status" | translate }}</strong>
          <span class="text-success">{{
            "transactions_page.details.success" | translate
          }}</span>
        </li>
        <li>
          <strong>{{ "shared_text.category" | translate }}</strong>
          <span>{{ wallet?.category }}</span>
        </li>
        <li>
          <strong>{{ "transactions_page.difference" | translate }}</strong>
          <span class="{{ class }}"
            >{{ wallet?.differenceLastStats }} {{ coinSymbol }}</span
          >
        </li>
        <li>
          <strong>{{ "transactions_page.details.date" | translate }}</strong>
          <span>{{ wallet?.dateLastStats | date : "MMM dd, y HH:mm" }}</span>
        </li>
        <li>
          <strong>{{ "shared_text.amount" | translate }}</strong>
          <h3 class="m-0">{{ coinSymbol }} {{ wallet?.balance }}</h3>
        </li>
      </ul>
    </div>
    <hr />
    <div class="section mt-2" *ngIf="wallet?.history?.length">
      <div class="section-title">
        {{ "transactions_page.sub_title" | translate }}
      </div>
      <div class="card">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">
                  {{ "transactions_page.details.date" | translate }}
                </th>
                <th scope="col" class="text-end">
                  {{ "shared_text.amount" | translate }}
                </th>
                <th scope="col" class="text-end">%</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let history of wallet?.history!.slice().reverse();
                  let i = index
                "
              >
                <th scope="row">{{ history.date | date : "MMM dd, y" }}</th>
                <td class="text-end text-primary">
                  {{ coinSymbol }} {{ history.balance }}
                </td>
                <td
                  class="text-end {{
                    history.percentage === 0
                      ? 'text-warning'
                      : history.percentage > 0
                      ? 'text-success'
                      : 'text-danger'
                  }}"
                >
                  {{ history.percentage >= 1000 ? "+" : "" }}
                  {{ history.percentage }} %
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- * App Capsule -->
</section>
