.full-height{
    background-color: #161129 !important;
}

@media screen and (min-width: 780px) {
    .full-height{
        padding-top: 80px !important;
    }
}

.title-section {
    margin-left: 30px;
    margin-top: 20px;
}

.section-title {
    margin-left: 20px;
}

@media screen and (max-width: 780px) {
    .title-section {
        display: none;
    }
}

.link {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: left;
    color: rgba(255, 255, 255, 0.4);
    margin-top: 100px;
    color: #fff;
    text-decoration: none;
}

.link:hover {
    color: rgba(255, 255, 255, 0.5);
}