.extraHeader {
  margin-top: 20px;
}

@media screen and (max-width: 780px) {
  .extraHeader {
    margin-top: 5px;
  }
  .addWallet {
    display: none;
  }
}

.addWallet {
  /*position: absolute;
  float: right !important;
  top: 165px;*/
  margin-top: 65px;
  padding-right: 20px;
}
