<section class="section-width mx-auto">
  <app-header-mobile
    *ngIf="isMobile()"
    title="{{ 'wallets_page.title' | translate }}"
    backBtn="{{ 'shared_text.mobile_back' | translate }}"
    rightBtn="{{ 'wallets_page.mobile_add' | translate }}"
    [dataBsTarget]="modalConstant.ADDWALLET"
  >
  </app-header-mobile>

  <!-- Extra Header -->
  <div class="extraHeader pe-0 ps-0">
    <ul class="nav nav-tabs lined" role="tablist">
      <li class="nav-item">
        <a
          class="nav-link active"
          data-bs-toggle="tab"
          href="#active"
          role="tab"
        >
          {{ "wallets_page.active" | translate }}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#deleted" role="tab">
          {{ "wallets_page.deleted" | translate }}
        </a>
      </li>
    </ul>
  </div>
  <!-- * Extra Header -->

  <!-- App Capsule -->
  <div id="appCapsule" class="extra-header-active full-height">
    <div class="row">
      <app-title-desktop
        class="col-md-6"
        [title]="'wallets_page.title' | translate"
      ></app-title-desktop>
      <div class="addWallet col-md-6 text-end">
        <button
          type="button"
          class="btn btn-primary me-1 mb-1"
          data-bs-toggle="modal"
          attr.data-bs-target="#{{ modalConstant.ADDWALLET }}"
        >
          {{ "wallets_page.add" | translate }}
        </button>
      </div>
    </div>

    <app-content-box
      *ngIf="!wallets || !wallets.length"
      [header]="'wallets_page.title' | translate"
      [body]="'wallets_page.empty_body_text' | translate"
    ></app-content-box>
    <div class="section tab-content mt-0 mb-2">
      <!-- waiting tab -->
      <div class="tab-pane fade show active" id="active" role="tabpanel">
        <div class="row">
          <!--<app-wallet-card
            *ngFor="let wallet of walletActive(wallets)"
            [style]="
              'background-image: url(' +
              wallet!.img +
              ') !important; box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.85)'
            "
            class="col-xl-2 col-md-3 mt-3 col-sm-4 col-6"
            [coinSymbol]="coinSymbol"
            [wallet]="wallet"
            [btn]="'wallets_page.open' | translate"
            [hiddenAmount]="hidden"
          >
          </app-wallet-card>-->
          <app-wallet-card
            *ngFor="let wallet of walletActive(wallets)"
            class="col-xl-2 col-md-3 mt-3 col-sm-4 col-6"
            [coinSymbol]="coinSymbol"
            [wallet]="wallet"
            [btn]="'wallets_page.open' | translate"
            [hiddenAmount]="hidden"
          >
          </app-wallet-card>
        </div>
      </div>
      <!-- * waiting tab -->

      <!-- deleted tab -->
      <div class="tab-pane fade" id="deleted" role="tabpanel">
        <div class="row">
          <!--<app-wallet-card
            *ngFor="let wallet of walletDeleted(wallets)"
            [style]="
              'background-image: url(' +
              wallet!.img +
              ') !important; box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.85)'
            "
            class="col-xl-2 col-md-3 mt-3 col-sm-4 col-6"
            [wallet]="wallet"
            [btn]="'wallets_page.open' | translate"
            [hiddenAmount]="hidden"
          >
          </app-wallet-card>-->
          <app-wallet-card
            *ngFor="let wallet of walletDeleted(wallets)"
            class="col-xl-2 col-md-3 mt-3 col-sm-4 col-6"
            [wallet]="wallet"
            [btn]="'wallets_page.open' | translate"
            [hiddenAmount]="hidden"
          >
          </app-wallet-card>
        </div>
      </div>
      <!-- * deleted tab -->
    </div>
  </div>
  <!-- * App Capsule -->
</section>

<app-add-wallet
  [modalId]="modalConstant.ADDWALLET"
  (emitAddWallet)="addWallet($event)"
></app-add-wallet>
