<!-- Date list Action Sheet: USE modalbox for fullscreen -->
<div class="modal fade action-sheet scroll" id="{{modalConstant.ACCOUNTDETAILS}}" tabindex="-1" role="dialog"
    data-bs-focus="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-round mx-auto">
            <div class="modal-header">
                <h5 class="modal-title">{{"modal.socialList.title" | translate}}</h5>
                <!--<a href="javascript:;" data-bs-dismiss="modal">{{"modal.socialList.close" | translate}}</a>-->
            </div>
            <div class="modal-body">
                <div class="card">
                    <form #f="ngForm" type="submit">
                        <div class="card-body">
                            <div *ngIf="github?.avatar_url" class="section mt-3 text-center">
                                <div class="avatar-section">
                                    <a href="#">
                                        <img src="{{ github.avatar_url }}" alt="avatar" class="imaged w100 rounded" />
                                        <span class="button">
                                            <ion-icon name="camera-outline"></ion-icon>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="form-group boxed">
                                <div class="input-wrapper">
                                    <label class="label" for="username">{{"modal.socialDetails.user" |
                                        translate}}</label>
                                    <input type="text" class="form-control" id="username" name="username"
                                        class="form-control" rows="5" [(ngModel)]="username" #username1="ngModel"
                                        required placeholder="Enter an User ID">
                                    <i class="clear-input">
                                        <ion-icon name="close-circle"></ion-icon>
                                    </i>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="github || github != undefined">
                            <div class="listview-title mt-1">{{"modal.socialDetails.details" |
                                translate}}</div>
                            <ul class="listview image-listview text mb-2 inset">
                                <li>
                                    <a class="item">
                                        <div class="in">
                                            <div>{{"modal.socialDetails.githubId" | translate}}</div>
                                            <span class="text-primary">{{github.id}}</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a class="item">
                                        <div class="in">
                                            <div>{{"modal.socialDetails.created" | translate}}</div>
                                            <span class="text-primary">{{github.created_at | date: "dd MMM y"}}</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a class="item">
                                        <div class="in">
                                            <div>{{"modal.socialDetails.updated" | translate}}</div>
                                            <span class="text-primary">{{github.updated_at | date: "dd MMM y"}}</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a class="item">
                                        <div class="in">
                                            <div>{{"modal.socialDetails.followers" | translate}}</div>
                                            <span class="text-primary">{{github.followers}}</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a class="item">
                                        <div class="in">
                                            <div>{{"modal.socialDetails.following" | translate}}</div>
                                            <span class="text-primary">{{github.following}}</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{github.html_url}}" target="_blank" class="item">
                                        <div class="in">
                                            <div>{{"modal.socialDetails.url" | translate}}</div>
                                            <span class="text-primary">{{github.username}}</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-footer">
                            <div *ngIf="!github || github === undefined" class="form-group basic">
                                <button (click)="syncGithubAccount()" type="button"
                                    class="btn btn-primary btn-block btn-lg" data-bs-dismiss="modal">
                                    {{ "modal.socialDetails.connect" | translate }}
                                </button>
                            </div>
                            <div *ngIf="github || github != undefined" class="form-group basic">
                                <button (click)="disconnectGithubAccount()" type="button"
                                    class="btn btn-primary btn-block btn-lg" data-bs-dismiss="modal">
                                    {{ "modal.socialDetails.disconnect" | translate }}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>