<section class="section-width mx-auto">
  <app-header-mobile
    *ngIf="isMobile()"
    [title]="'wallet.details.transaction.history.title' | translate"
    [backBtn]="'wallet.details.transaction.history.mobile_back' | translate"
  >
  </app-header-mobile>

  <!-- App Capsule -->
  <div id="appCapsule">
    <app-title-desktop
      [title]="'wallet.details.transaction.history.title' | translate"
      [back]="'wallet.details.transaction.history.back' | translate"
    ></app-title-desktop>

    <!-- History -->
    <div class="hidden_desktop mt-4 ms-2">
      <p class="text-start fs-2 title-page">
        {{ "transactions_page.title" | translate }}
      </p>
      <p class="card-subtitle text-start mb-1 fs-6">
        <small>{{ "transactions_page.sub_title" | translate }}</small>
      </p>
    </div>
    <!-- History -->
    <div
      class="section mt-3 mb-3"
      *ngFor="let year of uniqueYears?.slice()?.reverse()"
    >
      <div class="section-title">
        {{ "wallet.details.transaction.history.title" | translate }} {{ year }}
      </div>
      <div class="card">
        <div
          *ngFor="
            let stats of walletMap?.get(year)?.slice()?.reverse();
            let i = index
          "
        >
          <app-wallet-history-card
            [stats]="stats"
            [hidden]="hidden"
          ></app-wallet-history-card>
        </div>
      </div>
    </div>
    <!-- History -->
    <div align="center">
      <img
        src="{{
          environment.baseUrlDashboard
        }}assets/images/logos/logo_transparent_gray_land.png"
        alt=""
        srcset=""
        style="width: 150px"
        class="pb-1"
      />
    </div>
  </div>
  <!-- * App Capsule -->
</section>
