<!-- App Bottom Menu -->
<div id="footer" class="appBottomMenu">
  <a id="dashboard" (click)="goToDashboard()" routerLink="" class="item active">
    <div class="col">
      <ion-icon name="home"></ion-icon>
      <strong>{{ "dashboard.footer.title1" | translate }}</strong>
    </div>
  </a>
  <a id="stats" class="item" (click)="goToStats()" routerLink="/stats">
    <div class="col">
      <ion-icon name="bar-chart"></ion-icon>
      <strong>{{ "dashboard.footer.title2" | translate }}</strong>
    </div>
  </a>
  <a routerLink="crypto/dashboard" class="item">
    <!-- href="#" data-bs-toggle="modal"
    attr.data-bs-target="#{{ modalConstant.VERSION }}"-->
    <div class="col">
      <div class="action-button large bg-primary">
        <img
          src="{{
            environment.baseUrlSettings
          }}assets/images/crypto/Bitcoin-icon.png"
          alt=""
          srcset=""
        />
        <!--<ion-icon name="logo-bitcoin"></ion-icon>
        <ion-icon name="arrow-up"></ion-icon>-->
      </div>
    </div>
  </a>

  <a id="wallet" (click)="goToWallet()" routerLink="wallet" class="item">
    <div class="col">
      <ion-icon name="card"></ion-icon>
      <strong>{{ "dashboard.footer.title3" | translate }}</strong>
    </div>
  </a>
  <a id="settings" (click)="goToSettings()" routerLink="/settings" class="item">
    <div class="col">
      <ion-icon name="settings"></ion-icon>
      <strong>{{ "dashboard.footer.title4" | translate }}</strong>
    </div>
  </a>
</div>
<!-- * App Bottom Menu -->

<app-version [modalId]="modalConstant.VERSION"></app-version>
