.modal-content {
  max-width: 1000px !important;
  border-radius: 20px !important;
  width: 95% !important;
  margin-bottom: 5px;
}
.iconbox1 {
  font-size: 64px;
  margin: 10px 0 5px 0;
  text-align: center;
}

.modal-body {
  height: 480px;
}
