#appCapsule {
  margin-top: 10px;
  //max-width: 1000px;
}

@media screen and (max-width: 780px) {
  .title-section {
    margin-left: 20px;
    margin-bottom: 0px !important;
  }
  .row {
    margin-right: 0px !important;
    .card {
      margin-right: -8px;
    }
    .transactions {
      margin-right: -20px !important;
    }
  }
}

.transactions {
  margin-top: -10px;
  margin-left: -15px !important;
  margin-right: -15px !important;
}
