<div class="mx-auto section-width">
  <app-crypto-header
    title="{{ 'crypto.asset.title' | translate }}"
  ></app-crypto-header>

  <!-- App Capsule -->
  <div id="appCapsule" class="mx-auto">
    <div class="section hidden_mobile mt-2">
      <div
        *ngIf="cryptoDashboard.assets"
        class="transactions row"
        style="
          margin-top: -15px;
          margin-left: 5px !important;
          margin-right: 5px !important;
        "
      >
        <div class="col-md-6 mt-2">
          <!-- item -->
          <a routerLink="/crypto/asset" class="item">
            <div class="detail">
              <div class="col-auto" style="padding-right: 20px">
                <div
                  class="icon icon-shape bg-danger text-white rounded-circle shadow"
                >
                  <i class="fas fa-chart-bar"></i>
                </div>
              </div>
              <div>
                <strong>{{ "stats.total" | translate }}</strong>
                <p class="sincetot">
                  {{ "stats.since" | translate }}
                  {{ cryptoDashboard.lastUpdate | date : "dd MMM y" }}
                </p>
              </div>
            </div>
            <div class="right float-end">
              <div class="price" id="totale">
                {{ cryptoDashboard.currency }}
                {{ hidden ? amount : cryptoDashboard.balance }}
              </div>
              <div class="price performancetot float-end">
                <span
                  class="{{
                    cryptoDashboard.performance.performance == 0
                      ? 'text-warning'
                      : cryptoDashboard.performance.performance > 0
                      ? 'text-success'
                      : 'text-danger'
                  }} mr-2"
                  ><i
                    class="fa {{
                      cryptoDashboard.performance.performance > 0
                        ? 'fa-arrow-up'
                        : 'fa-arrow-down'
                    }}"
                  ></i>
                  {{ cryptoDashboard.performance.performance }}%</span
                >
              </div>
            </div>
          </a>
          <!-- * item -->
        </div>
        <div class="col-md-6 mt-2">
          <!-- item -->
          <a routerLink="/crypto/asset" class="item">
            <div class="detail">
              <div class="col-auto" style="padding-right: 20px">
                <div
                  class="icon icon-shape bg-warning text-white rounded-circle shadow"
                >
                  <i class="fas fa-poll"></i>
                </div>
              </div>
              <div>
                <strong>{{ "stats.performance" | translate }}</strong>
                <p class="sincetot">
                  {{ "stats.since" | translate }}
                  {{
                    cryptoDashboard.holdingLong.lastUpdate | date : "dd MMM y"
                  }}
                </p>
              </div>
            </div>
            <div class="right float-end">
              <div
                class="price {{
                  cryptoDashboard.holdingLong.balance == 0
                    ? 'text-warning'
                    : cryptoDashboard.holdingLong.balance > 0
                    ? 'text-success'
                    : 'text-danger'
                }}"
                id="pil"
              >
                <div>
                  {{ cryptoDashboard.currency }}
                  {{ hidden ? amount : cryptoDashboard.holdingLong.balance }}
                </div>
              </div>
              <div class="price float-end performancetot">
                <span
                  class="{{
                    cryptoDashboard.holdingLong.performance == 0
                      ? 'text-warning'
                      : cryptoDashboard.holdingLong.performance > 0
                      ? 'text-success'
                      : 'text-danger'
                  }} mr-2"
                  ><i
                    class="fa {{
                      cryptoDashboard.holdingLong.performance > 0
                        ? 'fa-arrow-up'
                        : 'fa-arrow-down'
                    }}"
                  ></i>
                  {{ cryptoDashboard.holdingLong.performance }}%</span
                >
              </div>
            </div>
          </a>
          <!-- * item -->
        </div>
      </div>
      <!--<div class="card">
        <div class="card-body">
          <div class="row">
            <div
              class="col-md-3 text-center"
              style="margin-top: -5px; margin-bottom: -25px"
            >
              <p class="card-title">
                {{ "crypto.dashboard.cardRes.title" | translate }}
              </p>
              <h5 class="card-text fs-3">
                {{ cryptoDashboard.balance }} {{ cryptoDashboard.currency }}
              </h5>
              <p style="margin-top: -15px">
                {{ cryptoDashboard.btcBalance }} BTC
              </p>
            </div>
            <div class="col-md-3 text-center">
              <p class="title">
                {{ "crypto.dashboard.performanceCard.holding" | translate }}
              </p>
              <h5 class="card-text fs-3">
                {{ cryptoDashboard.holdingLong.balance }}
                {{ cryptoDashboard.currency }}
                <span style="vertical-align: 3px" class="badge badge-success">
                  <ion-icon name="arrow-up-outline"></ion-icon>
                  {{ cryptoDashboard.holdingLong.performance }}%
                </span>
              </h5>
            </div>
            <div class="col-md-3 text-center">
              <p class="title">
                {{ "crypto.dashboard.performanceCard.trading" | translate }}
              </p>
              <h5 class="card-text fs-3">
                {{ cryptoDashboard.trading.balance }}
                {{ cryptoDashboard.currency }}
                <span style="vertical-align: 3px" class="badge badge-success">
                  <ion-icon name="arrow-up-outline"></ion-icon>
                  {{ cryptoDashboard.trading.performance }}%
                </span>
              </h5>
            </div>
            <div class="col-md-3 text-center">
              <p class="title">
                {{ "crypto.dashboard.performanceCard.performance" | translate }}
              </p>
              <h5 class="card-text fs-3">
                {{ cryptoDashboard.performance.balance }}
                {{ cryptoDashboard.currency }}
                <span style="vertical-align: 3px" class="badge badge-success">
                  <ion-icon name="arrow-up-outline"></ion-icon>
                  {{ cryptoDashboard.performance.performance }}%
                </span>
              </h5>
            </div>
          </div>
        </div>
      </div>-->
    </div>
    <div class="row margin-bottom-size">
      <div class="col-md-7">
        <div class="title-section hidden_desktop">
          <p class="card-title">
            {{ "crypto.dashboard.cardRes.title" | translate }}
          </p>
          <h5 class="card-text fs-3">
            {{ hidden ? amount : cryptoDashboard.balance }}
            {{ cryptoDashboard.currency }}
          </h5>
          <p style="margin-top: -15px">
            {{ hidden ? amount : cryptoDashboard.btcBalance }} BTC
          </p>
        </div>
        <div class="section mt-2">
          <div class="section-title hidden_mobile">
            {{ "crypto.asset.assetGraph" | translate }}
          </div>
          <div class="card border_round">
            <div class="card-body pt-1">
              <!-- tabs -->
              <ul class="nav nav-tabs lined" role="tablist">
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    data-bs-toggle="tab"
                    href="#tab-1y"
                    role="tab"
                    (click)="graph1Y()"
                  >
                    1Y
                  </a>
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    data-bs-toggle="tab"
                    href="#tab-3y"
                    role="tab"
                    (click)="graph3Y()"
                  >
                    3Y
                  </a>
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    data-bs-toggle="tab"
                    href="#tab-all"
                    role="tab"
                    (click)="graphAll()"
                  >
                    All
                  </a>
                </li>
              </ul>
              <!-- * tabs -->
            </div>

            <!-- tab content -->
            <div class="tab-content">
              <div
                class="tab-pane fade show active"
                id="tab-1y"
                role="tabpanel"
              >
                <div class="inner-round">
                  <apx-chart
                    *ngIf="chart1Y"
                    [series]="chart1Y.series!"
                    [chart]="chart1Y.chart!"
                    [title]="chart1Y.title!"
                    [colors]="chart1Y.colors!"
                    [legend]="chart1Y.legend!"
                    [stroke]="chart1Y.stroke!"
                    [labels]="chart1Y.labels!"
                    type="area"
                  ></apx-chart>
                </div>
              </div>
              <div class="tab-pane fade" id="tab-3y" role="tabpanel">
                <div class="inner-round">
                  <apx-chart
                    *ngIf="chart3Y"
                    [series]="chart3Y.series!"
                    [chart]="chart3Y.chart!"
                    [title]="chart3Y.title!"
                    [colors]="chart3Y.colors!"
                    [legend]="chart3Y.legend!"
                    [stroke]="chart3Y.stroke!"
                    [labels]="chart3Y.labels!"
                    type="area"
                  ></apx-chart>
                </div>
              </div>
              <div class="tab-pane fade" id="tab-all" role="tabpanel">
                <div class="inner-round">
                  <apx-chart
                    *ngIf="chartOptions"
                    [series]="chartOptions.series!"
                    [chart]="chartOptions.chart!"
                    [title]="chartOptions.title!"
                    [colors]="chartOptions.colors!"
                    [legend]="chartOptions.legend!"
                    [stroke]="chartOptions.stroke!"
                    [labels]="chartOptions.labels!"
                    type="area"
                    class="border_round"
                  ></apx-chart>
                </div>
              </div>
            </div>
            <!-- * tab content -->
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <!-- Portfolio -->
        <div class="section mt-2 mb-2">
          <div class="section-heading">
            <div class="section-title">
              {{ "crypto.asset.assetList" | translate }}
            </div>
            <a
              *ngIf="!showZeroBalance"
              (click)="zeroBalanceSwitch()"
              class="link clickable"
            >
              <ion-icon
                name="eye-outline"
                style="width: 20px; height: 20px; vertical-align: -5px"
              ></ion-icon>
              {{ "crypto.asset.show" | translate }}</a
            >
            <a
              *ngIf="showZeroBalance"
              (click)="zeroBalanceSwitch()"
              class="link clickable"
            >
              <ion-icon
                name="eye-off-outline"
                style="width: 20px; height: 20px; vertical-align: -5px"
              ></ion-icon>
              {{ "crypto.asset.hidden" | translate }}</a
            >
          </div>
          <div class="transactions">
            <div *ngFor="let asset of assets; let i = index">
              <app-transaction-card
                [hiddenAmount]="hidden"
                *ngIf="
                  !showZeroBalance ? asset.balance > 0 : asset.balance >= 0
                "
                [assets]="asset"
                [currency]="cryptoDashboard.currency"
              >
              </app-transaction-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-operations-modal
  [modalId]="modalConstant.ADDOPERATIONS"
  [wallets]="cryptoDashboard.wallets"
  [assets]="cryptoDashboard.assets"
  [currency]="cryptoDashboard.currency"
  [statsAssetsDays]="cryptoDashboard.statsAssetsDays"
  (emitAddStats)="getAssets()"
></app-operations-modal>
