#appCapsule {
  margin-top: 10px;
  //max-width: 1000px;
}

@media screen and (max-width: 780px) {
  .title-section {
    margin-left: 20px;
    margin-bottom: 0px !important;
  }
  .row {
    margin-right: 0px !important;
    .card {
      margin-right: -8px;
    }
    .transactions {
      margin-right: -20px !important;
    }
  }
}

.transactions {
  margin-top: -10px;
  margin-left: -15px !important;
  margin-right: -15px !important;
}
.icon-shape {
  display: inline-flex;
  padding: 12px;
  text-align: center;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.icon {
  width: 3rem;
  height: 3rem;
}

.round-img {
  border-radius: 50%;
}

.item {
  border-radius: 20px;
}
