<div class="mx-auto section-width">
  <app-crypto-header
    title="{{ 'crypto.asset.title' | translate }}"
  ></app-crypto-header>

  <!-- App Capsule -->
  <div id="appCapsule" class="mx-auto">
    <apx-chart
      *ngIf="chartOptions"
      [series]="chartOptions.series!"
      [chart]="chartOptions.chart!"
      [title]="chartOptions.title!"
      [colors]="chartOptions.colors!"
      [legend]="chartOptions.legend!"
      [stroke]="chartOptions.stroke!"
      [labels]="chartOptions.labels!"
      type="area"
      class="border_round"
    ></apx-chart>
    <div class="title-section">
      <h3 class="title">{{ "crypto.asset.assetList" | translate }}</h3>
    </div>
    <!-- Portfolio -->
    <div class="section mt-5">
      <div class="transactions">
        <div *ngFor="let asset of assets; let i = index">
          <app-transaction-card
            [assets]="asset"
            [currency]="cryptoDashboard.currency"
          >
          </app-transaction-card>
        </div>
      </div>
    </div>
  </div>
</div>
