<section class="section-width">
  <app-header-mobile
    *ngIf="screenService?.screenWidth! <= 780"
    [title]="'wallet.details.transaction.history.title' | translate"
    [backBtn]="'wallet.details.transaction.history.mobile_back' | translate"
  >
  </app-header-mobile>

  <!-- App Capsule -->
  <div id="appCapsule">
    <app-title-desktop
      [title]="'wallet.details.transaction.history.title' | translate"
      [back]="'wallet.details.transaction.history.back' | translate"
    ></app-title-desktop>

    <!-- History -->
    <div class="section mt-3 mb-3">
      <div *ngIf="screenService?.screenWidth! <= 780" class="section-title">
        {{ "wallet.details.transaction.history.title" | translate }}
      </div>
      <div class="card">
        <div
          *ngFor="
            let stats of wallet?.history?.slice()?.reverse();
            let i = index
          "
        >
          <app-wallet-history-card [stats]="stats"></app-wallet-history-card>
        </div>
      </div>
    </div>
    <!-- History -->
  </div>
  <!-- * App Capsule -->
</section>
