<!-- Send Action Sheet -->
<div
  class="modal fade action-sheet"
  id="{{ modalId }}"
  tabindex="-1"
  role="dialog"
  data-bs-focus="false"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-round mx-auto">
      <div class="modal-header">
        <h5 *ngIf="!wallet.id" class="modal-title">
          {{ "wallet.modal.title" | translate }}
        </h5>
        <h5 *ngIf="wallet.id" class="modal-title">
          {{ "wallet.modal.editWallet.title" | translate }}
        </h5>
      </div>
      <div class="modal-body">
        <div class="action-sheet-content">
          <form #f="ngForm" type="submit">
            <div class="form-group boxed">
              <div class="input-wrapper">
                <label class="label" for="text11">{{
                  "wallet.modal.name" | translate
                }}</label>
                <input
                  name="name"
                  class="form-control"
                  rows="5"
                  [(ngModel)]="wallet.name"
                  #name="ngModel"
                  required
                  type="text"
                  class="form-control"
                  id="text11"
                  placeholder="{{ 'wallet.modal.sub_name' | translate }}"
                  value="{{ wallet.name }}"
                />
                <i class="clear-input">
                  <ion-icon name="close-circle"></ion-icon>
                </i>
              </div>
            </div>
            <div class="form-group boxed">
              <div class="input-wrapper">
                <label class="label" for="category">{{
                  "wallet.modal.category" | translate
                }}</label>
                <select
                  class="form-control custom-select"
                  id="category"
                  name="category"
                  class="form-control"
                  rows="5"
                  [(ngModel)]="wallet.category"
                  #category="ngModel"
                >
                  <option
                    *ngIf="!wallet.id"
                    [value]="wallet.category"
                    selected
                    disabled
                  >
                    {{ "wallet.modal.categoryText" | translate }}
                  </option>
                  <option
                    *ngIf="wallet.id"
                    [value]="wallet.category"
                    selected
                    disabled
                  >
                    {{ "wallet.modal.categoryTextEdit" | translate }}
                  </option>
                  <option
                    *ngFor="
                      let category of categoriesInput != undefined
                        ? categoriesInput
                        : categories
                    "
                    [selected]="category.name === wallet.category"
                    value="{{ category.name }}"
                  >
                    {{ category.name }}
                  </option>
                </select>
              </div>
            </div>

            <div
              *ngIf="!defaultImg && walletImg === ''"
              class="form-group basic"
            >
              <div class="input-wrapper">
                <label class="label" for="text11">{{
                  "wallet.modal.img" | translate
                }}</label>
                <div class="custom-file-upload mt-1" id="fileUpload1">
                  <!--<input
                    type="file"
                    id="fileuploadInput"
                    accept=".png, .jpg, .jpeg"
                  />-->
                  <label
                    class="fileuploadInput clickable"
                    for="fileuploadInput"
                    (click)="importimage()"
                  >
                    <span>
                      <strong>
                        <ion-icon name="arrow-up-circle-outline"></ion-icon>
                        <i>{{ "wallet.modal.imgContent" | translate }}</i>
                      </strong>
                    </span>
                  </label>
                </div>
                <i class="clear-input">
                  <ion-icon name="close-circle"></ion-icon>
                </i>
              </div>
            </div>

            <div *ngIf="walletImg != ''" class="form-group basic">
              <div class="input-wrapper">
                <label class="label" for="text11">{{
                  "wallet.modal.image" | translate
                }}</label>
                <p>
                  <img
                    src="{{ walletImg }}"
                    alt="image"
                    class="imaged w48 m-1"
                  />
                  {{ wallet.name }}
                </p>
              </div>
            </div>

            <div *ngIf="checkbox" class="form-check mb-1">
              <input
                [(ngModel)]="defaultImg"
                [ngModelOptions]="{ standalone: true }"
                type="checkbox"
                class="form-check-input"
                id="defaultImg"
              />
              <label
                *ngIf="!wallet.id"
                class="form-check-label"
                for="defaultImg"
                >{{ "wallet.modal.default" | translate }}</label
              >
              <label
                *ngIf="wallet.id"
                class="form-check-label"
                for="defaultImg"
                >{{ "wallet.modal.editWallet.default" | translate }}</label
              >
            </div>
            <hr />
            <div class="form-group basic">
              <button
                (click)="addUpdateWallet()"
                [disabled]="f.invalid || !validateBtn()"
                type="button"
                class="btn btn-primary btn-block btn-lg"
                data-bs-dismiss="modal"
              >
                {{ "wallet.modal.save" | translate }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- * Send Action Sheet -->
