@media screen and (max-width: 780px) {
  .support {
    //max-width: 1000px !important;
    width: 350px !important;
  }
  .captionCenter {
    margin-top: 50px !important;
  }
}

@media screen and (min-width: 780px) {
  .support {
    max-width: 1000px !important;
    min-width: 700px !important;
  }
  .captionCenter {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
}
