@media screen and (max-height: 870px) {
  .fullbig-modal {
    max-height: 550px !important;
    height: 550px !important;
  }
}

.fullbig-modal {
  max-height: 800px !important;
  height: 800px;
}

.p {
  margin-top: -15px;
}

.item {
  display: block;
  padding-top: 0px;
}

.timeline:before {
  top: 10px;
  bottom: 25px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: rgba(255, 255, 255, 1) !important;
  opacity: 1;
  display: block;
  //background: url(/*yourURLHere*/) no-repeat;
  background-color: rgba(240, 248, 255, 0.466);
  border-radius: 20px;
  width: 25px;
  height: 25px;
  margin-right: -25px;
  border-width: thin;
}
