@media screen and (max-height: 870px) {
  .fullbig-modal {
    max-height: 650px !important;
    height: 650px !important;
  }
}

.fullbig-modal {
  max-height: 800px !important;
  height: 800px;
}

.p {
  margin-top: -15px;
}
