<!-- Alert Iconed Action Sheet -->
<div
  class="modal fade action-sheet"
  id="{{ modalId }}"
  tabindex="-1"
  role="dialog"
  data-bs-focus="false"
>
  <div class="modal-dialog fullbig-modal" role="document">
    <div class="modal-content modal-round mx-auto fullbig-modal">
      <div class="modal-body">
        <form #f="ngForm" type="submit">
          <div class="action-sheet-content fullbig-modal">
            <div class="iconbox text-warning">
              <ion-icon name="alert-circle"></ion-icon>
            </div>
            <div class="text-center">
              <h3>
                {{ "crypto.closeOperation.title" | translate }}
                <ion-icon
                  name="alert-circle"
                  style="width: 20px; height: 20px; vertical-align: -2px"
                  data-bs-toggle="modal"
                  attr.data-bs-target="#{{ modalConstant.INFO }}"
                ></ion-icon>
              </h3>
              <p [innerHTML]="'crypto.closeOperation.subTitle' | translate"></p>
              <hr />
              <div class="splash-page mb-5">
                <div class="transfer-verification">
                  <div class="transfer-amount">
                    <span class="caption">{{
                      "crypto.closeOperation.amount" | translate
                    }}</span>
                    <h2>{{ operationToClose.entryCoin }} {{ currentPrice }}</h2>
                    <p style="margin-top: -20px">
                      <small
                        >{{ operationToClose.exitCoin }}
                        {{ operationToClose.entryQuantity }}</small
                      >
                    </p>
                  </div>
                  <div class="from-to-block mb-0">
                    <div class="item text-center">
                      <img
                        src="{{ operationToClose.asset?.icon }}"
                        alt="avatar"
                        class="imaged w48"
                      />
                      <strong>{{ operationToClose.asset?.name }}</strong>
                    </div>
                    <div class="item text-center">
                      <img
                        src="{{ operationToClose.assetSell?.icon }}"
                        alt="avatar"
                        class="imaged w48"
                      />
                      <strong>{{ operationToClose.assetSell?.name }}</strong>
                    </div>
                    <div class="arrow"></div>
                  </div>
                </div>
                <!--<h2 class="mb-2 mt-2">Verify the Transaction</h2>-->
                <div
                  class="mx-auto"
                  style="
                    max-width: 500px;
                    margin-top: -45px;
                    margin-bottom: -25px;
                  "
                >
                  <!-- timeline -->
                  <div class="timeline timed ms-1 me-0">
                    <div class="item">
                      <span class="time">{{
                        operationToClose.entryDate | date : "d MMM y"
                      }}</span>
                      <div class="dot bg-success"></div>
                      <div class="content">
                        <h5 class="title text-start">
                          {{ "crypto.closeOperation.open" | translate }}
                          {{ operationToClose.assetSell?.symbol }}-{{
                            operationToClose.asset?.symbol
                          }}
                        </h5>
                        <div class="text text-start">
                          <p>
                            {{ "crypto.closeOperation.pair" | translate }}:
                            <strong
                              >{{ operationToClose.assetSell?.symbol }}-{{
                                operationToClose.asset?.symbol
                              }}</strong
                            >
                          </p>
                          <p class="p">
                            {{ "crypto.closeOperation.quantity" | translate }}:
                            <strong
                              >{{ operationToClose.entryQuantity }}
                              {{ operationToClose.exitCoin }}</strong
                            >
                          </p>
                          <p class="p">
                            {{ operationToClose.assetSell?.symbol }}
                            {{ "crypto.closeOperation.value" | translate }}:
                            <strong
                              >{{ operationToClose.entryPriceValue }}
                              {{ operationToClose.entryCoin }}</strong
                            >
                          </p>
                          <p class="p">
                            {{ "crypto.closeOperation.price" | translate }}
                            {{ operationToClose.exitCoin }}:
                            <strong
                              >{{ operationToClose.entryPrice }}
                              {{ cryptoCurrency }}</strong
                            >
                          </p>
                          <p *ngIf="operationToClose.fees" class="p">
                            {{ "crypto.closeOperation.fees" | translate }}:
                            <strong
                              >{{ operationToClose.fees }}
                              {{ operationToClose.assetSell?.symbol }}</strong
                            >
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="item">
                      <span class="time">{{
                        operationToClose.exitDate | date : "d MMM y"
                      }}</span>
                      <div class="dot bg-danger"></div>
                      <div *ngIf="isEditActive" class="content">
                        <div class="row">
                          <div class="col-12 col-md-6">
                            <div class="form-group basic">
                              <div class="input-wrapper">
                                <label class="label" for="quantity1"
                                  >{{
                                    "crypto.closeOperation.quantity" | translate
                                  }}
                                  ({{
                                    operationToClose.assetSell?.symbol
                                  }})</label
                                >
                                <input
                                  name="quantity"
                                  #quantity1="ngModel"
                                  type="number"
                                  class="form-control"
                                  id="quantity1"
                                  placeholder="Enter an Amount"
                                  [(ngModel)]="operationToClose.exitQuantity"
                                />
                                <i class="clear-input">
                                  <ion-icon name="close-circle"></ion-icon>
                                </i>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 col-md-6">
                            <div class="form-group basic">
                              <div class="input-wrapper">
                                <label class="label" for="quantityValue1"
                                  >{{
                                    "crypto.closeOperation.value" | translate
                                  }}
                                  ({{ cryptoCurrency }})</label
                                >
                                <input
                                  name="quantityValue"
                                  #quantityValue1="ngModel"
                                  type="number"
                                  class="form-control"
                                  id="quantityValue1"
                                  placeholder="Enter an Amount"
                                  [(ngModel)]="operationToClose.exitPriceValue"
                                />
                                <i class="clear-input">
                                  <ion-icon name="close-circle"></ion-icon>
                                </i>
                              </div>
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="form-group basic">
                              <div class="input-wrapper">
                                <label class="label" for="price1"
                                  >{{
                                    "crypto.closeOperation.selling" | translate
                                  }}
                                  ({{ operationToClose.asset?.symbol }})</label
                                >
                                <input
                                  name="price"
                                  #price1="ngModel"
                                  type="number"
                                  class="form-control"
                                  id="price1"
                                  placeholder="Enter an Amount"
                                  [(ngModel)]="operationToClose.exitPrice"
                                  (keyup)="refreshData()"
                                />
                                <i class="clear-input">
                                  <ion-icon name="close-circle"></ion-icon>
                                </i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div *ngIf="!isEditActive" class="content">
                        <h5 class="title text-start">
                          {{ "crypto.closeOperation.closeP" | translate }}
                          {{ operationToClose.asset?.symbol }}-{{
                            operationToClose.assetSell?.symbol
                          }}
                        </h5>
                        <div class="text text-start">
                          <p>
                            {{ "crypto.closeOperation.pair" | translate }}:
                            <strong
                              >{{ operationToClose.asset?.symbol
                              }}{{ operationToClose.assetSell?.symbol }}</strong
                            >
                          </p>
                          <p class="p">
                            {{ "crypto.closeOperation.quantity" | translate }}:
                            <strong
                              >{{ operationToClose.exitQuantity }}
                              {{ operationToClose.entryCoin }}</strong
                            >
                          </p>
                          <p class="p">
                            {{ operationToClose.assetSell?.symbol }}
                            {{ "crypto.closeOperation.value" | translate }}:
                            <strong
                              >{{ operationToClose.exitPriceValue }}
                              {{ cryptoCurrency }}
                              <span
                                class="badge {{
                                  operationToClose.trend == 0
                                    ? 'badge-warning'
                                    : operationToClose.trend! < 0
                                    ? 'badge-danger'
                                    : 'badge-success'
                                }}"
                                >{{ cryptoCurrency }}
                                {{ operationToClose.trend }} ({{
                                  operationToClose.performance
                                }}%)</span
                              ></strong
                            >
                          </p>
                          <p class="p">
                            {{ "crypto.closeOperation.sellPrice" | translate }}
                            {{ operationToClose.exitCoin }}:
                            <strong
                              >{{ operationToClose.exitPrice }}
                              {{ cryptoCurrency }}</strong
                            >
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- * timeline -->
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <a
                  *ngIf="!isEditActive"
                  (click)="isEditActive = true"
                  class="btn btn-lg btn-outline-secondary btn-block goBack"
                  >{{ "crypto.closeOperation.edit" | translate }}</a
                >
                <button
                  [disabled]="f.invalid"
                  *ngIf="isEditActive"
                  (click)="isEditActive = false"
                  class="btn btn-lg btn-primary btn-block goBack"
                >
                  {{ "crypto.closeOperation.save" | translate }}
                </button>
              </div>
              <div class="col-6">
                <button
                  [disabled]="f.invalid || isEditActive"
                  (click)="closeOperation()"
                  class="btn btn-danger btn-lg btn-block"
                  data-bs-toggle="modal"
                >
                  {{ "crypto.closeOperation.close" | translate }}
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- * Alert Iconed Action Sheet -->

<app-info-modal
  [isClosingOperation]="true"
  [modalId]="modalConstant.INFO"
  [operationType]="operationTypeConstant.CLOSEOPERATION"
></app-info-modal>
