<div class="mx-auto section-width">
  <app-crypto-header
    [routerLinks]="''"
    [title]="'requirements_page.header_title' | translate"
  ></app-crypto-header>

  <!-- App Capsule -->
  <div id="appCapsule">
    <div class="title-section">
      <h2 class="title">{{ "requirements_page.title" | translate }}</h2>
      <p>
        {{ "requirements_page.sub_title" | translate }}
      </p>
    </div>

    <!-- Transactions -->
    <div class="section mt-3 mx-auto" style="max-width: 600px">
      <div class="card border_round mb-3">
        <ul
          class="listview flush transparent no-line image-listview detailed-list mt-1 mb-1"
        >
          <!-- item -->
          <li>
            <a
              class="item clickable"
              data-bs-toggle="modal"
              attr.data-bs-target="#{{ modalConstant.ADDCRYPTOCURRENCY }}"
            >
              <div class="icon-box">
                <ion-icon
                  *ngIf="!isCurrencyAdded"
                  class="icon-medium bg-orange"
                  name="alert-circle-outline"
                ></ion-icon>
                <ion-icon
                  *ngIf="isCurrencyAdded"
                  class="icon-medium bg-blue"
                  name="checkmark-circle"
                ></ion-icon>
              </div>
              <div class="in">
                <div>
                  <strong>
                    {{ "requirements_page.req4_title" | translate }}</strong
                  >
                  <div class="text-small text-secondary">
                    {{ "requirements_page.req4_subTitle" | translate }}
                  </div>
                </div>
                <div class="text-end"></div>
              </div>
            </a>
          </li>
          <!-- * item -->
          <!-- item -->
          <li>
            <a
              data-bs-toggle="modal"
              attr.data-bs-target="#{{ modalConstant.ADDWALLET }}"
              class="item clickable {{ isCurrencyAdded ? '' : 'disabled' }}"
              (click)="enableModalCrypto = false"
            >
              <div class="icon-box">
                <ion-icon
                  *ngIf="!isWalletCreated"
                  class="icon-medium bg-orange"
                  name="alert-circle-outline"
                ></ion-icon>
                <ion-icon
                  *ngIf="isWalletCreated"
                  class="icon-medium bg-blue"
                  name="checkmark-circle"
                ></ion-icon>
              </div>
              <div class="in">
                <div>
                  <strong>{{
                    "requirements_page.req1_title" | translate
                  }}</strong>
                  <div class="text-small text-secondary">
                    {{ "requirements_page.req1_subTitle" | translate }}
                  </div>
                </div>
                <div class="text-end"></div>
              </div>
            </a>
          </li>
          <!-- * item -->
          <!-- item -->
          <li>
            <a
              data-bs-toggle="modal"
              attr.data-bs-target="#{{ modalConstant.ADDWALLET }}"
              class="item clickable {{ isCurrencyAdded ? '' : 'disabled' }}"
              (click)="enableModalCrypto = true"
            >
              <div class="icon-box">
                <ion-icon
                  *ngIf="!isCryptoWalletCreated"
                  class="icon-medium bg-orange"
                  name="alert-circle-outline"
                ></ion-icon>
                <ion-icon
                  *ngIf="isCryptoWalletCreated"
                  class="icon-medium bg-blue"
                  name="checkmark-circle"
                ></ion-icon>
              </div>
              <div class="in">
                <div>
                  <strong>{{
                    "requirements_page.req2_title" | translate
                  }}</strong>
                  <div class="text-small text-secondary">
                    {{ "requirements_page.req2_subTitle" | translate }}
                  </div>
                </div>
                <div class="text-end"></div>
              </div>
            </a>
          </li>
          <!-- * item -->

          <!-- item -->
          <li>
            <a
              class="item clickable {{
                isCryptoWalletCreated ? '' : 'disabled'
              }}"
              data-bs-toggle="modal"
              attr.data-bs-target="#{{ modalConstant.ADDASSET }}"
            >
              <div class="icon-box">
                <ion-icon
                  *ngIf="!isAssetCreated"
                  class="icon-medium bg-orange"
                  name="alert-circle-outline"
                ></ion-icon>
                <ion-icon
                  *ngIf="isAssetCreated"
                  class="icon-medium bg-blue"
                  name="checkmark-circle"
                ></ion-icon>
              </div>
              <div class="in">
                <div>
                  <strong>
                    {{ "requirements_page.req3_title" | translate }}</strong
                  >
                  <div class="text-small text-secondary">
                    {{ "requirements_page.req3_subTitle" | translate }}
                  </div>
                </div>
                <div class="text-end"></div>
              </div>
            </a>
          </li>
          <!-- * item -->
        </ul>
      </div>
    </div>
    <!-- Transactions -->
  </div>
  <div class="form-button-group transparent section-width mx-auto">
    <button
      [disabled]="!validateBtn()"
      class="btn btn-primary btn-block btn-lg"
      type="button"
      routerLink="/crypto/dashboard"
    >
      {{ "requirements_page.next" | translate }}
    </button>
  </div>
</div>
<!--<app-add-wallet
  (emitAddWallet)="saveWallet($event)"
  [modalId]="modalConstant.ADDWALLET"
  [categoriesInput]="dashboard?.categories"
  [isCrypto]="enableModalCrypto"
  [wallets]="wallets!"
></app-add-wallet>-->
<app-add-wallet
  (emitAddWallet)="saveWallet($event)"
  [modalId]="modalConstant.ADDWALLET"
  [isCrypto]="enableModalCrypto"
  [wallets]="wallets!"
></app-add-wallet>

<app-add-asset-modal
  (emitAddAsset)="saveWallet($event)"
  [modalId]="modalConstant.ADDASSET"
  [wallets]="cryptoWallet!"
  [cryptoCurrency]="currency"
></app-add-asset-modal>

<app-select-crypto-currency
  (emitAddCurrency)="selectCurrency($event)"
  [modalId]="modalConstant.ADDCRYPTOCURRENCY"
></app-select-crypto-currency>
