<section class="section-width mx-auto">
  <app-header-mobile
    *ngIf="isMobile()"
    [title]="'support.title' | translate"
    [backBtn]="'support.mobile_back' | translate"
  >
  </app-header-mobile>
  <!-- App Capsule -->
  <div id="appCapsule">
    <app-title-desktop
      [title]="'support.title' | translate"
      [back]="'support.back' | translate"
    ></app-title-desktop>
    <div class="hidden_desktop mt-4 ms-2">
      <p class="text-start fs-2 title-page">
        {{ "support.title" | translate }}
      </p>
      <p class="card-subtitle text-start mb-1 fs-6">
        <small>{{ "support.subtitle" | translate }}</small>
      </p>
    </div>
    <div class="section captionCenter mt-2">
      <div class="card mx-auto support">
        <div class="card-body">
          <div class="p-1">
            <div class="text-center">
              <h2>{{ "support.formTitle" | translate }}</h2>
              <p>{{ "support.formSubTitle" | translate }}</p>
            </div>
            <form #f="ngForm" type="submit">
              <div class="form-group basic animated">
                <div class="input-wrapper">
                  <label class="label" for="name">{{
                    "support.name" | translate
                  }}</label>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    #name1="ngModel"
                    [(ngModel)]="name"
                    required
                    placeholder="{{ 'support.namePlace' | translate }}"
                  />
                  <i class="clear-input">
                    <ion-icon name="close-circle"></ion-icon>
                  </i>
                </div>
              </div>

              <div class="form-group basic animated">
                <div class="input-wrapper">
                  <label class="label" for="email">{{
                    "support.email" | translate
                  }}</label>
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    #email1="ngModel"
                    [(ngModel)]="email"
                    required
                    placeholder="{{ 'support.emailPlace' | translate }}"
                  />
                  <i class="clear-input">
                    <ion-icon name="close-circle"></ion-icon>
                  </i>
                </div>
              </div>

              <div class="form-group basic animated">
                <div class="input-wrapper">
                  <label class="label" for="message">{{
                    "support.message" | translate
                  }}</label>
                  <textarea
                    id="message"
                    name="message"
                    #message1="ngModel"
                    [(ngModel)]="message"
                    required
                    rows="4"
                    class="form-control"
                    placeholder="{{ 'support.messagePlace' | translate }}"
                  ></textarea>
                  <i class="clear-input">
                    <ion-icon name="close-circle"></ion-icon>
                  </i>
                </div>
              </div>

              <div class="mt-2">
                <button
                  type="button"
                  [disabled]="f.invalid"
                  (click)="contactSupport()"
                  class="btn btn-primary btn-lg btn-block"
                >
                  {{ "support.send" | translate }}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div align="center">
        <img
          src="{{
            environment.baseUrlDashboard
          }}assets/images/logos/logo_transparent_gray_land.png"
          alt=""
          srcset=""
          style="width: 150px"
          class="pb-1 pt-1"
        />
      </div>
    </div>
  </div>
  <!-- * App Capsule -->
</section>
