<div class="transactions row">
  <div
    *ngIf="trading && trading?.labels?.length != 1"
    class="section col-xl-12"
  >
    <div class="section-title">
      {{ "crypto.resume.graphAsset" | translate }}
    </div>
    <div class="card inner-round border_round">
      <apx-chart
        *ngIf="trading"
        [series]="trading.series!"
        [chart]="trading.chart!"
        [title]="trading.title!"
        [colors]="trading.colors!"
        [legend]="trading.legend!"
        [stroke]="trading.stroke!"
        [labels]="trading.labels!"
        type="area"
        class="border_round"
      ></apx-chart>
    </div>
  </div>
  <div class="col-md-12">
    <!-- History -->
    <div class="section mt-4">
      <div class="section-heading">
        <h2 class="title">
          {{ "crypto.asset.details.overview.operations" | translate }}
        </h2>
        <a (click)="goToOperations()" class="link clickable">{{
          "crypto.asset.details.overview.view" | translate
        }}</a>
      </div>
      <app-operations-list
        [modalID]="modalConstant.CRYPTOTRADINGRESUME"
        [cryptoDashboard]="cryptoDashboard"
        [walletsAsset]="walletsFilter"
        [isAssetOperations]="true"
      ></app-operations-list>
    </div>
    <!-- History -->
  </div>
</div>
