<div class="mx-auto section-width">
  <app-crypto-header
    [title]="'crypto.operationExchange.history' | translate"
    [isMenuActive]="false"
  ></app-crypto-header>
  <!-- App Capsule -->
  <div id="appCapsule">
    <!-- History -->
    <div class="section mt-4" *ngFor="let year of uniqueYears?.slice()">
      <div class="section-heading">
        <h2 class="title">
          {{ "crypto.asset.details.overview.operations" | translate }} for
          {{ year }}
        </h2>

        <a hidden href="#" class="link">{{
          "crypto.asset.details.overview.view" | translate
        }}</a>
      </div>
      <app-operations-list
        [modalID]="modalConstant.CRYPTOOPERATION + year"
        [walletsAsset]="cryptoWallets"
        [isFullList]="true"
        [operationsMapByYear]="operationsMapByYear"
        [year]="year"
      ></app-operations-list>
    </div>
  </div>
</div>
<!--<app-operation-details
  [modalId]="modalConstant.CRYPTOOPERATIONDETAILS"
  [operation]="operationSelect"
  [currency]="cryptoCurrency"
></app-operation-details>-->
