<div class="row">
  <app-content-box
    *ngIf="!tableBalance || !tableBalance.length"
    [header]="'resume_page.title' | translate"
    [body]="'dashboard_page.graph.empty_body_text' | translate"
  ></app-content-box>
  <!-- App Capsule -->
  <section *ngIf="tableBalance && tableBalance.length">
    <div class="row">
      <div class="section mt-2 col-xl-4 col-md-5">
        <div class="section-title">{{ "resume_page.title" | translate }}</div>
        <div class="card">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">
                    {{ "resume_page.table_date" | translate }}
                  </th>
                  <th scope="col">
                    {{ "shared_text.amount" | translate }}
                  </th>
                  <th scope="col" class="text-end">
                    {{ "shared_text.performance" | translate }}
                  </th>
                  <th scope="col" class="text-end">
                    {{ "resume_page.table_trend" | translate }}
                  </th>
                </tr>
              </thead>
              <tbody
                *ngFor="
                  let balances of tableBalance.slice().reverse();
                  let i = index
                "
              >
                <tr
                  class="topics"
                  *ngFor="let balance of balances; let y = index"
                >
                  <th scope="row">
                    {{ balances[balances.length - 1].date }}
                  </th>

                  <td
                    class="{{
                      balance.percentage === 0
                        ? 'text-warning'
                        : balance.percentage > 0
                        ? 'text-success'
                        : 'text-danger'
                    }} {{ balance.index === y ? 'text-end' : '' }}"
                  >
                    {{ coinSymbol }} {{ hidden ? amount : balance.balance }}
                  </td>
                  <td
                    class="{{
                      balance.percentage === 0
                        ? 'text-warning'
                        : balance.percentage > 0
                        ? 'text-success'
                        : 'text-danger'
                    }} text-end"
                  >
                    {{ balance.percentage }}%
                  </td>
                  <td
                    class="{{
                      balance.trend === 0
                        ? 'text-warning'
                        : balance.trend > 0
                        ? 'text-success'
                        : 'text-danger'
                    }} text-end"
                  >
                    {{ coinSymbol }} {{ hidden ? amount : balance.trend }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- Graph -->
      <div class="section mt-4 col-xl-8 col-md-7">
        <div class="section-heading">
          <h2 class="title" id="year">
            {{ "resume_page.graph_history" | translate }}
          </h2>
        </div>
        <div *ngIf="resume" class="card border_round">
          <div class="card-body" style="min-height: 380px">
            <div
              *ngIf="!chartOptions"
              class="lds-ellipsis position-absolute top-50 start-50 translate-middle"
            >
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
            <apx-chart
              *ngIf="chartOptions"
              [series]="chartOptions.series!"
              [chart]="chartOptions.chart!"
              [title]="chartOptions.title!"
              [colors]="chartOptions.colors!"
              [legend]="chartOptions.legend!"
              [labels]="chartOptions.labels!"
              [grid]="chartOptions.grid!"
              [dataLabels]="chartOptions.dataLabels!"
              [tooltip]="chartOptions.tooltip!"
              type="area"
            ></apx-chart>
            <div id="chart-line"></div>
          </div>
        </div>
      </div>
      <!-- * Graph -->
    </div>
  </section>
</div>
