<!-- Alert Iconed Action Sheet -->
<div
  class="modal fade action-sheet"
  id="{{ modalId }}"
  tabindex="-1"
  role="dialog"
  data-bs-focus="false"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-round mx-auto">
      <div class="modal-body">
        <div class="action-sheet-content">
          <div class="iconbox text-warning">
            <ion-icon name="alert-circle"></ion-icon>
          </div>
          <div *ngIf="isOperation" class="text-center">
            <h3>
              {{ "crypto.cryptoModal.info.operation.title" | translate }}
            </h3>
            <p>
              {{ "crypto.cryptoModal.info.operation.details" | translate }}
            </p>
          </div>
          <div
            *ngIf="operationType == operationTypeConstant.NEWINVESTMENT"
            class="text-center"
          >
            <h3>
              {{ "crypto.cryptoModal.info.newInvestment.title" | translate }}
            </h3>
            <p
              [innerHTML]="
                'crypto.cryptoModal.info.newInvestment.details' | translate
              "
            ></p>
          </div>
          <div
            *ngIf="operationType == operationTypeConstant.HOLDING"
            class="text-center"
          >
            <h3>
              {{ "crypto.cryptoModal.info.holding.title" | translate }}
            </h3>
            <p
              [innerHTML]="
                'crypto.cryptoModal.info.holding.details' | translate
              "
            ></p>
          </div>
          <div
            *ngIf="operationType == operationTypeConstant.TRADING"
            class="text-center"
          >
            <h3>
              {{ "crypto.cryptoModal.info.trading.title" | translate }}
            </h3>
            <p
              [innerHTML]="
                'crypto.cryptoModal.info.trading.details' | translate
              "
            ></p>
          </div>
          <a
            *ngIf="isOperation"
            class="btn btn-primary btn-lg btn-block"
            data-bs-toggle="modal"
            attr.data-bs-target="#{{ modalConstant.ADDOPERATIONS }}"
            >{{ "crypto.cryptoModal.info.close" | translate }}</a
          >
          <a
            *ngIf="!isOperation"
            class="btn btn-primary btn-lg btn-block"
            data-bs-toggle="modal"
            >{{ "crypto.cryptoModal.info.close" | translate }}</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<!-- * Alert Iconed Action Sheet -->
