.imaged {
  width: 100px !important;
  height: 100px !important;
  border-radius: 50%;
  object-position: center center !important;
  object-fit: cover !important;
}

.w30 {
  width: 30px !important;
  height: 30px !important;
}

.modal-footer {
  border-top: transparent !important;
}

.listview li {
  min-height: 60px;
}
