<div class="mx-auto section-width">
  <app-crypto-header
    [routerLinks]="''"
    [title]="operationType"
    [isMenuActive]="false"
    [isInfoActive]="true"
    (emitInfo)="openInfo.click()"
  ></app-crypto-header>
  <input
    type="hidden"
    #openInfo
    data-bs-toggle="modal"
    attr.data-bs-target="#{{ modalConstant.INFO }}"
  />
  <!-- App Capsule -->
  <div id="appCapsule">
    <div class="row margin">
      <div class="col-12 col-md-6">
        <div class="title-section row">
          <div
            class="col-2 col-md-2 col-xl-1"
            style="display: flex; align-items: center"
          >
            <img class="walletLogo" src="{{ wallet.img }}" alt="" />
          </div>
          <div class="col-10 col-md-10 col-xl-11">
            <h2 class="title">{{ wallet.name }}</h2>
            <small
              ><p>Balance: {{ wallet.balance }} {{ fiat }}</p></small
            >
          </div>
        </div>
      </div>
      <div class="col-6 hidden_mobile text-end">
        <div class="title-section">
          <h2 class="title">{{ operationType }}</h2>
          <small><p>Operation Type</p></small>
        </div>
      </div>
    </div>

    <form #f="ngForm" action="">
      <section class="mx-auto" style="max-width: 1500px">
        <div class="section mt-2">
          <div class="card border">
            <div class="card-body">
              <div class="form-group basic p-0">
                <div class="exchange-heading">
                  <label class="group-label" for="fromAmount">From</label>
                  <div class="exchange-wallet-info">
                    Commition Rate : <strong> Included</strong>
                  </div>
                </div>
                <div class="exchange-group">
                  <div class="input-col">
                    <input
                      type="text"
                      class="form-control form-control-lg pe-0 border-0"
                      id="fromAmount"
                      placeholder="0"
                      id="investedMoney"
                      name="investedMoney"
                      #investedMoney1="ngModel"
                      required
                      (keyup)="makeNewBalance()"
                      [(ngModel)]="investedMoney"
                      value="{{ investedMoney }}"
                      maxlength="10"
                    />
                  </div>
                  <div class="select-col">
                    <select class="form-select form-select-lg currency">
                      <option value="{{ fiat }}" selected>
                        {{ fiat }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="section">
          <div class="exchange-line">
            <div class="exchange-icon">
              <ion-icon name="swap-vertical-outline"></ion-icon>
            </div>
          </div>
        </div>

        <div class="section">
          <div class="card border">
            <div class="card-body">
              <div class="form-group basic p-0">
                <div class="exchange-heading">
                  <label class="group-label" for="toAmount">To</label>
                  <div class="exchange-wallet-info">
                    Balance :
                    <strong>
                      {{ assetInWallet.balance ? assetInWallet.balance : 0 }}
                      {{ assetInWallet.symbol }}</strong
                    >
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-8 col-7">
                    <div class="exchange-group">
                      <div class="input-col">
                        <input
                          type="text"
                          class="form-control form-control-lg pe-0 border-0"
                          id="toAmount"
                          placeholder="0"
                          id="assetNewBalance"
                          name="assetNewBalance"
                          #assetNewBalance1="ngModel"
                          required
                          [(ngModel)]="assetNewBalance"
                          value="{{ assetNewBalance }}"
                          maxlength="10"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-5" style="max-height: 55px">
                    <app-asset-select
                      [wrapperID]="assetConstant.NEWINVESTMENT"
                      [fiat]="fiat!"
                      [isOperation]="true"
                      [cryptoPrices]="marketData"
                      (emitSelectAsset)="emitSelectAsset($event)"
                    ></app-asset-select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="section mt-2">
          <div class="row fontsize-caption">
            <div class="col">
              <b>{{ marketDataSelected.symbol }}</b> =
              {{ marketDataSelected.current_price }} {{ fiat }}
            </div>
            <div class="col text-end">
              Last Update :
              <b>{{
                assetInWallet.lastUpdate
                  ? (assetInWallet.lastUpdate | date : "d MMM y")
                  : "NEVER"
              }}</b>
            </div>
          </div>
        </div>
      </section>

      <!-- Bottoni Mobile -->
      <div class="form-button-group transparent">
        <button
          [disabled]="f.invalid"
          type="button"
          class="btn btn-primary btn-block btn-lg"
          (click)="exchangeNewInvestment()"
        >
          Exchange
        </button>
      </div>
      <!-- End Bottoni Mobile -->
    </form>
  </div>
</div>
<app-info-modal
  [isNewInvestment]="true"
  [modalId]="modalConstant.INFO"
></app-info-modal>
