<div class="mx-auto section-width">
  <app-crypto-header
    [routerLinks]="'/crypto/dashboard'"
    [title]="operationType"
    [isMenuActive]="false"
    [isInfoActive]="true"
    (emitInfo)="openInfo.click()"
  ></app-crypto-header>
  <input
    type="hidden"
    #openInfo
    data-bs-toggle="modal"
    attr.data-bs-target="#{{ modalConstant.INFO }}"
  />
  <!-- App Capsule -->
  <div id="appCapsule">
    <div class="row margin">
      <div class="col-12 col-md-6">
        <div class="title-section row">
          <div
            class="col-2 col-md-2 col-xl-1"
            style="display: flex; align-items: center"
          >
            <img class="walletLogo" src="{{ wallet.img }}" alt="" />
          </div>
          <div class="col-10 col-md-10 col-xl-11">
            <h2 class="title">{{ wallet.name }}</h2>
            <small
              ><p>
                {{ "crypto.operationExchange.balance" | translate }}
                {{ wallet.balance }} {{ fiat }}
              </p></small
            >
          </div>
        </div>
      </div>
      <div class="col-6 hidden_mobile text-end">
        <div class="title-section">
          <h2 class="title">{{ operationType }}</h2>
          <small
            ><p>{{ "crypto.operationExchange.type" | translate }}</p></small
          >
        </div>
      </div>
    </div>

    <form #f="ngForm" action="">
      <section class="mx-auto" style="max-width: 1500px">
        <div
          class="section mt-2"
          *ngIf="operationType == operations.NEWINVESTMENT"
        >
          <div class="card border">
            <div class="card-body">
              <div class="form-group basic p-0">
                <div class="exchange-heading">
                  <label class="group-label" for="fromAmount">{{
                    "crypto.operationExchange.from" | translate
                  }}</label>
                  <div
                    class="exchange-wallet-info"
                    [innerHTML]="
                      'crypto.operationExchange.commition' | translate
                    "
                  ></div>
                </div>
                <div class="exchange-group">
                  <div class="input-col">
                    <input
                      type="number"
                      class="form-control form-control-lg pe-0 border-0"
                      id="fromAmount"
                      placeholder="0"
                      id="investedMoney"
                      name="investedMoney"
                      #investedMoney1="ngModel"
                      required
                      (keyup)="makeNewBalance()"
                      [(ngModel)]="investedMoney"
                      value="{{ investedMoney }}"
                      maxlength="10"
                    />
                  </div>
                  <div class="select-col">
                    <select class="form-select form-select-lg currency">
                      <option value="{{ fiat }}" selected>
                        {{ fiat }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          *ngIf="!validateSelect()"
          class="alert alert-danger mb-1"
          role="alert"
        >
          {{ "crypto.operationExchange.warning" | translate }}
        </div>

        <div
          class="section"
          *ngIf="operationType == operations.HOLDING && validateSelect()"
        >
          <div class="card border">
            <div class="card-body">
              <div class="form-group basic p-0">
                <div class="exchange-heading">
                  <label class="group-label" for="toAmount">{{
                    "crypto.operationExchange.from" | translate
                  }}</label>
                  <div class="exchange-wallet-info">
                    {{ "crypto.operationExchange.balance" | translate }}
                    <strong>
                      {{
                        holdingAssetToSell.balance
                          ? holdingAssetToSell.balance
                          : 0
                      }}
                      {{ holdingAssetToSell.symbol }}</strong
                    >
                  </div>
                  <div
                    style="position: absolute; bottom: 9px; right: 13px"
                    class="exchange-wallet-info"
                    [innerHTML]="
                      'crypto.operationExchange.commition' | translate
                    "
                  ></div>
                </div>
                <div class="row">
                  <div class="col-md-8 col-7 mt-1">
                    <div class="exchange-group">
                      <div class="input-col">
                        <input
                          type="number"
                          class="form-control form-control-lg pe-0 border-0"
                          id="toAmount"
                          placeholder="0"
                          id="assetHoldingBalance"
                          name="assetHoldingBalance"
                          #assetHoldingBalance1="ngModel"
                          required
                          (keyup)="makeNewBalance()"
                          [(ngModel)]="investedBalance"
                          value="{{ investedBalance }}"
                          maxlength="10"
                          max="{{ holdingAssetToSell.balance }}"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-5 mb-2" style="max-height: 55px">
                    <app-asset-select
                      [wrapperID]="assetConstant.HOLDING"
                      [fiat]="fiat!"
                      [isOperation]="true"
                      [cryptoPrices]="wallet.assets"
                      (emitSelectAsset)="emitHoldingSelectAsset($event)"
                    ></app-asset-select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            *ngIf="assetHoldingBalance1.invalid"
            class="alert alert-danger mb-1"
            role="alert"
          >
            {{ "crypto.operationExchange.warningBalance" | translate }}
          </div>
        </div>

        <div class="section" *ngIf="operationType == operations.TRADING">
          <div class="card border">
            <div class="card-body">
              <div class="form-group basic p-0">
                <div class="exchange-heading">
                  <label class="group-label" for="toAmount">{{
                    "crypto.operationExchange.from" | translate
                  }}</label>
                  <div class="exchange-wallet-info">
                    {{ "crypto.operationExchange.balance" | translate }}
                    <strong>
                      {{
                        tradingAssetToSell.balance
                          ? tradingAssetToSell.balance
                          : 0
                      }}
                      {{ tradingAssetToSell.symbol }}</strong
                    >
                  </div>
                  <div
                    style="position: absolute; bottom: 9px; right: 13px"
                    class="exchange-wallet-info"
                    [innerHTML]="
                      'crypto.operationExchange.commition' | translate
                    "
                  ></div>
                </div>
                <div class="row">
                  <div class="col-md-8 col-7 mt-1">
                    <div class="exchange-group">
                      <div class="input-col">
                        <input
                          type="number"
                          class="form-control form-control-lg pe-0 border-0"
                          id="toTradingAmount"
                          placeholder="0"
                          id="assetTradingBalance"
                          name="assetTradingBalance"
                          #assetTradingBalance1="ngModel"
                          required
                          (keyup)="makeNewBalance()"
                          [(ngModel)]="investedBalance"
                          value="{{ investedBalance }}"
                          maxlength="10"
                          max="{{ tradingAssetToSell.balance }}"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-5 mb-2" style="max-height: 55px">
                    <app-asset-select
                      [wrapperID]="assetConstant.TRADING"
                      [fiat]="fiat!"
                      [isOperation]="true"
                      [cryptoPrices]="stablecoin"
                      (emitSelectAsset)="emitTradingSelectAsset($event)"
                    ></app-asset-select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            *ngIf="assetTradingBalance1.invalid"
            class="alert alert-danger mb-1"
            role="alert"
          >
            {{ "crypto.operationExchange.warningBalance" | translate }}
          </div>
        </div>

        <div class="section">
          <div class="exchange-line">
            <div class="exchange-icon">
              <ion-icon name="swap-vertical-outline"></ion-icon>
            </div>
          </div>
        </div>

        <div class="section">
          <div class="card border">
            <div class="card-body">
              <div class="form-group basic p-0">
                <div class="exchange-heading">
                  <label class="group-label" for="toAmount">{{
                    "crypto.operationExchange.to" | translate
                  }}</label>
                  <div class="exchange-wallet-info">
                    {{ "crypto.operationExchange.balance" | translate }}
                    <strong>
                      {{ assetInWallet.balance ? assetInWallet.balance : 0 }}
                      {{ assetInWallet.symbol }}</strong
                    >
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-8 col-7">
                    <div class="exchange-group">
                      <div class="input-col">
                        <input
                          type="number"
                          class="form-control form-control-lg pe-0 border-0"
                          id="toNewBalanceAmount"
                          placeholder="0"
                          id="assetNewBalance"
                          name="assetNewBalance"
                          #assetNewBalance1="ngModel"
                          required
                          [(ngModel)]="assetNewBalance"
                          value="{{ assetNewBalance }}"
                          maxlength="10"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-5" style="max-height: 55px">
                    <app-asset-select
                      [wrapperID]="assetConstant.NEWINVESTMENT"
                      [fiat]="fiat!"
                      [isOperation]="true"
                      [cryptoPrices]="marketData"
                      (emitSelectAsset)="emitSelectAsset($event)"
                    ></app-asset-select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="section mt-2">
          <div class="row fontsize-caption">
            <div class="col">
              <b>{{ marketDataSelected.symbol }}</b> =
              {{ marketDataSelected.current_price }} {{ fiat }}
            </div>
            <div class="col text-end">
              {{ "crypto.operationExchange.last" | translate }}
              <b>{{
                assetInWallet.lastUpdate
                  ? (assetInWallet.lastUpdate | date : "d MMM y")
                  : "NEVER"
              }}</b>
            </div>
          </div>
        </div>
      </section>

      <!-- Bottoni Mobile -->
      <div
        class="form-button-group transparent"
        *ngIf="operationType == operations.NEWINVESTMENT"
      >
        <button
          [disabled]="f.invalid"
          type="button"
          class="btn btn-primary btn-block btn-lg"
          (click)="exchangeNewInvestment()"
        >
          {{ "crypto.operationExchange.exchange" | translate }}
        </button>
      </div>
      <div
        class="form-button-group transparent"
        *ngIf="operationType == operations.HOLDING"
      >
        <button
          [disabled]="f.invalid || !validateSelect()"
          type="button"
          class="btn btn-primary btn-block btn-lg"
          (click)="exchangeHoldingInvestment()"
        >
          {{ "crypto.operationExchange.exchange" | translate }}
        </button>
      </div>
      <div
        class="form-button-group transparent"
        *ngIf="operationType == operations.TRADING"
      >
        <button
          [disabled]="f.invalid || !validateSelect()"
          type="button"
          class="btn btn-primary btn-block btn-lg"
          (click)="exchangeTradingInvestment()"
        >
          {{ "crypto.operationExchange.exchange" | translate }}
        </button>
      </div>
      <!-- End Bottoni Mobile -->
    </form>
  </div>
</div>
<app-info-modal
  [operationType]="operationType"
  [modalId]="modalConstant.INFO"
></app-info-modal>
