<div class="mx-auto section-width">
  <app-crypto-header
    title="{{ 'market_data_page.title' | translate }}"
    (emitOperationClick)="emitOperationClick($event)"
  ></app-crypto-header>
  <div id="appCapsule">
    <div class="section mt-2">
      <div class="row">
        <div class="col-12 col-md-8">
          <div class="title-section" style="margin-bottom: 0px">
            <h2 class="title">{{ "market_data_page.title" | translate }}</h2>
            <p style="margin-top: -10px">
              <small
                >{{ "market_data_page.updated" | translate }}
                {{ updateDate | date : "d MMM y, HH:mm" }}</small
              >
              |
              <small>
                {{ "market_data_page.currency" | translate }}
                {{ cryptoCurrency }}</small
              >
            </p>
            <!--<p style="margin-top: -25px">
              <small
                >{{ "market_data_page.updated" | translate }}
                {{ updateDate | date : "d MMM y, HH:mm" }}</small
              >
            </p>-->
          </div>
        </div>
        <div hidden class="col-12 col-md-4">
          <div class="form-group basic margin">
            <div class="input-wrapper">
              <input
                class="form-control"
                [(ngModel)]="search"
                #name="ngModel"
                spellcheck="false"
                type="text"
                (keyup)="onKeySearch($event)"
                placeholder="{{ 'market_data_page.search' | translate }}"
              />
              <i class="clear-input">
                <ion-icon name="close-circle"></ion-icon>
              </i>
            </div>
          </div>
        </div>
      </div>
      <app-market-data-table
        [tableId]="'market_data_table_full'"
        [filterMarketData]="filterMarketData"
      ></app-market-data-table>
    </div>
  </div>
</div>

<app-operations-modal
  [modalId]="modalConstant.ADDOPERATIONS"
  [wallets]="cryptoWallets"
  [assets]="cryptoDashboard.assets"
  [currency]="cryptoDashboard.currency"
  [statsAssetsDays]="cryptoDashboard.statsAssetsDays"
></app-operations-modal>
