<!-- Send Action Sheet -->
<div
  class="modal fade action-sheet"
  id="{{ modalId }}"
  tabindex="-1"
  role="dialog"
  data-bs-focus="false"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-round mx-auto">
      <div class="modal-header">
        <h5
          *ngIf="profileConst === profileConstant.USERNAME"
          class="modal-title"
        >
          {{ "settings_page.account_username" | translate }}
        </h5>
        <h5 *ngIf="profileConst === profileConstant.EMAIL" class="modal-title">
          {{ "settings_page.account_email" | translate }}
        </h5>
        <h5
          *ngIf="profileConst === profileConstant.PASSWORD"
          class="modal-title"
        >
          {{ "settings_page.security_password" | translate }}
        </h5>
      </div>
      <div class="modal-body">
        <div class="action-sheet-content">
          <form #f="ngForm" type="submit">
            <div
              *ngIf="profileConst === profileConstant.USERNAME"
              class="form-group boxed"
            >
              <div class="input-wrapper">
                <label class="label" for="username">{{
                  "settings_page.account_user_label" | translate
                }}</label>
                <input
                  name="username1"
                  class="form-control"
                  rows="5"
                  [(ngModel)]="username"
                  #username1="ngModel"
                  required
                  type="text"
                  class="form-control"
                  id="username"
                  placeholder="{{
                    'settings_page.account_user_placeholder' | translate
                  }}"
                />
                <i class="clear-input">
                  <ion-icon name="close-circle"></ion-icon>
                </i>
              </div>
            </div>

            <div
              *ngIf="profileConst === profileConstant.EMAIL"
              class="form-group boxed"
            >
              <div class="input-wrapper">
                <label class="label" for="email">{{
                  "settings_page.account_email_label" | translate
                }}</label>
                <input
                  name="email1"
                  class="form-control"
                  rows="5"
                  [(ngModel)]="email"
                  #email1="ngModel"
                  required
                  type="text"
                  class="form-control"
                  id="email"
                  placeholder="{{
                    'settings_page.account_email_placeholder' | translate
                  }}"
                />
                <i class="clear-input">
                  <ion-icon name="close-circle"></ion-icon>
                </i>
              </div>
            </div>

            <div
              *ngIf="profileConst === profileConstant.PASSWORD"
              class="form-group boxed"
            >
              <div class="input-wrapper">
                <label class="label" for="oldPassword">{{
                  "settings_page.security_old_label" | translate
                }}</label>
                <input
                  name="oldPassword1"
                  class="form-control"
                  rows="5"
                  [(ngModel)]="oldPassword"
                  #oldPassword1="ngModel"
                  required
                  type="password"
                  class="form-control"
                  id="oldPassword"
                  placeholder="{{
                    'settings_page.security_old_placeholder' | translate
                  }}"
                />
                <i class="clear-input">
                  <ion-icon name="close-circle"></ion-icon>
                </i>
              </div>
            </div>

            <div
              *ngIf="profileConst === profileConstant.PASSWORD"
              class="form-group boxed"
            >
              <div class="input-wrapper">
                <label class="label" for="newPassword">{{
                  "settings_page.security_new_label" | translate
                }}</label>
                <input
                  name="newPassword1"
                  class="form-control"
                  rows="5"
                  [(ngModel)]="newPassword"
                  #newPassword1="ngModel"
                  required
                  type="password"
                  class="form-control"
                  id="newPassword"
                  placeholder="{{
                    'settings_page.security_new_placeholder' | translate
                  }}"
                />
                <i class="clear-input">
                  <ion-icon name="close-circle"></ion-icon>
                </i>
              </div>
              <div *ngIf="warning" class="alert alert-danger mb-1" role="alert">
                {{ "settings_page.security_warning" | translate }}
              </div>
            </div>

            <div
              *ngIf="profileConst === profileConstant.PASSWORD"
              class="form-group boxed"
            >
              <div class="input-wrapper">
                <label class="label" for="repetePassword">{{
                  "settings_page.security_repete_label" | translate
                }}</label>
                <input
                  name="repetePassword1"
                  class="form-control"
                  rows="5"
                  [(ngModel)]="repetePassword"
                  #repetePassword1="ngModel"
                  required
                  type="password"
                  class="form-control"
                  id="repetePassword"
                  placeholder="{{
                    'settings_page.security_repete_placeholder' | translate
                  }}"
                />
                <i class="clear-input">
                  <ion-icon name="close-circle"></ion-icon>
                </i>
              </div>
            </div>
            <div class="form-group basic">
              <button
                [disabled]="f.invalid"
                (click)="updateUser()"
                id="saveAccount"
                type="button"
                class="btn btn-primary btn-block btn-lg"
              >
                {{ "shared_text.save" | translate }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- * Send Action Sheet -->
