<app-header-mobile
  *ngIf="screenService?.screenWidth! <= 780"
  [title]="wallet!.name"
  [backBtn]="'transaction.mobile_back' | translate"
>
</app-header-mobile>

<!-- App Capsule -->
<div id="appCapsule">
  <app-title-desktop
    [title]="'wallet.title' | translate"
    [back]="'wallet.back' | translate"
  ></app-title-desktop>
  <div class="row">
    <div class="col-md-6">
      <!-- Coin Status -->
      <div id="gradientSection" class="section full gradientSection">
        <div class="in coin-head">
          <div class="row">
            <div class="col-6">
              <div class="hidden_mobile">
                <img
                  src="{{ wallet?.img }}"
                  alt="img"
                  class="image-block imaged w50"
                />
                <h3 class="text-center mt-2">{{ wallet?.name }}</h3>
              </div>
            </div>
            <div class="col-6 w100">
              <h1 class="total">$ 32,517.50</h1>
              <h4 class="caption">
                <span class="iconbox text-success">
                  <ion-icon name="caret-up"></ion-icon>
                </span>
                $2,325.19 <strong>(+1.50%)</strong>
              </h4>
            </div>
          </div>
        </div>
      </div>
      <!-- * Coin Status -->

      <!-- Coin Chart -->
      <div class="section mb-2">
        <div class="card coin-chart">
          <div class="card-body pt-1">
            <!-- tabs -->
            <ul class="nav nav-tabs lined" role="tablist">
              <li class="nav-item">
                <a
                  class="nav-link"
                  data-bs-toggle="tab"
                  href="#tab-24h"
                  role="tab"
                  (click)="renderGraph()"
                >
                  24H
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  data-bs-toggle="tab"
                  href="#tab-1w"
                  role="tab"
                  (click)="renderGraph()"
                >
                  1W
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  data-bs-toggle="tab"
                  href="#tab-1m"
                  role="tab"
                  (click)="renderGraph()"
                >
                  1M
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  data-bs-toggle="tab"
                  href="#tab-1y"
                  role="tab"
                  (click)="renderGraph()"
                >
                  1Y
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link active"
                  data-bs-toggle="tab"
                  href="#tab-all"
                  role="tab"
                  (click)="renderGraph()"
                >
                  All
                </a>
              </li>
            </ul>
            <!-- * tabs -->
          </div>

          <!-- tab content -->
          <div class="tab-content">
            <div class="tab-pane fade" id="tab-24h" role="tabpanel">
              <apx-chart
                [series]="chartOptions!.series!"
                [chart]="chartOptions!.chart!"
                [title]="chartOptions!.title!"
                [colors]="chartOptions!.colors!"
                [legend]="chartOptions!.legend!"
                [stroke]="chartOptions!.stroke!"
                [labels]="chartOptions!.labels!"
              ></apx-chart>
            </div>

            <div class="tab-pane fade" id="tab-1w" role="tabpanel">
              <apx-chart
                [series]="chartOptions!.series!"
                [chart]="chartOptions!.chart!"
                [title]="chartOptions!.title!"
                [colors]="chartOptions!.colors!"
                [legend]="chartOptions!.legend!"
                [stroke]="chartOptions!.stroke!"
                [labels]="chartOptions!.labels!"
              ></apx-chart>
            </div>
            <div class="tab-pane fade" id="tab-1m" role="tabpanel">
              <apx-chart
                [series]="chartOptions!.series!"
                [chart]="chartOptions!.chart!"
                [title]="chartOptions!.title!"
                [colors]="chartOptions!.colors!"
                [legend]="chartOptions!.legend!"
                [stroke]="chartOptions!.stroke!"
                [labels]="chartOptions!.labels!"
              ></apx-chart>
            </div>
            <div class="tab-pane fade" id="tab-1y" role="tabpanel">
              <apx-chart
                [series]="chartOptions!.series!"
                [chart]="chartOptions!.chart!"
                [title]="chartOptions!.title!"
                [colors]="chartOptions!.colors!"
                [legend]="chartOptions!.legend!"
                [stroke]="chartOptions!.stroke!"
                [labels]="chartOptions!.labels!"
              ></apx-chart>
            </div>
            <div class="tab-pane fade show active" id="tab-all" role="tabpanel">
              <apx-chart
                [series]="chartOptions!.series!"
                [chart]="chartOptions!.chart!"
                [title]="chartOptions!.title!"
                [colors]="chartOptions!.colors!"
                [legend]="chartOptions!.legend!"
                [stroke]="chartOptions!.stroke!"
                [labels]="chartOptions!.labels!"
              ></apx-chart>
            </div>
          </div>
          <!-- * tab content -->
        </div>
      </div>
      <!-- Coin Chart -->
    </div>
    <div class="col-md-6">
      <!-- Stats -->
      <div class="section mt-2 mb-4">
        <div class="card">
          <ul class="listview no-line transparent flush simple-listview">
            <li>
              <div class="text-muted">Status</div>
              <strong class="text-success">Active</strong>
            </li>
            <li>
              <div class="text-muted">Last Change</div>
              <strong class="text-success">+5.10%</strong>
            </li>
            <li>
              <div class="text-muted">All Time High</div>
              <strong>$56,367.23</strong>
            </li>
            <li>
              <div class="text-muted">High Price 2022</div>
              <strong>$56,367.23</strong>
            </li>
            <li>
              <div class="text-muted">Low Price 2022</div>
              <strong>$18,529.90</strong>
            </li>
            <li>
              <div class="text-muted">First Stats</div>
              <strong>BTC 14.62M</strong>
            </li>
            <li>
              <div class="text-muted">Last Stats</div>
              <strong>$526.48B</strong>
            </li>
          </ul>
        </div>
        <div class="card mt-2">
          <div class="card-body">
            <div class="row mb-05 fontsize-sub">
              <div class="col text-success"><strong>72% Buy</strong></div>
              <div class="col text-secondary text-end">
                <strong>26% Sell</strong>
              </div>
            </div>
            <div class="progress">
              <div
                class="progress-bar bg-success"
                role="progressbar"
                style="width: 72%"
                aria-valuenow="72"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
              <div
                class="progress-bar bg-secondary"
                role="progressbar"
                style="width: 28%"
                aria-valuenow="28"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
        </div>
      </div>
      <!-- Stats -->
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-6">
      <!-- History -->
      <div class="section">
        <div class="section-heading">
          <h2 class="title">{{ "dashboard.transaction.title" | translate }}</h2>
          <a href="#" routerLink="/transactions" class="link">{{
            "dashboard.transaction.view" | translate
          }}</a>
        </div>
        <div class="card">
          <ul
            class="listview flush transparent no-line image-listview detailed-list mt-1 mb-1"
          >
            <!-- item -->
            <li>
              <a href="#" class="item">
                <div class="icon-box bg-success">
                  <ion-icon name="arrow-up-outline"></ion-icon>
                </div>
                <div class="in">
                  <div>
                    <strong>Bitcoin</strong>
                    <div class="text-small text-secondary">
                      Sell Order #7893
                    </div>
                  </div>
                  <div class="text-end">
                    <strong>$855,24</strong>
                    <div class="text-small">Today 11:38 AM</div>
                  </div>
                </div>
              </a>
            </li>
            <!-- * item -->
            <!-- item -->
            <li>
              <a href="#" class="item">
                <div class="icon-box bg-danger">
                  <ion-icon name="arrow-down-outline"></ion-icon>
                </div>
                <div class="in">
                  <div>
                    <strong>Bitcoin</strong>
                    <div class="text-small text-secondary">Buy order #5501</div>
                  </div>
                  <div class="text-end">
                    <strong>$550,26</strong>
                    <div class="text-small">March 23, 2021</div>
                  </div>
                </div>
              </a>
            </li>
            <!-- * item -->
            <!-- item -->
            <li>
              <a href="#" class="item">
                <div class="icon-box bg-danger">
                  <ion-icon name="arrow-down-outline"></ion-icon>
                </div>
                <div class="in">
                  <div>
                    <strong>Bitcoin</strong>
                    <div class="text-small text-secondary">Buy order #5432</div>
                  </div>
                  <div class="text-end">
                    <strong>$1.509,24</strong>
                    <div class="text-small">March 22, 2021</div>
                  </div>
                </div>
              </a>
            </li>
            <!-- * item -->
            <!-- item -->
            <li>
              <a href="#" class="item">
                <div class="icon-box bg-success">
                  <ion-icon name="arrow-up-outline"></ion-icon>
                </div>
                <div class="in">
                  <div>
                    <strong>Bitcoin</strong>
                    <div class="text-small text-secondary">
                      Sell order #5245
                    </div>
                  </div>
                  <div class="text-end">
                    <strong>$52,68</strong>
                    <div class="text-small">March 5, 2021</div>
                  </div>
                </div>
              </a>
            </li>
            <!-- * item -->
            <!-- item -->
            <li>
              <a href="#" class="item">
                <div class="icon-box bg-danger">
                  <ion-icon name="arrow-down-outline"></ion-icon>
                </div>
                <div class="in">
                  <div>
                    <strong>Bitcoin</strong>
                    <div class="text-small text-secondary">Buy order #4954</div>
                  </div>
                  <div class="text-end">
                    <strong>$1.509,24</strong>
                    <div class="text-small">March 3, 2021</div>
                  </div>
                </div>
              </a>
            </li>
            <!-- * item -->
            <!-- item -->
            <li>
              <a href="#" class="item">
                <div class="icon-box bg-success">
                  <ion-icon name="arrow-up-outline"></ion-icon>
                </div>
                <div class="in">
                  <div>
                    <strong>Bitcoin</strong>
                    <div class="text-small text-secondary">
                      Sell order #4923
                    </div>
                  </div>
                  <div class="text-end">
                    <strong>$52,68</strong>
                    <div class="text-small">March 2, 2021</div>
                  </div>
                </div>
              </a>
            </li>
            <!-- * item -->
          </ul>
          <div class="card-body pt-0">
            <a href="#" class="btn btn-block btn-outline-secondary"
              >Load more</a
            >
          </div>
        </div>
      </div>
      <!-- History -->
    </div>
  </div>
</div>
