<!-- App Header -->
<div class="appHeader no-border transparent position-absolute">
  <div class="left"></div>
  <div class="pageTitle"></div>
  <div class="right"></div>
</div>
<!-- * App Header -->

<!-- App Capsule -->
<div id="appCapsule" class="section-width mx-auto">
  <div class="section mt-2 text-center">
    <h1>{{ "auth.reset.title" | translate }}</h1>
    <h4>{{ "auth.reset.subtitle" | translate }}</h4>
  </div>
  <div class="section mb-5 p-2 mx-auto" style="max-width: 1000px">
    <form #f="ngForm" type="submit">
      <div class="card">
        <div class="card-body pb-1">
          <div class="form-group basic">
            <div class="input-wrapper">
              <label class="label" for="password">Password</label>
              <input
                name="password"
                #password1="ngModel"
                [(ngModel)]="password"
                required
                [type]="isPasswordShow ? 'text' : 'password'"
                class="form-control"
                id="password"
                placeholder="{{ 'auth.reset.passPlace' | translate }}"
              />
              <div class="clickable" (click)="hideShowPassword()">
                <ion-icon
                  *ngIf="!isPasswordShow"
                  name="eye"
                  class="showPass"
                ></ion-icon>
                <ion-icon
                  *ngIf="isPasswordShow"
                  name="eye-off"
                  class="showPass"
                ></ion-icon>
              </div>
              <div
                *ngIf="!validateRegexPassword()"
                class="alert alert-danger mb-1"
                role="alert"
                [innerHTML]="'auth.register.warning.password' | translate"
              ></div>
            </div>
            <div class="form-group basic mt-1">
              <div class="input-wrapper">
                <label class="label" for="passwordR">{{
                  "auth.reset.pass2" | translate
                }}</label>
                <input
                  name="passwordR"
                  #passwordR1="ngModel"
                  [(ngModel)]="passwordR"
                  required
                  [type]="isPasswordShow ? 'text' : 'password'"
                  class="form-control"
                  id="passwordR"
                  placeholder="{{ 'auth.reset.passPlace2' | translate }}"
                />
              </div>
              <div
                *ngIf="!checkIfPasswordMatch()"
                class="alert alert-danger mb-1"
                role="alert"
              >
                {{ "settings_page.security_warning" | translate }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-button-group transparent section-width mx-auto">
        <button
          [disabled]="
            f.invalid || !checkIfPasswordMatch() || !validateRegexPassword()
          "
          type="submit"
          (click)="resetPassword()"
          class="btn btn-primary btn-block btn-lg"
        >
          {{ "auth.reset.reset" | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
<!-- * App Capsule -->
