<section class="section-width mx-auto">
  <app-header-mobile
    *ngIf="isMobile()"
    title="{{ 'resume_page.title' | translate }}"
  >
  </app-header-mobile>

  <!-- Extra Header -->
  <div class="extraHeader pe-0 ps-0">
    <ul class="nav nav-tabs lined" role="tablist">
      <li class="nav-item">
        <a
          (click)="goToData()"
          class="nav-link active"
          data-bs-toggle="tab"
          href="#tab_stats"
          role="tab"
        >
          {{ "resume_page.tab_stats" | translate }}
        </a>
      </li>
      <li class="nav-item">
        <a
          (click)="goToData()"
          class="nav-link"
          data-bs-toggle="tab"
          href="#tab_category"
          role="tab"
        >
          {{ "resume_page.tab_category" | translate }}
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          data-bs-toggle="tab"
          href="#tab_history"
          role="tab"
          (click)="getHistoryData()"
        >
          {{ "resume_page.tab_history" | translate }}
        </a>
      </li>
    </ul>
  </div>
  <!-- * Extra Header -->

  <!-- App Capsule -->
  <div id="appCapsule" class="extra-header-active full-height">
    <div class="row">
      <app-title-desktop
        class="col-md-6"
        [title]="'resume_page.title' | translate"
      ></app-title-desktop>
      <div class="hidden_desktop mt-4 ms-2">
        <p class="text-start fs-2 title-page">
          {{ "resume_page.title" | translate }}
        </p>
        <p class="card-subtitle text-start fs-6">
          <small>{{ "resume_page.sub_title" | translate }}</small>
        </p>
      </div>
      @if (resumeFullYears && resumeFullYears.length) {
      <div class="addWallet col-md-6">
        <div class="form-group boxed">
          <div class="input-wrapper" style="max-width: 150px; margin-left: 80%">
            <select
              class="form-control custom-select"
              id="select4b"
              (change)="onChange($event)"
            >
              <option
                [selected]="currentYear.toString() === year"
                *ngFor="let year of resumeFullYears.slice().reverse()"
                [value]="year"
              >
                {{ year }}
              </option>
            </select>
          </div>
        </div>
      </div>
      }
    </div>

    <app-content-box
      *ngIf="!wallets || !wallets.length"
      [header]="'resume_page.title' | translate"
      [body]="'resume_page.empty_body_text' | translate"
    ></app-content-box>

    <div *ngIf="resumeData.statsWalletDays" class="transactions row">
      <div class="col-md-6 mt-2">
        <!-- item -->
        <a routerLink="/transaction" class="item zoom">
          <div class="detail">
            <div class="col-auto" style="padding-right: 20px">
              <div
                class="icon icon-shape bg-danger text-white rounded-circle shadow"
              >
                <i class="fas fa-chart-bar"></i>
              </div>
            </div>
            <div>
              <strong>{{ "resume_page.total" | translate }}</strong>
              <p class="sincetot">
                {{ "resume_page.since" | translate }}
                {{ resumeData.performanceLastDate | date : "dd MMM y" }}
              </p>
            </div>
          </div>
          <div class="right float-end">
            <div class="price" id="totale">
              {{ coinSymbol }}
              {{ hidden ? amount : resumeData.balance }}
            </div>
            <div class="price performancetot float-end">
              <span
                class="{{
                  resumeData.lastStatsPerformance == 0
                    ? 'text-warning'
                    : resumeData.lastStatsPerformance > 0
                    ? 'text-success'
                    : 'text-danger'
                }} mr-2"
                ><i
                  class="fa {{
                    resumeData.lastStatsPerformance > 0
                      ? 'fa-arrow-up'
                      : 'fa-arrow-down'
                  }}"
                ></i>
                {{ resumeData.lastStatsPerformance }}%</span
              >
            </div>
          </div>
        </a>
        <!-- * item -->
      </div>
      <div class="col-md-6 mt-2">
        <!-- item -->
        <a routerLink="/transaction" class="item zoom">
          <div class="detail">
            <div class="col-auto" style="padding-right: 20px">
              <div
                class="icon icon-shape bg-warning text-white rounded-circle shadow"
              >
                <i class="fas fa-poll"></i>
              </div>
            </div>
            <div>
              <strong>{{ "shared_text.performance" | translate }}</strong>
              <p class="sincetot">
                {{ "resume_page.since" | translate }}
                {{ resumeData.performanceSince | date : "dd MMM y" }}
              </p>
            </div>
          </div>
          <div class="right float-end">
            <div
              class="price {{
                resumeData.performanceValue == 0
                  ? 'text-warning'
                  : resumeData.performanceValue > 0
                  ? 'text-success'
                  : 'text-danger'
              }}"
              id="pil"
            >
              {{ coinSymbol }}
              {{ hidden ? amount : resumeData.performanceValue }}
            </div>
            <div class="price float-end performancetot">
              <span
                class="{{
                  resumeData.performance == 0
                    ? 'text-warning'
                    : resumeData.performance > 0
                    ? 'text-success'
                    : 'text-danger'
                }} mr-2"
                ><i
                  class="fa {{
                    resumeData.performance > 0 ? 'fa-arrow-up' : 'fa-arrow-down'
                  }}"
                ></i>
                {{ resumeData.performance }}%</span
              >
            </div>
          </div>
        </a>
        <!-- * item -->
      </div>
    </div>
    <div class="section tab-content mt-0 mb-2">
      <!-- waiting tab -->
      <div class="tab-pane fade show active" id="tab_stats" role="tabpanel">
        <div class="row">
          <app-data
            *ngIf="wallets && wallets.length"
            [dashboard]="dashboardData"
            [coinSymbol]="coinSymbol!"
            [hidden]="hidden"
            [change]="change"
          ></app-data>
        </div>
      </div>
      <!-- * waiting tab -->

      <!-- deleted tab -->
      <div class="tab-pane fade" id="tab_category" role="tabpanel">
        <div class="row">
          <app-category
            *ngIf="wallets && wallets.length"
            [coinSymbol]="coinSymbol!"
            [dashboard]="resumeData"
            [hidden]="hidden"
            [change]="change"
          ></app-category>
        </div>
      </div>
      <!-- * deleted tab -->

      <!-- history tab -->
      <div class="tab-pane fade" id="tab_history" role="tabpanel">
        <div class="row">
          <app-history
            *ngIf="wallets && wallets.length"
            [coinSymbol]="coinSymbol!"
            [resume]="historyData"
            [hidden]="hidden"
          ></app-history>
        </div>
      </div>
      <!-- * history tab -->
    </div>
  </div>
  <!-- * App Capsule -->
</section>
