.extraHeader {
  margin-top: 20px;
}

@media screen and (min-width: 780px) {
  .tab-pane {
    margin-bottom: -60px;
  }
}

@media screen and (max-width: 780px) {
  .extraHeader {
    margin-top: 5px;
  }
  .input-wrapper {
    max-width: 90% !important;
    margin-left: 7% !important;
  }
  app-title-desktop {
    display: none;
  }
  .row {
    margin-right: 0px;
  }
  .addWallet {
    margin-top: 10px !important;
    margin-bottom: -15px;
  }
  .hidden_desktop {
    margin-right: -20px !important;
  }
  #appCapsule {
    overflow-x: hidden;
  }
}

.addWallet {
  /*position: absolute;
  float: right !important;
  top: 165px;*/
  margin-top: 65px;
  padding-right: 19px;
}

.icon-shape {
  display: inline-flex;
  padding: 12px;
  text-align: center;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.icon {
  width: 3rem;
  height: 3rem;
}

.round-img {
  border-radius: 50%;
}

.transactions {
  margin: 15px;
}
.item {
  border-radius: 20px;
}
