<div class="row">
  <div
    class="section mt-2 {{
      tableBalance && tableBalance.length > 1 ? 'col-xl-8 col-md-7' : 'col-12'
    }} "
  >
    <div class="section-title">
      {{ "crypto_resume_page.investments.title" | translate }}
    </div>
    <div class="card">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">
                {{ "crypto_resume_page.investments.table_tab1" | translate }}
              </th>
              <th scope="col" class="text-end">
                {{ "crypto_resume_page.investments.table_tab2" | translate }}
              </th>
              <th scope="col" class="text-end">
                {{ "crypto_resume_page.investments.table_tab3" | translate }}
              </th>
              <th scope="col" class="text-end">
                {{ "crypto_resume_page.investments.table_tab4" | translate }}
              </th>
              <th scope="col" class="text-end">
                {{ "crypto_resume_page.investments.table_tab5" | translate }}
              </th>
              <th scope="col" class="text-end">
                {{ "crypto_resume_page.investments.table_tab6" | translate }}
              </th>
              <th scope="col" class="text-end">
                {{ "crypto_resume_page.investments.table_tab7" | translate }}
              </th>
              <th scope="col" class="text-end">
                {{ "crypto_resume_page.investments.table_tab8" | translate }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let asset of cryptoAssets">
              <th scope="row">
                <img
                  src="{{ asset.icon }}"
                  width="30"
                  height="30"
                  alt=""
                  srcset=""
                  class="me-1"
                />
                {{ asset.name }}
              </th>
              <td class="text-end">
                {{ hidden ? amount : asset.balance }} {{ asset.symbol }}
              </td>
              <td class="text-end">
                {{ hidden ? amount : asset.invested }} {{ cryptoCurrency }}
              </td>
              <td class="text-end text-primary">
                {{
                  hidden
                    ? amount
                    : (asset.invested! / asset.balance!).toFixed(2)
                }}
                {{ cryptoCurrency }}
              </td>
              <td class="text-end">
                {{ asset.current_price }} {{ cryptoCurrency }}
              </td>
              <td class="text-end text-secondary">
                {{ hidden ? amount : asset.value }} {{ cryptoCurrency }}
              </td>
              <td
                class="text-end {{
                  asset.value! - asset.invested! == 0
                    ? 'text-warning'
                    : asset.value! - asset.invested! > 0
                    ? 'text-success'
                    : 'text-danger'
                }}"
              >
                {{
                  hidden ? amount : (asset.value! - asset.invested!).toFixed(2)
                }}
                {{ cryptoCurrency }}
              </td>
              <td
                class="text-end {{
                  ((asset.value! - asset.invested!) / asset.invested!) * 100 ==
                  0
                    ? 'text-warning'
                    : ((asset.value! - asset.invested!) / asset.invested!) *
                        100 >
                      0
                    ? 'text-success'
                    : 'text-danger'
                }}"
              >
                {{
                  (
                    ((asset.value! - asset.invested!) / asset.invested!) *
                    100
                  ).toFixed(2)
                }}%
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  @if (tableBalance && tableBalance.length > 1) {
  <div class="section mt-2 col-xl-4 col-md-5">
    <div class="section-title">
      {{ "resume_page.title" | translate }}
    </div>
    <div class="card">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">
                {{ "resume_page.table_date" | translate }}
              </th>
              <th scope="col">
                {{ "shared_text.amount" | translate }}
              </th>
              <th scope="col" class="text-end">
                {{ "shared_text.performance" | translate }}
              </th>
              <th scope="col" class="text-end">
                {{ "resume_page.table_trend" | translate }}
              </th>
            </tr>
          </thead>
          <tbody
            *ngFor="
              let balances of tableBalance.slice().reverse();
              let i = index
            "
          >
            <tr class="topics" *ngFor="let balance of balances; let y = index">
              <th scope="row">
                {{ balances[balances.length - 1].date }}
              </th>

              <td
                class="{{
                  balance.percentage === 0
                    ? 'text-warning'
                    : balance.percentage > 0
                    ? 'text-success'
                    : 'text-danger'
                }} {{ balance.index === y ? 'text-end' : '' }}"
              >
                {{ cryptoCurrency }} {{ hidden ? amount : balance.balance }}
              </td>
              <td
                class="{{
                  balance.percentage === 0
                    ? 'text-warning'
                    : balance.percentage > 0
                    ? 'text-success'
                    : 'text-danger'
                }} text-end"
              >
                {{ balance.percentage }}%
              </td>
              <td
                class="{{
                  balance.trend === 0
                    ? 'text-warning'
                    : balance.trend > 0
                    ? 'text-success'
                    : 'text-danger'
                }} text-end"
              >
                {{ cryptoCurrency }} {{ hidden ? amount : balance.trend }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  }
  <!-- Graph -->
  <div hidden class="section mt-4 col-xl-8 col-md-7">
    <div class="section-heading">
      <h2 class="title" id="year">
        {{ "resume_page.data.graphHistory" | translate }}
      </h2>
    </div>
    <div *ngIf="cryptoResume" class="card border_round">
      <div class="card-body" style="min-height: 380px">
        <div
          *ngIf="!chartHistory"
          class="lds-ellipsis position-absolute top-50 start-50 translate-middle"
        >
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <apx-chart
          *ngIf="chartHistory"
          [series]="chartHistory.series!"
          [chart]="chartHistory.chart!"
          [title]="chartHistory.title!"
          [colors]="chartHistory.colors!"
          [legend]="chartHistory.legend!"
          [labels]="chartHistory.labels!"
          type="area"
        ></apx-chart>
      </div>
    </div>
  </div>
  <!-- * Graph -->
  <div class="section mb-3 col-md-12" *ngIf="isOperationPresent">
    <!-- History -->
    <div class="section cards-op mt-4">
      <div class="section-heading">
        <h2 class="title">
          {{ "crypto_asset_page.details.operations" | translate }}
        </h2>
        <a (click)="goToOperations()" class="link clickable">{{
          "crypto_asset_page.details.view" | translate
        }}</a>
      </div>
      <app-operations-list
        [modalID]="modalConstant.CRYPTOHISTORY"
        [walletsAsset]="cryptoWallets"
        [cryptoAssets]="cryptoAssets"
      ></app-operations-list>
    </div>
    <!-- History -->
  </div>
</div>
