<div class="row">
  <div class="section mt-2 col-xl-8 col-md-7">
    <div class="section-title">
      {{ "crypto.resume.investments.price.title" | translate }}
    </div>
    <div class="card">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">
                {{ "crypto.resume.investments.price.table.tab1" | translate }}
              </th>
              <th scope="col" class="text-end">
                {{ "crypto.resume.investments.price.table.tab2" | translate }}
              </th>
              <th scope="col" class="text-end">
                {{ "crypto.resume.investments.price.table.tab3" | translate }}
              </th>
              <th scope="col" class="text-end">
                {{ "crypto.resume.investments.price.table.tab4" | translate }}
              </th>
              <th scope="col" class="text-end">
                {{ "crypto.resume.investments.price.table.tab5" | translate }}
              </th>
              <th scope="col" class="text-end">
                {{ "crypto.resume.investments.price.table.tab6" | translate }}
              </th>
              <th scope="col" class="text-end">
                {{ "crypto.resume.investments.price.table.tab7" | translate }}
              </th>
              <th scope="col" class="text-end">
                {{ "crypto.resume.investments.price.table.tab8" | translate }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let asset of assets">
              <th scope="row">
                <img
                  src="{{ asset.icon }}"
                  width="30"
                  height="30"
                  alt=""
                  srcset=""
                  class="me-1"
                />
                {{ asset.name }}
              </th>
              <td class="text-end">{{ asset.balance }} {{ asset.symbol }}</td>
              <td class="text-end">
                {{ asset.invested }} {{ cryptoCurrency }}
              </td>
              <td class="text-end text-primary">
                {{ (asset.invested! / asset.balance!).toFixed(2) }}
                {{ cryptoCurrency }}
              </td>
              <td class="text-end">
                {{ asset.current_price }} {{ cryptoCurrency }}
              </td>
              <td class="text-end text-secondary">
                {{ asset.value }} {{ cryptoCurrency }}
              </td>
              <td
                class="text-end {{
                  asset.value! - asset.invested! == 0
                    ? 'text-warning'
                    : asset.value! - asset.invested! > 0
                    ? 'text-success'
                    : 'text-danger'
                }}"
              >
                {{ (asset.value! - asset.invested!).toFixed(2) }}
                {{ cryptoCurrency }}
              </td>
              <td
                class="text-end {{
                  ((asset.value! - asset.invested!) / asset.invested!) * 100 ==
                  0
                    ? 'text-warning'
                    : ((asset.value! - asset.invested!) / asset.invested!) *
                        100 >
                      0
                    ? 'text-success'
                    : 'text-danger'
                }}"
              >
                {{
                  (
                    ((asset.value! - asset.invested!) / asset.invested!) *
                    100
                  ).toFixed(2)
                }}%
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="section mt-2 col-xl-4 col-md-5">
    <div class="section-title">
      {{ "stats.data.history" | translate }}
    </div>
    <div class="card">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">
                {{ "stats.data.table_date" | translate }}
              </th>
              <th scope="col">
                {{ "stats.data.table_balance" | translate }}
              </th>
              <th scope="col" class="text-end">
                {{ "stats.data.table_performance" | translate }}
              </th>
              <th scope="col" class="text-end">
                {{ "stats.data.table_value" | translate }}
              </th>
            </tr>
          </thead>
          <tbody
            *ngFor="
              let balances of tableBalance.slice().reverse();
              let i = index
            "
          >
            <tr class="topics" *ngFor="let balance of balances; let y = index">
              <th scope="row">
                {{ balances[balances.length - 1].date }}
              </th>

              <td
                class="{{
                  balance.percentage === 0
                    ? 'text-warning'
                    : balance.percentage > 0
                    ? 'text-success'
                    : 'text-danger'
                }} {{ balance.index === y ? 'text-end' : '' }}"
              >
                {{ cryptoCurrency }} {{ balance.balance }}
              </td>
              <td
                class="{{
                  balance.percentage === 0
                    ? 'text-warning'
                    : balance.percentage > 0
                    ? 'text-success'
                    : 'text-danger'
                }} text-end"
              >
                {{ balance.percentage }}%
              </td>
              <td
                class="{{
                  balance.trend === 0
                    ? 'text-warning'
                    : balance.trend > 0
                    ? 'text-success'
                    : 'text-danger'
                }} text-end"
              >
                {{ cryptoCurrency }} {{ balance.trend }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="section mb-3 col-md-12" *ngIf="isOperationPresent">
    <!-- History -->
    <div class="section mt-4">
      <div class="section-heading">
        <h2 class="title">
          {{ "crypto.asset.details.overview.operations" | translate }}
        </h2>
        <a (click)="goToOperations()" class="link clickable">{{
          "crypto.asset.details.overview.view" | translate
        }}</a>
      </div>
      <div class="card cards-op border_round">
        <ul
          class="listview flush transparent no-line image-listview detailed-list border_round"
        >
          <!-- item -->
          <li *ngFor="let operation of operations; let i = index">
            <a
              *ngIf="i < 4"
              class="item"
              (click)="selectOperation(operation)"
              data-bs-toggle="modal"
              attr.data-bs-target="#{{ modalConstant.CRYPTOOPERATIONDETAILS }}"
            >
              <div class="icon-box-c me-4">
                <img
                  class="rounded-pill img1"
                  src="{{ operation?.wallet?.img }}"
                  alt=""
                />
                <img
                  class="rounded-pill img2"
                  src="{{ operation?.asset?.icon }}"
                  alt=""
                />
              </div>
              <div class="in">
                <div>
                  <strong>{{ operation?.wallet?.name }}</strong>
                  <div class="text-small text-secondary">
                    {{ operation?.asset?.name }}
                    {{ "crypto.asset.details.overview.price" | translate }}
                    {{ operation?.exitPrice }}
                    {{ cryptoCurrency }}
                  </div>
                  <div class="text-small text-secondary">
                    <strong>{{ operation?.type }}</strong> #{{ operation?.id }}
                  </div>
                </div>
                <div class="text-end">
                  <strong
                    >{{ operation?.exitQuantity }}
                    {{ operation?.asset?.symbol }}</strong
                  >
                  <div class="text-small">
                    <span
                      class="badge {{
                        operation?.status == 'CLOSED'
                          ? 'badge-danger'
                          : 'badge-success'
                      }} "
                      >{{ operation?.status }}</span
                    >
                  </div>

                  <div class="text-small">
                    {{ "crypto.asset.details.overview.invest" | translate }}
                    <strong
                      >{{ operation?.entryPriceValue }}
                      {{ cryptoCurrency }}</strong
                    >
                    {{ "crypto.asset.details.overview.on" | translate }}
                    {{ operation?.exitDate | date : "d MMM yy" }}
                  </div>
                </div>
              </div>
            </a>
          </li>
          <!-- * item -->
        </ul>
        <div class="card-body pt-0">
          <a
            (click)="goToOperations()"
            class="btn btn-block btn-outline-secondary"
            >{{ "crypto.asset.details.overview.more" | translate }}</a
          >
        </div>
      </div>
    </div>
    <!-- History -->
  </div>
</div>
<app-operation-details
  [modalId]="modalConstant.CRYPTOOPERATIONDETAILS"
  [operation]="operationSelect"
  [currency]="cryptoCurrency"
></app-operation-details>
