<!-- toast danger -->
<div id="soon" class="toast-box toast-bottom bg-danger">
  <div class="in">
    <div class="text">Available Soon..</div>
  </div>
  <button
    (click)="closingModal()"
    type="button"
    class="btn btn-sm btn-text-light close-button"
  >
    OK
  </button>
</div>
<!-- * toast danger -->
<!-- toast warning -->
<div id="update" class="toast-box toast-bottom bg-success">
  <div class="in">
    <div class="text">
      {{ "modal_component.update.avaiable" | translate }}
    </div>
  </div>
  <button
    (click)="closingModal()"
    type="button"
    class="btn btn-sm btn-text-light close-button"
  >
    OK
  </button>
</div>
<!-- * toast warning -->
<!-- toast warning -->
<div id="copied" class="toast-box toast-bottom bg-secondary">
  <div class="in">
    <div class="text">
      {{ "modal_component.update.copied" | translate }}
    </div>
  </div>
  <button
    (click)="closingModal()"
    type="button"
    class="btn btn-sm btn-text-light close-button"
  >
    OK
  </button>
</div>
<!-- * toast warning -->
