<div class="row">
  <div class="col-md-7">
    <div class="section mt-2">
      <div class="card">
        <div class="card-body">
          <!-- TradingView Widget BEGIN -->
          <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <div #tradingView style="height: 400px"></div>
          </div>
          <!-- TradingView Widget END -->
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="section mt-2">
      <div class="card">
        <div class="card-body">
          <!-- TradingView Widget BEGIN -->
          <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <div
              #tradingViewTechnicalAnalisys
              class="tradingViewTechnicalAnalisys"
            ></div>
          </div>
          <!-- TradingView Widget END -->
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="section mt-2">
      <div class="card">
        <div class="card-body">
          <!-- TradingView Widget BEGIN -->
          <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <div #tradingViewAssetInfo class="tradingViewAssetInfo"></div>
          </div>
          <!-- TradingView Widget END -->
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="section mt-2">
      <div class="card">
        <div class="card-body" style="height: 380px">
          <!-- TradingView Widget BEGIN -->
          <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <div #tradingViewListCryptos style="height: 360px"></div>
          </div>
          <!-- TradingView Widget END -->
        </div>
      </div>
    </div>
  </div>
  <div class="tradingview-widget-copyright">
    <a
      href="https://it.tradingview.com/"
      rel="noopener nofollow"
      target="_blank"
      ><span class="blue-text">Segui tutti i mercati</span></a
    >
    su TradingView
  </div>
</div>
