@media screen and (max-width: 780px) {
  .section {
    margin-left: -20px !important;
    margin-right: -20px !important;
  }
  .tradingViewAssetInfo {
    height: 300px !important;
  }
  .tradingViewTechnicalAnalisys {
    height: 450px !important;
  }
}
.tradingViewAssetInfo {
  height: 200px;
}

.tradingViewTechnicalAnalisys {
  height: 400px;
}
