<!-- Send Action Sheet -->
<div
  class="modal fade action-sheet"
  id="{{ modalId }}"
  tabindex="-1"
  role="dialog"
  data-bs-focus="false"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-round mx-auto">
      <div class="modal-header">
        <h5 *ngIf="!asset.id" class="modal-title">
          {{ "crypto.cryptoModal.addAsset.title" | translate }}
        </h5>
        <h5 *ngIf="asset.id" class="modal-title">
          {{ "crypto.cryptoModal.editAsset.title" | translate }}
        </h5>
      </div>
      <div class="modal-body">
        <div class="action-sheet-content">
          <form #f="ngForm" type="submit">
            <div *ngIf="!isWalletSelected" class="row">
              <div class="col-md-6">
                <div class="card-title">
                  <h2 class="modal-title d-inline" style="vertical-align: -4px">
                    {{
                      "crypto.cryptoModal.addAsset.selectWalletTitle"
                        | translate
                    }}
                  </h2>
                  <p>
                    <small>{{
                      "crypto.cryptoModal.addAsset.selectWalletSubTitle"
                        | translate
                    }}</small>
                  </p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group boxed">
                  <div class="input-wrapper">
                    <select
                      class="form-control custom-select"
                      id="wallet"
                      name="wallet"
                      class="form-control"
                      rows="5"
                      [(ngModel)]="modelWallet"
                      #wallet1="ngModel"
                    >
                      <option [selected]="this" disabled>
                        {{
                          "crypto.cryptoModal.addAsset.selectWalletTitle"
                            | translate
                        }}
                      </option>
                      <option *ngFor="let w of wallets" value="{{ w.name }}">
                        {{ w.name }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="isWalletSelected" class="row">
              <div class="col-md-6">
                <div class="card-title">
                  <img
                    src="{{ wallet?.img }}"
                    alt="avatar"
                    class="imaged d-inline w30 rounded"
                  />
                  <h2 class="modal-title d-inline" style="vertical-align: -4px">
                    {{ wallet?.name }}
                  </h2>
                  <p>
                    <small
                      >{{
                        "crypto.cryptoModal.addAsset.currentBalance" | translate
                      }}
                      {{ dashboardService.coinSymbol }}
                      {{ wallet?.balance }}</small
                    >
                  </p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-5">
                    <div class="form-group basic">
                      <div class="input-wrapper">
                        <input
                          name="name"
                          class="form-control"
                          rows="5"
                          [(ngModel)]="search"
                          #name="ngModel"
                          type="text"
                          class="form-control"
                          id="text11"
                          (keyup)="onKeySearch($event)"
                          placeholder="🔍 {{
                            'crypto.cryptoModal.addAsset.searchAsset'
                              | translate
                          }}"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-7">
                    <div class="select" tabindex="1">
                      <div *ngFor="let asset of filterCryptoPrices">
                        <input
                          class="selectopt"
                          name="test"
                          type="radio"
                          id="{{ asset.identifier }}"
                          checked
                          (click)="search = ''"
                        />
                        <label for="{{ asset.identifier }}" class="option"
                          ><img
                            src="{{ asset.icon }}"
                            alt="avatar"
                            class="imaged d-inline w30 rounded me-1"
                          />
                          {{ asset.name }} - {{ asset.symbol }}</label
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                
              </div>
            </div>

            <!-- Desktop Button -->
            <div
              *ngIf="!isWalletSelected"
              class="addWallet text-end hidden_mobile"
            >
              <button
                [disabled]="modelWallet == ''"
                type="button"
                class="btn btn-primary me-1 mb-1"
                (click)="selectWallet()"
              >
                {{
                  "crypto.cryptoModal.addAsset.selectWalletTitle" | translate
                }}
              </button>
            </div>

            <div
              *ngIf="isWalletSelected"
              class="addWallet text-end hidden_mobile"
            >
              <button
                [disabled]="f.invalid"
                type="button"
                class="btn btn-primary me-1 mb-1"
                data-bs-toggle="modal"
                attr.data-bs-target="#{{ modalConstant.ADDWALLET }}"
              >
                {{ "crypto.cryptoModal.addAsset.add" | translate }}
              </button>
            </div>

            <!-- Mobile Button -->
            <div
              *ngIf="!isWalletSelected"
              class="mt-1 form-group basic hidden_desktop"
            >
              <button
                [disabled]="modelWallet == ''"
                type="button"
                class="btn btn-primary btn-block btn-lg"
                (click)="selectWallet()"
              >
                {{
                  "crypto.cryptoModal.addAsset.selectWalletTitle" | translate
                }}
              </button>
            </div>

            <div
              *ngIf="isWalletSelected"
              class="mt-1 form-group basic hidden_desktop"
            >
              <button
                [disabled]="f.invalid"
                type="button"
                class="btn btn-primary btn-block btn-lg"
                data-bs-dismiss="modal"
              >
                {{ "crypto.cryptoModal.addAsset.add" | translate }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- * Send Action Sheet -->
