<!-- Send Action Sheet -->
<div
  class="modal fade action-sheet"
  id="{{ modalId }}"
  tabindex="-1"
  role="dialog"
  data-bs-focus="false"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-round mx-auto">
      <div class="modal-header">
        <h5 *ngIf="!asset?.id" class="modal-title">
          {{ "crypto.cryptoModal.addAsset.title" | translate }}
        </h5>
        <h5 *ngIf="asset?.id" class="modal-title">
          {{ "crypto.cryptoModal.editAsset.title" | translate }}
        </h5>
      </div>
      <div class="modal-body">
        <form #f="ngForm" type="submit">
          <div class="action-sheet-content">
            <div *ngIf="!isWalletSelected" class="row">
              <div class="col-md-6">
                <div class="card-title">
                  <h2 class="modal-title d-inline" style="vertical-align: -4px">
                    {{
                      "crypto.cryptoModal.addAsset.selectWalletTitle"
                        | translate
                    }}
                  </h2>
                  <p>
                    <small>{{
                      "crypto.cryptoModal.addAsset.selectWalletSubTitle"
                        | translate
                    }}</small>
                  </p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group boxed">
                  <div class="input-wrapper">
                    <select
                      class="form-control custom-select"
                      id="wallet"
                      name="wallet"
                      class="form-control"
                      required
                      rows="5"
                      [(ngModel)]="modelWallet"
                      #wallet1="ngModel"
                    >
                      <option [selected]="this" disabled>
                        {{
                          "crypto.cryptoModal.addAsset.selectWalletTitle"
                            | translate
                        }}
                      </option>
                      <option *ngFor="let w of wallets" value="{{ w.name }}">
                        {{ w.name }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="isWalletSelected" class="row">
              <div class="col-md-6">
                <div class="card-title row">
                  <div class="col-8">
                    <img
                      src="{{ wallet?.img }}"
                      alt="avatar"
                      class="imaged d-inline w30 rounded"
                    />
                    <h2
                      class="modal-title d-inline"
                      style="vertical-align: -4px"
                    >
                      {{ wallet?.name }}
                    </h2>
                    <p>
                      <small
                        >{{
                          "crypto.cryptoModal.addAsset.currentBalance"
                            | translate
                        }}
                        {{ dashboardService.coinSymbol }}
                        {{ wallet?.balance }}</small
                      >
                    </p>
                  </div>
                  <div class="col-4">
                    <span class="mt-2 badge badge-info float-end">{{
                      "crypto.cryptoModal.addAsset.selectedWallet" | translate
                    }}</span>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <hr class="hidden_desktop hr" />
                <div *ngIf="isAssetSelected" class="card-title row">
                  <div class="col-8">
                    <img
                      src="{{ asset?.icon }}"
                      alt="avatar"
                      class="imaged d-inline w30 rounded"
                    />
                    <h2
                      class="modal-title d-inline"
                      style="vertical-align: -4px"
                    >
                      {{ asset?.name }}
                    </h2>
                    <p>
                      <small>USD {{ asset?.current_price }}</small>
                    </p>
                  </div>
                  <div class="col-4">
                    <span class="mt-2 badge badge-info float-end">{{
                      "crypto.cryptoModal.addAsset.selectedAsset" | translate
                    }}</span>
                  </div>
                </div>
                <div *ngIf="!isAssetSelected" class="row">
                  <div class="col-md-5">
                    <div class="form-group basic">
                      <div class="input-wrapper">
                        <input
                          name="name"
                          class="form-control"
                          rows="5"
                          [(ngModel)]="search"
                          #name="ngModel"
                          type="text"
                          class="form-control"
                          id="text11"
                          (keyup)="onKeySearch($event)"
                          placeholder="🔍 {{
                            'crypto.cryptoModal.addAsset.searchAsset'
                              | translate
                          }}"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-7">
                    <div class="select" tabindex="1">
                      <div *ngFor="let asset of filterCryptoPrices">
                        <input
                          class="selectopt"
                          name="test"
                          type="radio"
                          required
                          id="{{ asset.identifier }}"
                          checked
                          (click)="selectAssetInput(asset.name!)"
                        />
                        <label for="{{ asset.identifier }}" class="option"
                          ><img
                            src="{{ asset.icon }}"
                            alt="avatar"
                            class="imaged d-inline w30 rounded me-1"
                          />
                          {{ asset.name }} - {{ asset.symbol }}</label
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  *ngIf="warning"
                  class="mx-auto alert alert-danger mb-1 mt-2"
                  role="alert"
                >
                  {{ "crypto.cryptoModal.addAsset.warning" | translate }}
                </div>
              </div>
            </div>
            <div *ngIf="isAssetSelected" class="row">
              <div class="col-md-6">
                <div class="form-group boxed">
                  <div class="input-wrapper">
                    <label
                      style="margin-left: 5px"
                      class="label"
                      for="balance"
                      >{{
                        "crypto.cryptoModal.addAsset.balance" | translate
                      }}</label
                    >
                    <input
                      type="text"
                      name="balance"
                      [(ngModel)]="balance"
                      #balance1="ngModel"
                      class="form-control"
                      id="balance"
                      placeholder="{{
                        'crypto.cryptoModal.addAsset.balancePla' | translate
                      }}{{ asset?.symbol }}"
                    />
                    <p style="margin-left: 5px">
                      <small
                        >{{
                          "crypto.cryptoModal.addAsset.balancePla" | translate
                        }}{{ asset?.symbol }}</small
                      >
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group boxed">
                  <div class="input-wrapper">
                    <label
                      class="label"
                      style="margin-left: 5px"
                      for="invested"
                      >{{
                        "crypto.cryptoModal.addAsset.invested" | translate
                      }}</label
                    >
                    <input
                      type="text"
                      required
                      name="invested"
                      #invested1="ngModel"
                      [(ngModel)]="invested"
                      class="form-control"
                      id="invested"
                      placeholder="{{
                        'crypto.cryptoModal.addAsset.investedPla' | translate
                      }}"
                    />
                    <p style="margin-left: 5px">
                      <small>{{
                        "crypto.cryptoModal.addAsset.investedPla" | translate
                      }}</small>
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Desktop Button -->
            <div
              *ngIf="!isWalletSelected"
              class="addWallet text-end hidden_mobile"
            >
              <button
                [disabled]="modelWallet == ''"
                type="button"
                class="btn btn-primary me-1 mb-1"
                (click)="selectWallet()"
              >
                {{
                  "crypto.cryptoModal.addAsset.selectWalletTitle" | translate
                }}
              </button>
            </div>

            <div
              *ngIf="isWalletSelected && !isAssetSelected"
              class="addWallet text-end hidden_mobile"
            >
              <button
                [disabled]="modelAsset == ''"
                type="button"
                class="btn btn-primary me-1 mb-1"
                (click)="selectAsset()"
              >
                {{ "crypto.cryptoModal.addAsset.selectAsset" | translate }}
              </button>
            </div>

            <div
              *ngIf="isAssetSelected"
              class="addWallet text-end hidden_mobile"
            >
              <button
                [disabled]="f.invalid || warning"
                type="button"
                class="btn btn-primary me-1 mb-1"
                data-bs-dismiss="modal"
                (click)="saveAsset()"
              >
                {{ "crypto.cryptoModal.addAsset.add" | translate }}
              </button>
            </div>

            <!-- Mobile Button -->
            <div
              *ngIf="!isWalletSelected"
              class="mt-1 form-group basic hidden_desktop"
            >
              <button
                [disabled]="modelWallet == ''"
                type="button"
                class="btn btn-primary btn-block btn-lg"
                (click)="selectWallet()"
              >
                {{
                  "crypto.cryptoModal.addAsset.selectWalletTitle" | translate
                }}
              </button>
            </div>

            <div
              *ngIf="isWalletSelected && !isAssetSelected"
              class="mt-1 form-group basic hidden_desktop"
            >
              <button
                [disabled]="modelAsset == ''"
                type="button"
                class="btn btn-primary btn-block btn-lg"
                (click)="selectAsset()"
              >
                {{ "crypto.cryptoModal.addAsset.selectAsset" | translate }}
              </button>
            </div>

            <div
              *ngIf="isAssetSelected"
              class="mt-1 form-group basic hidden_desktop"
            >
              <button
                [disabled]="f.invalid || warning"
                type="button"
                class="btn btn-primary btn-block btn-lg"
                data-bs-dismiss="modal"
                (click)="saveAsset()"
              >
                {{ "crypto.cryptoModal.addAsset.add" | translate }}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- * Send Action Sheet -->
