@media screen and (max-width: 780px) {
    .appHeader {
        height: 56px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: env(safe-area-inset-top);
        left: 0;
        right: 0;
        z-index: 999;
        background: #FFFFFF;
        color: #27173E;
        border-bottom: 1px solid #DCDCE9;
    }

    .headerButton {
        margin-top: 0px !important;
    }
}