<!-- App Header -->
<div class="appHeader no-border transparent position-absolute">
  <div class="left">
    <a
      *ngIf="counter != 1"
      class="headerButton goBack"
      data-bs-target="#carouselExampleFade"
      data-bs-slide="prev"
      (click)="prev()"
    >
      <!--<ion-icon name="chevron-back-outline"></ion-icon>-->
      <ion-icon name="arrow-back-outline"></ion-icon>
    </a>
  </div>
  <div class="pageTitle"></div>
  <div class="right"></div>
</div>
<!-- * App Header -->

<!-- App Capsule -->
<div id="appCapsule" class="section-width mx-auto">
  <div
    id="carouselExampleFade"
    class="carousel slide carousel-fade"
    data-interval="false"
    data-bs-ride="true"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="3"
        aria-label="Slide 4"
      ></button>
    </div>
    <div *ngIf="!isCrypto" class="carousel-inner mx-auto">
      <div class="carousel-item active">
        <div class="img mx-auto">
          <img
            src="{{
              environment.baseUrlDashboard
            }}assets/images/logos/favicon_trasparent.png"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="section mt-2 text-center">
          <h1>{{ "onboarding_page.tab1.app_title" | translate }}</h1>
          <p [innerHTML]="'onboarding_page.tab1.app_text' | translate"></p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="img mx-auto">
          <img
            src="{{ environment.baseUrlDashboard }}assets/images/sample/why.png"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="section mt-2 text-center">
          <h1>{{ "onboarding_page.tab2.app_title" | translate }}</h1>
          <p [innerHTML]="'onboarding_page.tab2.app_text' | translate"></p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="img mx-auto">
          <img
            src="{{
              environment.baseUrlDashboard
            }}assets/images/sample/add-wallet.png"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="section mt-2 text-center">
          <h1>{{ "onboarding_page.tab3.app_title" | translate }}</h1>
          <p [innerHTML]="'onboarding_page.tab3.app_text' | translate"></p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="img mx-auto">
          <img
            src="{{
              environment.baseUrlDashboard
            }}assets/images/sample/checked.png.png"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="section mt-2 text-center">
          <h1>{{ "onboarding_page.tab4.app_title" | translate }}</h1>
          <p [innerHTML]="'onboarding_page.tab4.app_text' | translate"></p>
        </div>
      </div>
    </div>
    <div *ngIf="isCrypto" class="carousel-inner mx-auto">
      <div class="carousel-item active">
        <div class="img mx-auto">
          <img
            src="{{
              environment.baseUrlDashboard
            }}assets/images/crypto/Bitcoin-icon.png"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="section mt-2 text-center">
          <h1>{{ "onboarding_page.tab1.crypto_title" | translate }}</h1>
          <p [innerHTML]="'onboarding_page.tab1.crypto_text' | translate"></p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="img mx-auto">
          <img
            src="{{ environment.baseUrlDashboard }}assets/images/sample/why.png"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="section mt-2 text-center">
          <h1>{{ "onboarding_page.tab2.crypto_title" | translate }}</h1>
          <p [innerHTML]="'onboarding_page.tab2.crypto_text' | translate"></p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="img mx-auto">
          <img
            src="{{
              environment.baseUrlDashboard
            }}assets/images/sample/add-wallet.png"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="section mt-2 text-center">
          <h1>{{ "onboarding_page.tab3.crypto_title" | translate }}</h1>
          <p [innerHTML]="'onboarding_page.tab3.crypto_text' | translate"></p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="img mx-auto">
          <img
            src="{{
              environment.baseUrlDashboard
            }}assets/images/sample/checked.png.png"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="section mt-2 text-center">
          <h1>{{ "onboarding_page.tab4.crypto_title" | translate }}</h1>
          <p [innerHTML]="'onboarding_page.tab4.crypto_text' | translate"></p>
        </div>
      </div>
    </div>
  </div>

  <div class="form-button-group transparent section-width mx-auto">
    <button
      *ngIf="counter != 4"
      class="btn btn-primary btn-block btn-lg"
      type="button"
      data-bs-target="#carouselExampleFade"
      data-bs-slide="next"
      (click)="next()"
    >
      {{ "shared_text.next" | translate }}
    </button>
    <button
      *ngIf="counter === 4 && !isCrypto"
      class="btn btn-primary btn-block btn-lg"
      type="button"
      routerLink=""
    >
      {{ "shared_text.try" | translate }}
    </button>
    <button
      *ngIf="counter === 4 && isCrypto"
      class="btn btn-primary btn-block btn-lg"
      type="button"
      routerLink="/crypto/requirements"
    >
      {{ "shared_text.try" | translate }}
    </button>
  </div>
</div>
<!-- * App Capsule -->
