<!-- App Header -->
<div class="appHeader no-border transparent position-absolute">
  <div class="left">
    <a
      *ngIf="counter != 1"
      class="headerButton goBack clickable"
      (click)="prev()"
    >
      <ion-icon name="arrow-back-outline"></ion-icon>
    </a>
  </div>
  <div class="pageTitle"></div>
  <div class="right"></div>
</div>
<!-- * App Header -->

<!-- App Capsule -->
<div id="appCapsule" class="section-width mx-auto">
  <div
    id="carouselExampleFade"
    class="carousel slide carousel-fade"
    data-interval="false"
    data-bs-ride="true"
  >
    <!-- Carousel Indicators -->
    <div class="carousel-indicators">
      <button
        *ngFor="let index of [1, 2, 3, 4]"
        type="button"
        [id]="'counter_' + index"
        [class.active]="counter === index"
        (click)="setCounter(index)"
        [attr.aria-current]="counter === index ? 'true' : null"
        [attr.aria-label]="'Slide ' + index"
        [attr.data-bs-target]="'#carouselExampleCaptions'"
        [attr.data-bs-slide-to]="index"
      ></button>
    </div>
    <div class="carousel-inner mx-auto">
      <!-- Per non-crypto -->
      <div *ngIf="!isCrypto">
        <div
          *ngFor="let index of [1, 2, 3, 4]"
          [id]="'data_' + index"
          class="carousel-item fade-in"
          [class.active]="counter === index"
        >
          <div class="img mx-auto">
            <img [src]="getImageUrl(index)" class="d-block w-100" alt="..." />
          </div>
          <div class="section mt-2 text-center">
            <h1>
              {{ "onboarding_page.tab" + index + ".app_title" | translate }}
            </h1>
            <p
              [innerHTML]="
                'onboarding_page.tab' + index + '.app_text' | translate
              "
            ></p>
          </div>
        </div>
      </div>

      <!-- Per crypto -->
      <div *ngIf="isCrypto">
        <div
          *ngFor="let index of [1, 2, 3, 4]"
          [id]="'crypto_data_' + index"
          class="carousel-item fade-in"
          [class.active]="counter === index"
        >
          <div class="img mx-auto">
            <img
              [src]="getCryptoImageUrl(index)"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="section mt-2 text-center">
            <h1>
              {{ "onboarding_page.tab" + index + ".crypto_title" | translate }}
            </h1>
            <p
              [innerHTML]="
                'onboarding_page.tab' + index + '.crypto_text' | translate
              "
            ></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Pulsanti -->
    <div class="form-button-group transparent section-width mx-auto">
      <button
        *ngIf="counter != 4"
        class="btn btn-primary btn-block btn-lg"
        type="button"
        (click)="next()"
      >
        {{ "shared_text.next" | translate }}
      </button>
      <button
        *ngIf="counter === 4 && !isCrypto"
        class="btn btn-primary btn-block btn-lg"
        type="button"
        routerLink=""
      >
        {{ "shared_text.try" | translate }}
      </button>
      <button
        *ngIf="counter === 4 && isCrypto"
        class="btn btn-primary btn-block btn-lg"
        type="button"
        routerLink="/crypto/requirements"
      >
        {{ "shared_text.try" | translate }}
      </button>
    </div>
  </div>
  <!-- * App Capsule -->
</div>
