.icon-shape {
  display: inline-flex;
  padding: 12px;
  text-align: center;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.icon {
  width: 3rem;
  height: 3rem;
}

.round-img {
  border-radius: 50%;
}

@media screen and (max-width: 780px) {
  .row {
    margin-right: -15px !important;
  }
}

.table-logo {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  margin-left: -10px;
}

.apexcharts-gridline,
line {
  stroke: red !important;
}
