<div class="mx-auto section-width">
  <app-crypto-header
    [routerLinks]="''"
    (emitOperationClick)="emitOperationClick($event)"
  ></app-crypto-header>

  <!-- App Capsule -->
  <div id="appCapsule">
    <div class="title-section">
      <h2 class="title hidden_mobile">
        {{ "crypto.dashboard.title" | translate }}
      </h2>
    </div>
    <div class="row mx-auto">
      <div class="col-xl-4 col-md-6">
        <div class="section mt-2">
          <div class="card border_round d-flex" style="margin: -10px">
            <img
              class="cover imgCover"
              src="{{ environment.baseUrlHeader }}assets/images/crypto/card.svg"
              alt="media"
            />
            <div class="card-body">
              <div class="d-flex float-end">
                <img
                  src="{{
                    environment.baseUrlHeader
                  }}assets/images/crypto/Bitcoin-icon.png"
                  width="100px"
                  alt=""
                  srcset=""
                />
              </div>
              <div class="clickable" (click)="hiddenShowAmount()">
                <p class="card-title">
                  {{ "crypto.dashboard.cardRes.title" | translate }}
                  <ion-icon
                    *ngIf="!hidden"
                    name="eye-outline"
                    style="
                      height: 20px;
                      width: 20px;
                      align-self: center;
                      position: absolute;
                      top: 3px;
                      color: aliceblue;
                    "
                    class="ps-1"
                  ></ion-icon>
                  <ion-icon
                    *ngIf="hidden"
                    name="eye-off-outline"
                    style="
                      height: 20px;
                      width: 20px;
                      align-self: center;
                      position: absolute;
                      top: 3px;
                      color: aliceblue;
                    "
                    class="ps-1"
                  ></ion-icon>
                </p>
              </div>
              <h5 class="card-text fs-3 balance load-text">
                {{ hidden ? amount : cryptoDashboard.balance }}
                <small class="hidden">{{ cryptoDashboard.currency }}</small>
              </h5>
              <p style="margin-top: -15px" class="load-text">
                {{ hidden ? amount : cryptoDashboard.btcBalance }} BTC
              </p>
              <p style="margin-top: -15px" class="card-text load-text">
                <small
                  >{{ "crypto.dashboard.cardRes.lastUpdate" | translate }}
                  {{
                    cryptoDashboard.lastUpdate | date : "d MMM y HH:mm"
                  }}</small
                >
              </p>
              <hr />
              <div class="row text-center" style="height: 25px">
                <div
                  data-bs-toggle="modal"
                  attr.data-bs-target="#{{ modalConstant.ADDASSET }}"
                  style="
                    position: absolute;
                    left: 0px;
                    z-index: 99;
                    pointer-events: visible;
                    cursor: pointer;
                  "
                  class="col-6"
                >
                  <ion-icon
                    class="icon-size icon-color"
                    name="add-circle"
                  ></ion-icon>
                  <a
                    style="vertical-align: -1px"
                    (click)="vibrate()"
                    (click)="getWalletsCryptoData()"
                    >{{ "crypto.dashboard.cardRes.opt1" | translate }}</a
                  >
                </div>
                <div
                  style="
                    position: absolute;
                    right: 0px;
                    border-left: solid 1px;
                    z-index: 99;
                    pointer-events: visible;
                    cursor: pointer;
                  "
                  class="col-6 hidden_desktop"
                  (click)="vibrate()"
                  routerLink="/crypto/asset"
                >
                  <ion-icon
                    class="icon-size icon-color"
                    name="albums-outline"
                  ></ion-icon>
                  <a style="vertical-align: -1px; color: #958d9e">{{
                    "crypto.dashboard.cardRes.opt2" | translate
                  }}</a>
                </div>
                <div
                  data-bs-toggle="modal"
                  attr.data-bs-target="#{{ modalConstant.ADDWALLET }}"
                  style="
                    position: absolute;
                    right: 0px;
                    border-left: solid 1px;
                    z-index: 99;
                    pointer-events: visible;
                    cursor: pointer;
                  "
                  class="col-6 hidden_mobile"
                >
                  <ion-icon
                    class="icon-size icon-color"
                    name="add-circle"
                  ></ion-icon>
                  <a
                    style="vertical-align: -1px; color: #958d9e"
                    (click)="getWalletsData()"
                    >{{ "crypto.dashboard.cardRes.opt3" | translate }}</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hidden_desktop mt-3 text-center">
        <div class="row">
          <div class="col-3" style="margin-left: -1px">
            <a
              data-bs-toggle="modal"
              attr.data-bs-target="#{{ modalConstant.ADDWALLET }}"
              class="inline-block quick-action clickable"
            >
              <div class="user-card">
                <div class="icon-wrapper bg-danger">
                  <ion-icon name="duplicate"></ion-icon>
                </div>
                <strong class="title_text">{{
                  "crypto.dashboard.mobileBtn.opt1" | translate
                }}</strong>
              </div>
            </a>
          </div>
          <div class="col-3" style="margin-left: -1px">
            <a
              data-bs-toggle="modal"
              attr.data-bs-target="#{{ modalConstant.ADDOPERATIONS }}"
              class="inline-block quick-action clickable"
            >
              <div class="user-card">
                <div class="icon-wrapper bg-success">
                  <!--<ion-icon name="logo-electron"></ion-icon>-->
                  <ion-icon name="swap-horizontal"></ion-icon>
                </div>
                <strong class="title_text">{{
                  "crypto.dashboard.mobileBtn.opt2" | translate
                }}</strong>
              </div>
            </a>
          </div>
          <div class="col-3" style="margin-left: -1px">
            <a routerLink="/crypto/resume" class="inline-block quick-action">
              <div class="user-card">
                <div class="icon-wrapper bg-warning">
                  <ion-icon name="bar-chart"></ion-icon>
                </div>
                <strong>{{
                  "crypto.dashboard.mobileBtn.opt3" | translate
                }}</strong>
              </div>
            </a>
          </div>
          <div class="col-3" style="margin-left: -1px">
            <a routerLink="/settings" class="inline-block quick-action">
              <div class="user-card">
                <div class="icon-wrapper" style="background: #337ab7">
                  <ion-icon name="settings" style="color: aliceblue"></ion-icon>
                </div>
                <strong>{{
                  "crypto.dashboard.mobileBtn.opt4" | translate
                }}</strong>
              </div>
            </a>
          </div>
        </div>
      </div>
      <!-- Portfolio -->
      <div class="section mt-1 mb-1 hidden_desktop">
        <div class="card">
          <div class="card-body">
            <!-- TradingView Widget BEGIN -->
            <div class="tradingview-widget-container">
              <div class="tradingview-widget-container__widget"></div>
              <div #tradingViewPricesScroll></div>
            </div>
            <!-- TradingView Widget END -->
          </div>
        </div>
      </div>
      <!-- Stats -->
      <div class="section stats-section col-xl-5">
        <div class="row mt-1">
          <div class="col-6">
            <app-stats-card
              [title]="'crypto.dashboard.performanceCard.holding' | translate"
              value="<h5 class='card-text fs-3 m-0'>{{
                (hidden
                  ? amount
                  : cryptoDashboard.holdingLong.balance
                ).toString() +
                  ' <small>' +
                  cryptoDashboard.currency.toString() +
                  '</small></h5>'
              }}
              "
            >
            </app-stats-card>
          </div>
          <div class="col-6">
            <app-stats-card
              title="{{
                'crypto.dashboard.performanceCard.trading' | translate
              }}"
              value="<h5 class='card-text fs-3 m-0'>
                {{ hidden ? amount : cryptoDashboard.trading.balance }}
                <small>{{ cryptoDashboard.currency }}</small>
              </h5>"
              [class]="'date'"
            >
            </app-stats-card>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-6">
            <app-stats-card
              title="{{
                'crypto.dashboard.performanceCard.lastUpdate' | translate
              }}
                {{ cryptoDashboard.holdingLong.lastUpdate | date : 'd MMM y' }}"
              value="{{
                hidden
                  ? amount
                  : calculateTrend(
                      cryptoDashboard.holdingLong.balance,
                      cryptoDashboard.holdingLong.performance
                    ) +
                    ' ' +
                    cryptoDashboard.currency
              }}
              <span class='badge align-top {{
                cryptoDashboard.holdingLong.performance == 0
                  ? 'badge-warning'
                  : cryptoDashboard.holdingLong.performance > 0
                  ? 'badge-success'
                  : 'badge-danger'
              }}'
            >
              <ion-icon
                name='{{
                cryptoDashboard.holdingLong.performance > 0
                  ? 'arrow-up-outline'
                  : 'arrow-down-outline'
              }}'
              ></ion-icon>
              {{ cryptoDashboard.holdingLong.performance }}%
            </span>"
              [class]="
                cryptoDashboard.holdingLong.performance == 0
                  ? 'text-warning'
                  : cryptoDashboard.holdingLong.performance > 0
                  ? 'text-success'
                  : 'text-danger'
              "
            >
            </app-stats-card>
          </div>
          <div class="col-6">
            <app-stats-card
              title="{{
                'crypto.dashboard.performanceCard.lastUpdate' | translate
              }}
                {{ cryptoDashboard.trading.lastUpdate | date : 'd MMM y' }}"
              value="{{
                hidden
                  ? amount
                  : calculateTrend(
                      cryptoDashboard.trading.balance,
                      cryptoDashboard.trading.performance
                    ) +
                    ' ' +
                    cryptoDashboard.currency
              }}
              <span class='badge align-top {{
                cryptoDashboard.trading.performance == 0
                  ? 'badge-warning'
                  : cryptoDashboard.trading.performance > 0
                  ? 'badge-success'
                  : 'badge-danger'
              }}'
            >
              <ion-icon
                name='{{
                cryptoDashboard.trading.performance > 0
                  ? 'arrow-up-outline'
                  : 'arrow-down-outline'
              }}'
              ></ion-icon>
              {{ cryptoDashboard.trading.performance }}%
            </span>"
              [class]="
                cryptoDashboard.trading.performance == 0
                  ? 'text-warning'
                  : cryptoDashboard.trading.performance > 0
                  ? 'text-success'
                  : 'text-danger'
              "
            >
            </app-stats-card>
          </div>
        </div>
      </div>
      <!-- * Stats -->
      <div class="section col-12 col-md-3 section-performance mx-auto">
        <div class="section-heading">
          <p>
            {{ "crypto.dashboard.performanceCard.title" | translate }}
          </p>
        </div>
        <div class="card loading-hidden" style="margin-top: -30px">
          <div class="card-body text-center mx-auto">
            <!-- TradingView Widget BEGIN-->
            <div class="tradingview-widget-container">
              <div class="tradingview-widget-container__widget"></div>
              <div #dayGraph></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Portfolio -->
      <div class="section mt-5 col-xl-6">
        <div class="section-heading">
          <h2 class="title ms-2">
            {{ "crypto.dashboard.assetsCard.title" | translate }}
          </h2>
          <a routerLink="/crypto/asset" class="link">{{
            "crypto.dashboard.assetsCard.view" | translate
          }}</a>
        </div>
        <div class="transactions">
          <div *ngIf="!assets || assets.length == 0">
            <app-loading-card *ngFor="let item of [1, 2, 3]"></app-loading-card>
          </div>
          <div *ngFor="let asset of assets; let i = index">
            <app-transaction-card
              *ngIf="i < 4"
              [assets]="asset"
              [currency]="cryptoDashboard.currency"
              [hiddenAmount]="hidden"
            >
            </app-transaction-card>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <!-- Portfolio -->
        <div class="section mt-4">
          <div class="section-heading">
            <h2 class="title">
              {{ "crypto.dashboard.assetsCard.assetGraph" | translate }}
            </h2>
            <div
              class="form-group boxed"
              style="width: 150px; margin-bottom: -10px; margin-top: -20px"
            >
              <div class="input-wrapper">
                <select
                  [ngModel]="selectedSymbol"
                  (ngModelChange)="onChange($event)"
                  class="form-control custom-select"
                >
                  <option
                    *ngFor="let coin of symbolList"
                    value="{{ coin.split('-')[0] + coin.split('-')[1] }}"
                  >
                    {{ coin }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="card" style="margin-left: -10px; margin-right: -10px">
            <div class="card-body" style="height: 380px">
              <!-- TradingView Widget BEGIN -->
              <div class="tradingview-widget-container">
                <div class="tradingview-widget-container__widget"></div>
                <div #selectGraph style="height: 360px"></div>
              </div>
              <!-- TradingView Widget END -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Portfolio -->
    <div class="row">
      <div class="col-12">
        <div class="section mt-4">
          <div class="card" style="margin-left: -10px; margin-right: -10px">
            <div class="card-body">
              <!-- TradingView Widget BEGIN -->
              <div class="tradingview-widget-container">
                <div class="tradingview-widget-container__widget"></div>
                <div #tradingViewPrices></div>
              </div>
              <!-- TradingView Widget END -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section mt-3 col-12">
      <div class="section-heading">
        <h2 class="title ms-2">
          {{ "crypto.dashboard.marketData.title" | translate }}
        </h2>
        <a
          [routerLink]="['/crypto/market-data', cryptoDashboard.currency]"
          class="link me-2"
          >{{ "crypto.dashboard.marketData.view" | translate }}</a
        >
      </div>
      <div class="transactions marketData">
        <app-loading-card *ngFor="let item of [1, 2, 3]"></app-loading-card>
        <app-market-data-table
          [filterMarketData]="filterMarketData"
          [limit]="15"
        ></app-market-data-table>
      </div>
    </div>
  </div>
</div>
<div class="appFooter fixed">
  <div class="footer-title">
    {{ "copyright" | translate }}
  </div>
</div>

<app-add-wallet
  (emitAddWallet)="saveWallet($event)"
  [wallets]="wallets"
  [modalId]="modalConstant.ADDWALLET"
  [isCrypto]="true"
></app-add-wallet>
<app-add-asset-modal
  (emitAddAsset)="saveWallet($event)"
  [marketData]="filterMarketData"
  [cryptoCurrency]="cryptoDashboard.currency"
  [modalId]="modalConstant.ADDASSET"
  [wallets]="cryptoWallet!"
></app-add-asset-modal>
<app-operations-modal
  [modalId]="modalConstant.ADDOPERATIONS"
  [wallets]="cryptoWallet!"
  [assets]="cryptoDashboard.assets"
  [currency]="cryptoDashboard.currency"
  [statsAssetsDays]="cryptoDashboard.statsAssetsDays"
  (emitAddStats)="getCryptoDashboard()"
></app-operations-modal>
