<app-header [user]="user" *ngIf="screenService.isCrypto"></app-header>
<section class="section-width mx-auto">
  <app-header-mobile
    *ngIf="isMobile()"
    [title]="'settings_page.title' | translate"
  >
  </app-header-mobile>
  <!-- App Capsule -->
  <div id="appCapsule">
    <app-title-desktop
      [title]="'settings_page.title' | translate"
    ></app-title-desktop>
    <div class="settings mx-auto">
      <div class="section mt-3 text-center">
        <div class="avatar-section">
          <a>
            <img
              src="{{ user?.profilePhoto }}"
              alt="avatar"
              class="imaged w100 rounded"
              (click)="file.click()"
            />
            <input
              type="file"
              style="display: none"
              accept=".png, .jpg, .jpeg"
              (change)="onFileSelected($event)"
              #file
            />
            <span class="button">
              <ion-icon name="camera-outline"></ion-icon>
            </span>
          </a>
        </div>
        <div
          *ngIf="warning"
          class="mx-auto alert alert-danger mb-1 mt-2"
          role="alert"
        >
          {{ "modal_component.add_wallet.sizeToBig" | translate
          }}{{ environment.imageSizeMax / 1000 }}kb
        </div>
      </div>

      <div class="listview-title mt-1">
        {{ "settings_page.theme_title" | translate }}
      </div>
      <ul class="listview border_round image-listview text inset no-line">
        <li>
          <div class="item">
            <div class="in">
              <div>{{ "settings_page.theme_dark" | translate }}</div>
              <div class="form-check form-switch ms-2">
                <input
                  class="form-check-input dark-mode-switch"
                  type="checkbox"
                  id="darkmodeSwitch"
                />
                <label class="form-check-label" for="darkmodeSwitch"></label>
              </div>
            </div>
          </div>
        </li>
      </ul>

      <div class="listview-title mt-1">
        {{ "settings_page.account_title" | translate }}
      </div>
      <ul class="listview border_round image-listview text inset">
        <li>
          <a
            href="#"
            data-bs-toggle="modal"
            attr.data-bs-target="#{{ modalConstant.PROFILESETTINGS }}"
            class="item zoom"
            (click)="profileConst = profileSettings.USERNAME"
          >
            <div class="in">
              <div>{{ "settings_page.account_username" | translate }}</div>
            </div>
          </a>
        </li>
        <li>
          <a
            href="#"
            data-bs-toggle="modal"
            attr.data-bs-target="#{{ modalConstant.PROFILESETTINGS }}"
            class="item zoom"
            (click)="profileConst = profileSettings.EMAIL"
          >
            <div class="in">
              <div>{{ "settings_page.account_email" | translate }}</div>
            </div>
          </a>
        </li>
      </ul>

      <div class="listview-title mt-1">
        {{ "settings_page.title" | translate }}
      </div>
      <ul class="listview border_round image-listview text inset">
        <li>
          <a href="#" routerLink="/wallet" class="item zoom">
            <div class="in">
              <div>{{ "settings_page.wallet_edit" | translate }}</div>
            </div>
            <span class="text-primary">{{
              "shared_text.open" | translate
            }}</span>
          </a>
        </li>
        <li>
          <a
            href="#"
            data-bs-toggle="modal"
            attr.data-bs-target="#{{ modalConstant.LANGUAGES }}"
            class="item zoom"
          >
            <div class="in">
              <div>{{ "settings_page.languages_title" | translate }}</div>
              <span class="text-primary">{{
                "shared_text.edit" | translate
              }}</span>
            </div>
          </a>
        </li>

        <li>
          <a
            class="item zoom"
            data-bs-toggle="modal"
            attr.data-bs-target="#{{ modalConstant.BACKUPDATA }}"
          >
            <div class="in">
              <div>{{ "modal_component.backup.title" | translate }}</div>
            </div>
          </a>
        </li>
        <li>
          <div class="item">
            <div class="in">
              <div>
                {{ "settings_page.live_wallet_title" | translate }}
                <div class="text-muted">
                  {{ "settings_page.live_wallet_description" | translate }}
                </div>
              </div>
              <div class="form-check form-switch ms-2">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="liveWallet"
                  [checked]="isLiveWallet"
                  (click)="liveWallet()"
                />
                <label class="form-check-label" for="liveWallet"></label>
              </div>
            </div>
          </div>
        </li>
      </ul>

      <!-- Info Develop & Contact -->
      <div class="listview-title mt-1">
        {{ "settings_page.develop" | translate }}
      </div>
      <ul class="listview border_round image-listview text inset mb-2">
        <li>
          <a class="item zoom" routerLink="/support">
            <div class="in">
              <div>{{ "settings_page.info_support" | translate }}</div>
            </div>
          </a>
        </li>

        <li>
          <a
            class="item zoom"
            data-bs-toggle="modal"
            attr.data-bs-target="#{{ modalConstant.OPENBUG }}"
          >
            <div class="in">
              <div>{{ "modal_component.report_bug.title" | translate }}</div>
            </div>
          </a>
        </li>

        <li>
          <a
            href="{{ environment.hostService }}"
            class="item zoom"
            target="_blank"
          >
            <div class="in">
              <div>{{ "settings_page.info_service" | translate }}</div>
            </div>
            <span class="text-primary">{{
              "settings_page.info_version_open" | translate
            }}</span>
          </a>
        </li>
      </ul>

      <!-- Admin Features -->
      <div *ngIf="user?.role == userRole.ADMIN">
        <div class="listview-title mt-1">
          {{ "settings_page.admin_title" | translate }}
        </div>
        <ul class="listview border_round image-listview text inset mb-2">
          <li>
            <a class="item zoom" (click)="cleanCache()">
              <div class="in">
                <div>{{ "settings_page.admin_cache" | translate }}</div>
              </div>
            </a>
          </li>

          <li>
            <a class="item zoom" (click)="importMarketData()">
              <div class="in">
                <div>{{ "settings_page.admin_marketData" | translate }}</div>
              </div>
            </a>
          </li>
        </ul>
      </div>

      <!-- Security Section -->
      <div class="listview-title mt-1">
        {{ "settings_page.security_title" | translate }}
      </div>
      <ul class="listview border_round image-listview text mb-2 inset">
        <li>
          <a
            href="#"
            data-bs-toggle="modal"
            attr.data-bs-target="#{{ modalConstant.PROFILESETTINGS }}"
            class="item zoom"
            (click)="profileConst = profileSettings.PASSWORD"
          >
            <div class="in">
              <div>{{ "settings_page.security_password" | translate }}</div>
            </div>
          </a>
        </li>

        <li>
          <a (click)="logout()" class="item zoom">
            <div class="in">
              <div>{{ "shared_text.logout" | translate }}</div>
            </div>
          </a>
        </li>
      </ul>

      <div class="listview-title mt-1">
        {{ "settings_page.info_title" | translate }}
      </div>
      <ul class="listview border_round image-listview text inset mb-2">
        <li>
          <a class="item zoom" routerLink="/on-boarding">
            <div class="in">
              <div>{{ "settings_page.info_howItWorks" | translate }}</div>
            </div>
          </a>
        </li>

        <li>
          <a
            class="item zoom"
            data-bs-toggle="modal"
            attr.data-bs-target="#{{ modalConstant.UPDATEAPP }}"
          >
            <div class="in">
              <div>{{ "modal_component.update.title" | translate }}</div>
            </div>
          </a>
        </li>

        <li>
          <a
            href="#"
            class="item zoom"
            data-bs-toggle="modal"
            attr.data-bs-target="#{{ modalConstant.VERSION }}"
          >
            <div class="in">
              <div>{{ "settings_page.info_version" | translate }}</div>
            </div>
            <span class="text-primary">{{
              "settings_page.info_version_open" | translate
            }}</span>
          </a>
        </li>
      </ul>
      <div align="center">
        <img
          src="{{
            environment.baseUrlDashboard
          }}assets/images/logos/logo_transparent_gray_land.png"
          alt=""
          srcset=""
          style="width: 150px"
          class="pb-3 pt-1"
        />
      </div>
    </div>
  </div>

  <!-- * App Capsule -->
</section>

<app-profile-settings
  [modalId]="modalConstant.PROFILESETTINGS"
  [profileConst]="profileConst"
  [user]="user"
></app-profile-settings>
<app-languages [modalId]="modalConstant.LANGUAGES"></app-languages>
<app-update [modalId]="modalConstant.UPDATEAPP" #content></app-update>
<app-open-bug [modalId]="modalConstant.OPENBUG"></app-open-bug>
<app-backup-data [modalId]="modalConstant.BACKUPDATA"></app-backup-data>
