.gradientSection {
  background-position: center center !important;
  background-size: cover !important;
  background-repeat: none;
  text-align: center;
  //box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
  border-radius: 20px;
}

.text-auto {
  height: auto;
}
