<div [style]="style" class="bill-box gradientSection">
  <div class="img-wrapper">
    <img [src]="wallet?.img" alt="img" class="image-block imaged w48" />
  </div>
  <div class="price walleName">
    {{ wallet?.name }}
  </div>
  <mark *ngIf="!wallet?.deletedDate && !hiddenAmount"
    >{{ coinSymbol }} {{ wallet?.balance }}</mark
  >
  <mark *ngIf="!wallet?.deletedDate && hiddenAmount"
    >{{ coinSymbol }} {{ amount }}</mark
  >
  <p class="pt-1">{{ wallet?.category }}</p>

  <a
    *ngIf="btn"
    href="#"
    [routerLink]="['/wallet/details', wallet?.id, wallet?.name]"
    class="btn btn-primary btn-block btn-sm"
    >{{ btn }}</a
  >
</div>
