.title-section {
  margin-left: 30px;
  margin-top: 10px;
  margin-right: -85px;
  margin-bottom: -60px;
}

@media screen and (max-width: 780px) {
  .title-section {
    margin-left: 20px;
    margin-top: 10px !important;
    margin-bottom: 20px !important;
  }

  .input-wrapper {
    max-width: 90% !important;
    margin-left: 8% !important;
  }
  .transactions {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  #appCapsule {
    overflow-x: hidden;
  }
}
.transparent {
  background-color: transparent !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.addWallet {
  padding-right: 30px;
}

#appCapsule {
  overflow-x: hidden;
}
