<div id="appCapsule" class="faded faded-bottom">
  <section class="section-width mx-auto">
    <div class="row">
      <!-- Wallet Card -->
      <div class="section wallet-card-section pt-1 col-xl-6">
        <app-dashboard-wallet
          (changeAmountStatus)="changeAmountStatus($event)"
          [dashboard]="dashboard"
          [value]="user.attributes.money_stats_settings.currencySymbol"
          [user]="user"
        >
        </app-dashboard-wallet>
      </div>
      <!-- Wallet Card -->

      <!-- Stats -->
      <div class="section stats-section col-xl-6">
        <div class="row mt-2">
          <div class="col-6">
            <app-stats-card
              [title]="
                ('dashboard_page.dashboard_card.stats_card.title1'
                  | translate) + performanceSince
              "
              [value]="performance"
              [class]="
                dashboard.performance === 0
                  ? 'text-warning'
                  : dashboard.performance > 0
                  ? 'text-success'
                  : 'text-danger'
              "
            >
            </app-stats-card>
          </div>
          <div class="col-6">
            <app-stats-card
              [title]="
                'dashboard_page.dashboard_card.stats_card.title2' | translate
              "
              [value]="performanceLastDate"
              [class]="'date'"
            >
            </app-stats-card>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-6">
            <app-stats-card
              [title]="
                'dashboard_page.dashboard_card.stats_card.title3' | translate
              "
              [value]="lastStatsPerformance"
              [class]="
                dashboard.lastStatsPerformance === 0
                  ? 'text-warning'
                  : dashboard.lastStatsPerformance > 0
                  ? 'text-success'
                  : 'text-danger'
              "
            >
            </app-stats-card>
          </div>
          <div class="col-6">
            <app-stats-card
              [title]="
                'dashboard_page.dashboard_card.stats_card.title3' | translate
              "
              [value]="hidden ? amount : lastStatsBalanceDifference"
              [class]="
                dashboard.lastStatsBalanceDifference === 0
                  ? 'text-warning'
                  : dashboard.lastStatsBalanceDifference > 0
                  ? 'text-success'
                  : 'text-danger'
              "
            >
            </app-stats-card>
          </div>
        </div>
      </div>
      <!-- * Stats -->
    </div>

    <div class="row">
      <!-- Transactions -->
      <div class="section mt-4 col-xl-6">
        <div class="section-heading">
          <h2 class="title">
            {{ "transactions_page.title" | translate }}
          </h2>
          <a href="#" routerLink="/transaction" class="link">{{
            "shared_text.view" | translate
          }}</a>
        </div>
        <div class="transactions">
          <div *ngIf="!dashboard.wallets || !dashboard.wallets.length">
            <app-loading-card *ngFor="let item of [1, 2, 3]"></app-loading-card>
          </div>
          <app-content-box
            *ngIf="!dashboard.wallets || !dashboard.wallets.length"
            [header]="'transactions_page.title' | translate"
            [body]="'transactions_page.empty_body_text' | translate"
          ></app-content-box>
          <div *ngFor="let wallet of dashboard.wallets; let i = index">
            <app-transaction-card
              [hiddenAmount]="hidden!"
              *ngIf="i < 4"
              [class]="
                wallet.differenceLastStats === 0
                  ? 'text-warning'
                  : wallet.differenceLastStats > 0
                  ? 'text-success'
                  : 'text-danger'
              "
              [differenceLastStats]="
                wallet.differenceLastStats +
                ' ' +
                user.attributes.money_stats_settings.currencySymbol
              "
              [wallet]="wallet"
            >
            </app-transaction-card>
          </div>
        </div>
      </div>
      <!-- * Transactions -->

      <!-- Graph -->
      <div class="section mt-4 col-xl-6">
        <div class="section-heading">
          <h2 class="title" id="year">
            {{ graphTitle }}
          </h2>
          <a routerLink="stats" class="link">{{
            "shared_text.view" | translate
          }}</a>
        </div>
        <app-content-box
          *ngIf="
            !dashboard.statsWalletDays || !dashboard.statsWalletDays.length
          "
          [header]="'dashboard_page.graph.graph' | translate"
          [body]="'dashboard_page.graph.empty_body_text' | translate"
        ></app-content-box>
        <div
          *ngIf="dashboard.statsWalletDays && dashboard.statsWalletDays.length"
          class="card border_round"
        >
          <!--<div class="card-body">-->
          <div class="inner-round" style="height: 380px">
            <div
              *ngIf="!chartOptions"
              class="lds-ellipsis position-absolute top-50 start-50 translate-middle"
            >
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
            <apx-chart
              *ngIf="chartOptions"
              [series]="chartOptions.series!"
              [chart]="chartOptions.chart!"
              [title]="chartOptions.title!"
              [colors]="chartOptions.colors!"
              [legend]="chartOptions.legend!"
              [labels]="chartOptions.labels!"
              [grid]="chartOptions.grid!"
              [dataLabels]="chartOptions.dataLabels!"
              [tooltip]="chartOptions.tooltip!"
              [stroke]="chartOptions.stroke!"
              type="area"
            ></apx-chart>
          </div>
          <!--<div id="chart-line"></div>-->
          <!--</div>-->
        </div>
      </div>
      <!-- * Graph -->
    </div>

    <!-- Wallet -->
    <div class="section full mt-4">
      <div class="section-heading padding">
        <h2 class="title">
          {{ "dashboard_page.wallet_splide.title" | translate }}
        </h2>
        <a href="#" routerLink="wallet" class="link">{{
          "shared_text.view" | translate
        }}</a>
      </div>
      <div>
        <app-loading-card></app-loading-card>
        <app-content-box
          *ngIf="!dashboard.wallets || !dashboard.wallets.length"
          [header]="'dashboard_page.wallet_splide.title' | translate"
          [body]="'dashboard_page.wallet_splide.empty_body_text' | translate"
        ></app-content-box>
        <div id="slider" class="slider">
          <app-wallet-card
            *ngFor="let wallet of walletFilter(dashboard.wallets)"
            [style]="
              'background-image: url(' +
              wallet!.img +
              ') !important; box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7)'
            "
            [coinSymbol]="user.attributes.money_stats_settings.currencySymbol"
            [wallet]="wallet"
            [btn]="'dashboard_page.wallet_splide.btn' | translate"
            [hiddenAmount]="hidden!"
          ></app-wallet-card>
        </div>
      </div>
    </div>
    <!-- * Wallet -->
    <div align="center">
      <img
        src="{{
          environment.baseUrlDashboard
        }}assets/images/logos/logo_transparent_gray_land.png"
        alt=""
        srcset=""
        style="width: 150px"
        class="pb-1 pt-1"
      />
    </div>
  </section>

  <!-- app footer -->
  <div *ngIf="dashboard.wallets && dashboard.wallets.length" class="appFooter">
    <div class="footer-title">
      {{ getCopyright() }}
    </div>
  </div>
  <!-- * app footer -->
  <!-- app footer -->
  <div
    *ngIf="!dashboard.wallets || !dashboard.wallets.length"
    class="appFooter hidden_mobile fixed"
  >
    <div class="footer-title">
      {{ "copyright" | translate }}
    </div>
  </div>
  <!-- * app footer -->
</div>

<!--<app-add-wallet
  (emitAddWallet)="addWallet($event)"
  [modalId]="modalConstant.ADDWALLET"
  [categoriesInput]="dashboard.categories"
></app-add-wallet>-->
<app-add-wallet
  (emitAddWallet)="addWallet($event)"
  [modalId]="modalConstant.ADDWALLET"
></app-add-wallet>
<app-category-modal
  [modalId]="modalConstant.CATEGORY"
  [categories]="dashboard.categories"
></app-category-modal>
<app-update [modalId]="modalConstant.UPDATEAPP" #content></app-update>
