<!-- Alert Error Action Sheet -->
<div
  class="modal fade action-sheet"
  id="{{ modalId }}"
  tabindex="-1"
  role="dialog"
  data-bs-focus="false"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-round mx-auto">
      <div class="modal-body">
        <div class="action-sheet-content">
          <div
            *ngIf="modalId != modalConstant.RESTOREWALLET"
            class="iconbox text-danger"
          >
            <ion-icon name="alert-circle"></ion-icon>
          </div>
          <div
            *ngIf="modalId === modalConstant.RESTOREWALLET"
            class="iconbox text-success"
          >
            <ion-icon name="checkmark-circle"></ion-icon>
          </div>
          <div
            *ngIf="modalId != modalConstant.RESTOREWALLET"
            class="text-center p-2"
          >
            <h3 *ngIf="!wallet?.deletedDate">
              {{ "wallets_details_page.modal.delete_title" | translate }}
            </h3>
            <h3 *ngIf="wallet?.deletedDate">
              {{ "wallets_details_page.modal.permanent_title" | translate }}
            </h3>
            <p *ngIf="!wallet?.deletedDate">
              {{ "wallets_details_page.modal.delete_text" | translate }}
            </p>
            <p *ngIf="wallet?.deletedDate">
              {{ "wallets_details_page.modal.permanent_text" | translate }}
            </p>
          </div>
          <div
            *ngIf="modalId === modalConstant.RESTOREWALLET"
            class="text-center p-2"
          >
            <h3>
              {{ "wallets_details_page.modal.restore_title" | translate }}
            </h3>
            <p>{{ "wallets_details_page.modal.restore_text" | translate }}</p>
          </div>
          <div class="row">
            <div class="col-6">
              <a
                href="#"
                class="btn btn-primary btn-lg btn-block"
                data-bs-dismiss="modal"
                >{{ "shared_text.back" | translate }}</a
              >
            </div>
            <div *ngIf="modalId != modalConstant.RESTOREWALLET" class="col-6">
              <a
                (click)="deleteWallet(wallet!)"
                href="#"
                class="btn btn-danger btn-lg btn-block"
                data-bs-dismiss="modal"
                >{{ "wallets_details_page.modal.confirm" | translate }}</a
              >
            </div>
            <div *ngIf="modalId === modalConstant.RESTOREWALLET" class="col-6">
              <a
                (click)="restoreWallet(wallet!)"
                href="#"
                class="btn btn-primary btn-lg btn-block"
                data-bs-dismiss="modal"
                >{{ "shared_text.restore" | translate }}</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- * Alert Error Action Sheet -->
