@media screen and (min-width: 780px) {
  app-footer {
    display: none;
  }
  .section-width {
    max-width: 2000px !important;
    /*margin-left: calc(50% - 1000px);*/
  }
  .hidden_desktop {
    display: none;
  }
}

@media screen and (max-width: 780px) {
  .hidden_mobile {
    display: none;
  }
}

.clickable {
  pointer-events: visible;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.text-not-selected,
h1,
h2,
h3,
h4,
h5 a,
div,
span {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.border_round {
  border-radius: 20px !important;
}

.rounded-pill {
  border-radius: 50rem !important;
}

.buttonInput {
  height: 50px;
  width: 150px;
}

.modal-round {
  max-width: 1000px !important;
  border-radius: 20px !important;
  max-height: 550px !important;
  height: auto !important;
  width: 95% !important;
  margin-bottom: 5px;
}

body:not(.dark-mode) {
  background-color: #e5e5e5 !important;
  .box-shadow {
    background-color: #e5e5e5 !important;
    box-shadow: none !important;
  }
  .title-page {
    color: #161129;
  }
  .card-btn {
    background-color: #e5e5e5;
  }
}

body.dark-mode {
  .color-grey {
    background-color: #161129;
  }
  .title-page {
    color: #e5e5e5;
  }
}
