.iconbox {
  background-color: #f44336 !important;
}

.splash-page .iconbox {
  width: 100px;
  height: 100px;
}

.error-icon {
  height: 50px;
  width: 50px;
}

.error-section {
  width: 100% !important;
  height: 100vh !important;
  background-color: #161129 !important;
}

.backBtn {
  max-width: 1000px;
}
