<!-- App Header -->
<div class="appHeader no-border">
  <div class="left">
    <a href="#" (click)="goBack()" class="headerButton goBack">
      <!--<ion-icon name="chevron-back-outline"></ion-icon>-->
      <ion-icon name="arrow-back-outline"></ion-icon>
    </a>
  </div>
  <div class="right">
    <a (click)="showDataSwitch()" class="headerButton goBack clickable">
      <!--<ion-icon name="chevron-back-outline"></ion-icon>-->
      <ion-icon name="bug"></ion-icon>
    </a>
  </div>
  <div class="pageTitle">
    {{ exception?.error?.status }}
    <!--{{ exception?.error?.statusCode }} {{ exception?.error?.status }}-->
  </div>
  <div class="right"></div>
</div>
<!-- * App Header -->
<section class="error-section">
  <!-- App Capsule -->
  <div id="appCapsule">
    <div class="section">
      <div class="splash-page mt-5 mb-5">
        <div class="icon-wrapper pt-5">
          <div class="iconbox">
            <ion-icon class="error-icon" name="skull-outline"></ion-icon>
          </div>
        </div>
        <h2 class="mb-2">{{ exception?.error?.exceptionName }}</h2>
        <p *ngIf="showMoreData && exception?.url">
          Date: {{ exception?.dateTime | date : "d MMM y" }} <br />
          Correlation ID: {{ exception?.correlationId }} <br />
          URL: <strong>{{ exception?.url }}</strong> <br />
          Exception: {{ exception?.error?.exceptionCode }}
        </p>
        <p *ngIf="!showMoreData && exception?.url">
          Date: {{ exception?.dateTime | date : "d MMM y" }} <br />
          Exception: {{ exception?.error?.exceptionCode }}
        </p>
        <h1 *ngIf="showMoreData">
          {{ exception?.error?.statusCode }} {{ exception?.error?.status }}
        </h1>
        <p>
          {{ exception?.error?.message }}
        </p>
        <p *ngIf="showMoreData">
          {{ exception?.error?.stackTrace }}
        </p>
      </div>
    </div>

    <div class="fixed-bar">
      <div class="row">
        <div class="col-6 text-center">
          <a
            href="#"
            (click)="goBack()"
            class="btn btn-lg btn-primary btn-block backBtn"
            >Go Back</a
          >
        </div>
        <div class="col-6 text-center">
          <a
            data-bs-toggle="modal"
            attr.data-bs-target="#{{ modalConstant.REPORTBUG }}"
            class="btn btn-lg btn-primary btn-block backBtn"
            >Report Bug</a
          >
        </div>
      </div>
    </div>
  </div>
  <!-- * App Capsule -->
</section>

<app-report-bug
  [modalId]="modalConstant.REPORTBUG"
  [exception]="exception"
></app-report-bug>
