.iconbox {
  background-color: crimson !important;
}

.error-section {
  width: 100% !important;
  height: 100% !important;
  background-color: #161129 !important;
}

.backBtn {
  max-width: 1000px;
}
