<!-- toast danger -->
<div id="soon" class="toast-box toast-bottom bg-danger">
  <div class="in">
    <div class="text">Available Soon..</div>
  </div>
  <button
    (click)="closingModal()"
    type="button"
    class="btn btn-sm btn-text-light close-button"
  >
    OK
  </button>
</div>
<!-- * toast danger -->
<!-- toast warning -->
<div id="update" class="toast-box toast-bottom bg-warning">
  <div class="in">
    <div class="text">
      {{ "modal.update.avaiable" | translate }}
    </div>
  </div>
  <button (click)="closingModal()" type="button" class="btn btn-sm btn-text-light close-button">
    OK
  </button>
</div>
<!-- * toast warning -->
